.box_title{
	margin-bottom		:30px;
	position			:relative;
	width				:1200px;;
	z-index				:5
}

.title_0{
	display				:inline-block;
	height				:10px;
	left				:0;
	margin				:auto;
	position			:absolute;
	right				:0;
	top					:70px;
	width				:800px;
}

.title_1{
	bottom				:0;
	display				:inline-block;
	height				:80px;
	left				:0;
	margin				:auto;
	position			:absolute;
	right				:0;
	top					:0;
	transform			:rotate(-45deg) skew(35deg, 35deg);
	width				:80px;
}

.title_2{
	border				:2px solid;
	border-radius		:50%;
	display				:inline-block;
	height				:25px;
	left				:0;
	margin				:auto;
	position			:absolute;
	right				:0;
	top					:-10px;
	width				:25px;
}

.title_3,.title_4{
	display				:inline-block;
	height				:30px;
	position			:absolute;
	top					:-10px;
	transform			:rotate(-45deg) skew(20deg, 20deg);
	width				:30px;
}

.title_3{
	left				:-7px;
}

.title_4{
	right				:-7px;
}

.title_5,.title_6,.title_7,.title_8{
	border				:1px solid;
	border-radius		:50%;
	display				:inline-block;
	height				:16px;
	position			:absolute;
	width				:16px;
}

.title_5{
	left				:370px;
	top					:0;
}

.title_6{
	right				:370px;
	top					:0;
}

.title_7{
	left				:15px;
	top					:-5px;
}

.title_8{
	right				:15px;
	top					:-5px;
}

.title_d{
	display				:inline-block;
	height				:3px;
	left				:0;
	margin				:auto;
	position			:absolute;
	right				:0;
	top					:60px;
	width				:240px;
}

.title_main{
	display				:inline-block;
	font-size			:50px;
	font-weight			:800;
	height				:60px;
	line-height			:60px;
	margin				:0px auto 35px auto;;
	text-align			:center;
	width				:800px;
}

.title_sub{
	display				:inline-block;
	font-size			:25px;
	font-weight			:800;
	height				:30px;
	line-height			:30px;
	text-align			:center;
	width				:800px;
}

.title_u1,.title_u2{
	display				:inline-block;
	height				:2px;
	position			:absolute;
	top					:-6px;
	width				:300px;
}

.title_u1{
	left				:30px;
}

.title_u2{
	right				:30px;
}
@media screen and (max-width: 959px){

.box_title{
	margin-bottom		:5vw;
	width				:100vw;
}


.title_0{
	height				:1vw;
	top					:12vw;
	width				:80vw;
}

.title_1{
	height				:8vw;
	width				:8vw;
}

.title_2{
	border				:0.5vw solid;
	border-radius		:50%;
	height				:3vw;
	top					:-2vw;
	width				:3vw;
}

.title_3,.title_4{
	height				:3vw;
	top					:-1vw;
	width				:3vw;
}

.title_3{
	left				:-1vw;
}

.title_4{
	right				:-1vw;
}

.title_5,.title_6,.title_7,.title_8{
	border-radius		:50%;
	height				:2vw;
	width				:2vw;
}

.title_5{
	left				:35.5vw;
	top					:-0.5vw;
}

.title_6{
	right				:35.5vw;
	top					:-0.5vw;
}

.title_7{
	left				:1.5vw;
	top					:-0.5vw;
}

.title_8{
	right				:1.5vw;
	top					:-0.5vw;
}

.title_d{
	height				:0.5vw;
	top					:10vw;
	width				:30vw;
}

.title_main{
	font-size			:6vw;
	height				:10vw;
	line-height			:10vw;
	margin				:0px auto 3vw auto;
	width				:80vw;
}

.title_sub{
	font-size			:4vw;
	height				:6vw;
	line-height			:12vw;
	width				:80vw;
}

.title_u1,.title_u2{
	height				:1px;
	top					:-1vw;
	width				:30vw;
}

.title_u1{
	left				:5vw;
}

.title_u2{
	right				:5vw;
}

}

.title_0{
	background			:linear-gradient(#909090 0%, #c8b880 70%, #909090 100%);
}

.title_u1,.title_u2{
	background			:#c8b880;
}

.title_1,.title_3,.title_4{
	background			:linear-gradient(225deg, #909090 0%, #c8b880 70%, #909090 100%);
}

.title_2,.title_5,.title_6,.title_7,.title_8{
	border-color		:#ffffff;
	background			:linear-gradient(135deg, #ffffff 0%, #c0c0fa 70%, #9090ff 100%);
}

.title_d{
	background			:#c8b880;
}

.title_main,.title_sub{
	color				:#c8b880;
}

