*{
	font-family			:"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

table{
	border			:1px solid #303030;
	border-collapse	:collapse;
	border-spacing	:0;
	background		:#ffffff;
	empty-cells		:show;
}

td{
	border		:1px solid #b0b0b0;
	padding		:3px;
	font-size	:13px;
	color		:#000000;
	text-align	:left;
}

.top{
	background	:#f0f0ff;
	text-align	:center;
}

/*
.top2{
	background	:#0000d0;
	text-align	:center;
	color:#ffffff;
}
*/


.top1{
	background	:#fff0ff;
	text-align	:center;
}

.top2{
	background	:#f0fff0;
	text-align	:center;
}

.top0{
	background	:#fff0f0;
	text-align	:center;
}


.center{
	text-align:center;
}

.date_box{
	height			:30px;
	width			:85px;
	padding-left	:5px;
}

.form_btn{
	padding:5px 20px;

}

.outbox{
	display			:inline-block;
	margin			:3px;
	vertical-align	:top;
	text-align		:left;
}

.flex_case{
	display			:inline-block;
	vertical-align	:top;
	margin			:5px;
}


.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}

.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}

.w210{width:210px;}
.w220{width:220px;}
.w230{width:230px;}
.w240{width:240px;}
.w250{width:250px;}
.w260{width:260px;}
.w270{width:270px;}
.w280{width:280px;}
.w290{width:290px;}
.w300{width:300px;}

.w310{width:310px;}
.w320{width:320px;}
.w330{width:330px;}
.w340{width:340px;}
.w350{width:350px;}
.w360{width:360px;}
.w370{width:370px;}
.w380{width:380px;}
.w390{width:390px;}
.w400{width:400px;}

.w410{width:410px;}
.w420{width:420px;}
.w430{width:430px;}
.w440{width:440px;}
.w450{width:450px;}
.w460{width:460px;}
.w470{width:470px;}
.w480{width:480px;}
.w490{width:490px;}
.w500{width:500px;}

.w510{width:510px;}
.w520{width:520px;}
.w530{width:530px;}
.w540{width:540px;}
.w550{width:550px;}
.w560{width:560px;}
.w570{width:570px;}
.w580{width:580px;}
.w590{width:590px;}
.w600{width:600px;}

.w610{width:610px;}
.w620{width:620px;}
.w630{width:630px;}
.w640{width:640px;}
.w650{width:650px;}
.w660{width:660px;}
.w670{width:670px;}
.w680{width:680px;}
.w690{width:690px;}
.w700{width:700px;}

.w710{width:710px;}
.w720{width:720px;}
.w730{width:730px;}
.w740{width:740px;}
.w750{width:750px;}
.w760{width:760px;}
.w770{width:770px;}
.w780{width:780px;}
.w790{width:790px;}
.w800{width:800px;}


.wb30{flex-basis:30px;}
.wb40{flex-basis:40px;}
.wb50{flex-basis:50px;}
.wb60{flex-basis:60px;}
.wb70{flex-basis:70px;}
.wb80{flex-basis:80px;}
.wb90{flex-basis:90px;}

.wb100{flex-basis:100px;}
.wb110{flex-basis:110px;}
.wb120{flex-basis:120px;}
.wb130{flex-basis:130px;}
.wb140{flex-basis:140px;}
.wb150{flex-basis:150px;}
.wb160{flex-basis:160px;}
.wb170{flex-basis:170px;}
.wb180{flex-basis:180px;}
.wb190{flex-basis:190px;}
.wb200{flex-basis:200px;}

.wb210{flex-basis:210px;}
.wb220{flex-basis:220px;}
.wb230{flex-basis:230px;}
.wb240{flex-basis:240px;}
.wb250{flex-basis:250px;}
.wb260{flex-basis:260px;}
.wb270{flex-basis:270px;}
.wb280{flex-basis:280px;}
.wb290{flex-basis:290px;}
.wb300{flex-basis:300px;}

.wb310{flex-basis:310px;}
.wb320{flex-basis:320px;}
.wb330{flex-basis:330px;}
.wb340{flex-basis:340px;}
.wb350{flex-basis:350px;}
.wb360{flex-basis:360px;}
.wb370{flex-basis:370px;}
.wb380{flex-basis:380px;}
.wb390{flex-basis:390px;}
.wb400{flex-basis:400px;}

.wb410{flex-basis:410px;}
.wb420{flex-basis:420px;}
.wb430{flex-basis:430px;}
.wb440{flex-basis:440px;}
.wb450{flex-basis:450px;}
.wb460{flex-basis:460px;}
.wb470{flex-basis:470px;}
.wb480{flex-basis:480px;}
.wb490{flex-basis:490px;}
.wb500{flex-basis:500px;}

.wb510{flex-basis:510px;}
.wb520{flex-basis:520px;}
.wb530{flex-basis:530px;}
.wb540{flex-basis:540px;}
.wb550{flex-basis:550px;}
.wb560{flex-basis:560px;}
.wb570{flex-basis:570px;}
.wb580{flex-basis:580px;}
.wb590{flex-basis:590px;}
.wb600{flex-basis:600px;}

.wb610{flex-basis:610px;}
.wb620{flex-basis:620px;}
.wb630{flex-basis:630px;}
.wb640{flex-basis:640px;}
.wb650{flex-basis:650px;}
.wb660{flex-basis:660px;}
.wb670{flex-basis:670px;}
.wb680{flex-basis:680px;}
.wb690{flex-basis:690px;}
.wb700{flex-basis:700px;}

.wb710{flex-basis:710px;}
.wb720{flex-basis:720px;}
.wb730{flex-basis:730px;}
.wb740{flex-basis:740px;}
.wb750{flex-basis:750px;}
.wb760{flex-basis:760px;}
.wb770{flex-basis:770px;}
.wb780{flex-basis:780px;}
.wb790{flex-basis:790px;}
.wb800{flex-basis:800px;}


.red{background:#fff0f0}
.blue{background:#f0f8ff}
.yerrow{background:#fafaea}
.green{background:#f0fffa}
.purple{background:#f0e0ff}

.right{
	text-align	:right;
	padding-right:5px;
}

.left{
	text-align	:left;
	padding-left:5px;
}

.bottom1{
	border-bottom	:1px solid #000080;
}

.bottom2{
	border-bottom	:2px solid #000000;
}
.bottom3{
	border-bottom	:3px double #000000;
}

.right1{
	border-right	:1px solid #000080;
}

.right2{
	border-right	:2px solid #000000;
}

.textbox{
	font-size	:14px;
	height		:24px;
}

