*{
	box-sizing:content-box;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}


.eve_box{
	width:900px;
	margin:0 10px;
}
.eve_box_notice{
	width		:600px;
	margin		:0 auto;
	background	:#ffffe0;
	font-size	:16px;
	line-height	:22px;
	padding		:15px;
	text-align	:left;
	border		:1px solid #202020;
}

.eve_title,.eve_title1,.eve_title2{
	width		:100%;
	height		:40px;
	display		:flex;
	background	:#fafafa;
	font-size	:16px;
	font-weight	:700;
	border:1px solid #000000;
}

.eve_title_box{
	flex-basis:		:200px;
	height			:40px;
	line-height		:40px;
	text-align		:left;
	padding-left	:5px;
}

.eve_title_no{
	flex-basis:		:40px;
	height			:40px;
	line-height		:40px;
	text-align		:left;
	padding-left	:5px;
}

.eve_log{
	display:none;
}

.eve_log_in{
	display			:flex;
	height			:40px;
}

.eve_log_name{
	border-bottom	:1px solid #303030;
	font-size		:16px;
	padding			:3px;
	width			:400px;
	flex-basis		:400px;
	margin			:5px 
}

.eve_log_birth{
	display			:inline-block;
	font-size		:16px;
	padding			:3px;
}

.eve_log_btn{
	font-size		:16px;
	height			:24px;
	width			:80px;
	margin			:5px 5px 5px 30px;;
	display			:inline-block;
}


.eve_log_log{
	
	font-size		:16px;
	line-height		:23px;
	padding			:10px;
	background		:#fafaff;
	width			:880px;
	min-height		:70px;
	margin-bottom	:5px;
}

.eve_log_answer{
	font-size		:16px;
	height			:600px;
	line-height		:23px;
	padding			:5px;

	width			:890px;
	resize			:none;
}


@media screen and (max-width: 768px){



.eve_box{
	width		:98vw;
	margin		:0 auto;
}
.eve_box_notice{
	width		:80vw;
	margin		:0 auto;

	font-size	:4vw;
	line-height	:5.5vw;
	padding		:1vw;
}

.eve_title,.eve_title1,.eve_title2{
	width		:100%;
	height		:8vw;
	font-size	:4vw;
}

.eve_title1{
}

.eve_title2{
}

.eve_title_box{
	flex-basis:		:30vw;
	height			:8vw;
	line-height		:8vw;
	text-align		:left;
	padding-left	:1vw;
}

.eve_title_no{
	flex-basis:		:8vw;
	height			:8vw;
	line-height		:8vw;
	text-align		:left;
	padding-left	:1vw;
}

.eve_log{
}

.eve_log_in{
	height			:27vw;
	flex-wrap		:wrap;
}

.eve_log_name{
	font-size		:3.5vw;
	height			:7vw;
	padding			:0.5vw;
	width			:96vw;
	flex-basis		:96vw;
	margin			:0.5vw; 
}

.eve_log_birth{
	font-size		:3.5vw;
}

.eve_log_btn{
	font-size		:4vw;
	height			:6vw;
	width			:10vw;
	flex-basis		:96vw;
	margin			:0.5vw; 
}


.eve_log_log{
	font-size		:3.5vw;
	line-height		:5vw;
	padding			:1vw;
	width			:96vw;
	mihn-height		:12vw;
}

.eve_log_answer{
	font-size		:4.5vw;
	height			:60vw;
	line-height		:6.5vw;
	padding			:1vw;

	width			:96vw;
}



}

.eve_title1{
	background	:#ffe0e0;
}

.eve_title2{
	background	:#e8e8ff;
}

.eve_title3{
	background	:#e8e8e8;
}




