*{
	-webkit-appearance: none;
	-webkit-text-size-adjust: 100%;
}

a{
	text-decoration:none !important;
	transition-property:none !important;
}

.p1_box_a{
	padding			:5px;
	margin			:30px;
	background		:#fafafa;
	box-shadow		:#fafafa 0 0 10px 10px;
	font-size		:18px;
	text-align		:left;
}

.p1_box_a_1{

	padding			:5px
	font-size		:18px;
	text-align		:left;
}

.p1_box_a_2{
	padding			:10px;
	font-size		:20px;
	line-height		:35px;
	text-align		:left;
}

.p1_box_a_3{
	padding			:10px;
	margin			:0 10px;
	font-size		:18px;
	text-align		:left;
	line-height		:24px;
	background		:#e0e0e0;
	color			:#000000;
}

.p1_box_a_4{
	padding			:10@x;
	margin			:0vw 10px;
	font-size		:16px;
	text-align		:left;
	line-height		:24px;
	background		:#e0e0e0;
	color			:#000000;
}



.p1_h3{
	display			:block;
	width			:1200px;
	background		:#fafafa;
	font-weight		:600;
	color			:#00004d;
	padding			:10px;
	font-size		:20px;
	text-align		:left;
	border-left		:20px solid #000090;
}

.box_0{
	display			:inline-block;
	position		:relative;
	width			:96vw;
	height			:20vw;
	border			:0.5vw solid #0000d0;
	background		:#f0f0f0;	
	text-decoration	:none;
}

.box_pic{
	position	:absolute;
	top			:1vw;
	left		:1vw;
	height		:18vw;
	width		:18vw;
}

.box_txt{
	display		:inline-block;
	position	:absolute;
	top			:0vw;
	left		:20vw;
	height		:19vw;
	width		:75vw;
	text-align	:left;
	background	:#fafafa;
	box-shadow	: 0 0 20px rgba(140,140,240,0.5) inset; 
	padding-left:2vw;
}

.box_nam{
	display		:inline-block;
	height		:7.5vw;;
	width		:77vw;
	font-size	:5vw;
	line-height	:8vw;
	color		:#303030;
	font-weight	:600;
}
	
.box_dan,.box_sen{
	display		:inline-block;
	width		:77vw;
	height		:5vw;
	font-size	:4vw;
	color		:#ffffff;
}

.box_dan{
	color		:#008000;
}

.box_sen{
	color		:#0000d0;
}

/*
.box_pts{
	width:80%;
	position:relative;
	margin:10px auto;
	text-align:center;
	border:1px solid #6b4a2b;
	padding: 5px; 
	background: #ffffff; 
	box-shadow: 0 0 60px rgba(40,30,140,0.2) inset, 5px 5px 0 #000000; 
	line-height:120%;
	background:#f5f0ff;
	border-radius:5px;
}
*/

.p2_box_a{
	margin		:2vw auto;
	display		:inline-block;
	position	:relative;
	width		:90vw;	
	height		:22vw;
	background	:linear-gradient(135deg,#dddddd,#eeeeee);
	box-shadow	:0.5vw 0.5vw 0.5vw rgba(30,30,30,0.5);
}

.p2_img{
	position	:absolute;
	top			:1vw;
	left		:1vw;
	width		:20vw;	
	height		:20vw;
}

.p2_box_b{
	display		:inline-block;
	position	:absolute;
	top			:6.6vw;
	left		:22vw;
	width		:66vw;
	height		:14.5vw;
	font-size	:3.5vw;
	line-height	:5vw;
	text-align	:left;
	overflow	:hidden;
}

.p2_box_n{
	display		:inline-block;
	position	:absolute;
	top			:1vw;
	left		:22vw;
	width		:60vw;
	line-height	:5vw;
	height		:5vw;
	font-size	:4vw;
	text-align	:left;
	border-bottom:1px solid #303030;
}

.p2_box_c{
	width		:58vw;
	height		:10vw;
	line-height	:9vw;
	font-size	:3.6vw;
	text-align	:center;
	color		:#303030;
	border		:1vw solid #fae0a0;
	background 	:#ffe0c0;
	margin		:3vw auto;
}


.p2_box_d{
	margin		:2vw auto;
	display		:block;
	position	:relative;
	width		:84vw;	
	line-height	:5vw;
	background	:#e0e0e0;
	box-shadow	:0.5vw 0.5vw 0.5vw rgba(30,30,30,0.5);
	padding		:2vw;
	font-size	:4vw;
}


.p2_box_e{
	margin		:2vw auto;
	display		:block;
	width		:40vw;	
	height		:8vw;
	line-height	:8vw;
	background	:linear-gradient(#a0a0c0,#8080a0);
	font-weight	:600;
	color:#fafafa !important;
	font-size	:4vw;
}

.pt_btn{
	width		:40vw;
	height		:8vw;
	font-size	:4vw;
	font-weight	:700;	
	color		:#fafafa;
	text-shadow	:2px 2px 2px #303030;
}

.c1{
	background:linear-gradient(#ffc000,#c09000);
}

.c2{
	background:linear-gradient(#eeeeee,#cccccc);
}

.flex{
	display		:flex;
	width		:1190px;
	margin		:10px auto 5px auto;
	background	:#fafafa;
	flex-wrap	:wrap;
	justify-content: flex-start;
	padding		:5px;
}

.flex_box_none{
	position	:relative;
	display		:inline-block;
	flex-basis	:190px;
	height		:230px;
	text-align	:center;
	margin		:3px;
}

.flex_p{
	width		:190px;
	height		:190px;
}

.flex_m{
	display		:inline-block;
	width		:190px;
	height		:40px;
	margin		:auto;
	background	:#031F4C;
	color		:#fafafa;
	font-size	:16px;
	line-height	:40px;
	text-align	:center;
	overflow	:hidden;
}

.flex_s{
	position	:absolute;
	bottom		:5vw;
	right		:1.5vw;
	display		:inline-block;
	width		:12vw;
	height		:5vw;
	color		:#fafafa;
	font-size	:3.5vw;
	line-height	:5vw;
	text-align	:center;
	box-shadow	:1px 1px 0 rgba(0,0,0,1); 
	font-weight	:600;
	border-radius:0.5vw;
}

.flex_box_ww{
	position	:relative;
	display		:inline-block;
	flex-basis	:290px;
	height		:175px;
	text-align	:center;
	margin		:3px;
	background	:#e0e0e0;
}

.flex_p_w{
	position	:absolute;
	top			:5px;
	left		:5px;
	width		:120px;
	height		:120px;
}

.flex_d_w{
	display		:inline-block;
	position	:absolute;
	right		:10px;
	width		:150px;
	height		:25px;
	margin		:auto;
	color		:#303030;
	font-size	:17px;
	line-height	:22px;
	text-align	:right;
	overflow	:hidden;
}

.w0{
	top			:105px;
}

.w1{
	top			:80px;
}

.w2{
	top			:55px;
}

.flex_m_w{
	display		:inline-block;
	position	:absolute;
	top			:130px;
	left		:5px;
	width		:275px;
	height		:40px;
	margin		:auto;
	background	:#031F4C;
	color		:#fafafa;
	font-size	:22px;
	line-height	:40px;
	text-align	:left;
	overflow	:hidden;
	padding-left:5px;
}

.flex_s_w{
	position		:absolute;
	top				:10px;
	right			:10px;
	display			:inline-block;
	width			:100px;
	height			:40px;
	color			:#fafafa;
	font-size		:20px;
	line-height		:40px;
	text-align		:center;
	box-shadow		:1px 1px 0 rgba(0,0,0,1); 
	font-weight		:600;
	border-radius	:5px;
}

.flex_s1{
	background:linear-gradient(#00c000,#008000);
}

.flex_s2{
	background:linear-gradient(#d0d0d0,#c0c0c0);
}

.flex_s3{
	background:linear-gradient(#c0a000,#a09000);
}

.flex_s4{
	background:linear-gradient(#c0c0c0,#a0a0a0);
}

.flex_s5{
	background:linear-gradient(#ffb6c1,#ff90a0);
}


.box_a_0{
	width		:90vw;
	padding		:1.5vw;
	background	:#e0e0e0;
//	border-left	:3vw solid #0000d0;
	margin		:0 auto;
	text-align	:left;
	font-weight	:600;
	font-size	:3.5vw;
}
.box_a_1{
	width		:90vw;
	padding		:2vw;
	background	:#fafafa;
//	border		:1vw solid #0000d0;
	margin		:0 auto 3vw auto;
	text-align	:left;
	font-size	:3.5vw;
}


.page ,.page_p{
	display		:inline-block;
	position:relative;
	background	:linear-gradient(#d0d0d0,#c0c0c0);
	font-size	:4vw;
	font-weight	:800;
	color		:#fafafa;
	height		:6vw;
	line-height	:6vw;
	width		:6vw;
	text-align	:center;
	text-shadow	:2px 2px 0px #303030;
	margin		:1vw;
	border-radius:1vw;
	cursor		:pointer;
}

.sorry{
	display		:none;
	position	:fixed;
	top			:0;
	left		:0;
	right		:0;
	bottom		:0;
	margin		:auto;
	width		:60vw;
	height		:20vh;
	border		:1px solid #c00000;
	background	:#fafafa;
	color		:#303030;
	padding		:2vw;
	font-size	:4vw;
	box-shadow	:0.5vw 0.5vw 0.5vw 0.5vw rgba(60,60,60,0.5);
	text-align	:left;
}

.call_box{	
	display		:none;
	width		:55vw;
	border		:1vw solid #00a0c0;
	background	:#fafafa;
	color		:#303030;
	padding		:2vw;
	font-size	:4vw;
	margin		:1vw auto;
}

.ng_box{
	display		:none;
	width		:50vw;
	height		:30vw;
	border		:1vw solid #d00000;
	background	:#fafafa;
	color		:#303030;
	padding		:2vw;
	font-size	:4vw;
	margin		:1vw auto;

}

.tel_set{
	display			:inline-block;
	margin			:1vw auto;
	padding			:1vw 3vw;
	background		:linear-gradient(#00a000,#008000);
	color			:#fafafa;
	font-weight		:700;
	border-radius	:1vw;
	font-size		:4vw;
	text-decoration	:none;
}


.to_top_n, .to_top_n2,.to_top_p, .to_top_p2{
	display			:block;
	position		:absolute;
	top				:0;
	bottom			:0;
	height			:3vw;
	width			:3vw;
	border-top		:1vw solid #b08000;
	border-right	:1vw solid #b08000;
	border-top		:1vw solid #fafafa;
	border-right	:1vw solid #fafafa;
	transform-origin:center;
	margin			:auto;
}

.to_top_n{
	right			:0vw;
	transform		:rotate(225deg);
}

.to_top_n2{
	right			:2vw;
	transform		:rotate(225deg);
}

.to_top_p{
	left			:0vw;
	transform		:rotate(45deg);
}

.to_top_p2{
	left			:2vw;
	transform		:rotate(45deg);
}


.pg_box_flex{
	position	:relative;
	display		:flex;
	width		:68vw;
	margin		:2vw auto;
	background	:#fafafa;
	font-size	:0;
	border-top	:0.5vw solid #ffffff;	
	border-bottom:0.5vw solid #ffffff;	
}


.pg_box{
	display		:block;
	position	:relative;
	width		:50vw;
	flex-basis	:50vw;
	margin		:0 auto;
	overflow	:hidden;	
	height		:8vw;
}

.pg_box_in{
	display		:inline-block;
	position	:absolute;
	top			:0;
	bottom		:0;
	left		:0;
	margin		:auto;
	height		:8vw;
	font-size:0;
}
.fav{
	position	:relative;
	display		:inline-block;
	flex-basis	:230px;
	height		:275px;
	background	:#0000d0;
	margin		:4px;
	color		:#fafafa !important;
}

.fav_p{
	position	:absolute;
	top			:10px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:210px;
	height		:210px;
}

.fav_m{
	position	:absolute;
	top			:225px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:205px;
	height		:40px;
	line-height	:40px;
	background	:#fafafa;
	font-size	:18px;
	overflow	:hidden;
	color		:#202020;
	text-align	:left;
	padding-left:5px;
}

.fav_s{
	display		:inline-block;
	position	:absolute;
	top			:175px;
	right		:15px;
	width		:100px;
	height		:40px;
	font-size	:20px;
	line-height	:40px;
	text-align	:center;
	box-shadow	:1px 1px 0 rgba(0,0,0,1); 
	font-weight	:600;
	border-radius:5px;
}





.pg_box_chg{
	display		:block;
	width		:80vw;
	margin		:1vw auto 2vw auto;
	background	:#e0e0ff;
	padding		:0.5vw;
	height		:8vw;
	line-height	:8vw;
	text-align	:center;
	font-size	:4.5vw;
	font-weight	:600;
	color		:#202020;
}

.prof_box_img_top{
	width			:200px;
	margin			:20px auto 0vw auto;
	height			:30px;
	line-height		:30px;
	font-size		:24px;
	font-weight		:600;
	color			:#806000;
}

.prof_box_img_out{
	background		:linear-gradient(135deg,#d8c890 0%, #e0d098 50% , #c8b880 100%);
	position		:relative;
	width			:220px;
	height			:90px;
	border-top		:5px solid #f8e8b0;
	border-left		:5px solid #f8e8b0;
	border-right	:5px solid #483800;
	border-bottom	:5px solid #483800;
	margin			:0 auto 10px auto;
}

.prof_box_img{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	width			:190px;
	height			:60px;
	margin			:auto;
	border-top		:3px solid #483800;
	border-left		:3px solid #483800;
	border-right	:3px solid #f8e8b0;
	border-bottom	:3px solid #f8e8b0;
	text-align		:center;
	line-height		:60px;
	font-size		:40px;
	color			:#c8b880;
	font-weight		:800;
	background		:linear-gradient(135deg,#fff8f0, #f8f0e8);
	text-shadow		:2px 2px 0 #201000;
}
