.box2025_body{
	margin		:0;
	padding		:0;
	background	:#f0e0a0;
	background	:#fafafa;
}

.box2025{
	width		:96vw;
	border		:1.5vw solid #685820;
	border		:1px solid #303030;
	background	:#f0e8c0;
	background	:radial-gradient(#FFFFEC 40%,#d8d0a0 100%);
	box-shadow	:1vw 1vw 1vw rgba(30,30,30,0.5);
	margin		:3vw 3vw 3vw 1vw;
}

.box2025_top{
	color		:#311500;
	font-size	:8vw;
	text-align	:center;
	font-weight	:900;
	width		:90vw;
	margin		:2vw auto;
	line-height	:10vw;
}

.box2025_title{
	color		:#311500;
	font-size	:6vw;
	text-align	:center;
	font-weight	:700;
	margin		:5vw auto 2vw auto;
	width		:90vw;
}

.box2025_comm{
	color		:#272622;
	color		:#575757;
	font-size	:4vw;
	text-align	:left;
	line-height	:6vw;
	margin		:1vw auto;
	width		:90vw;
}


.box2026_body{
	margin		:0;
	padding		:0;
	background	:#f0e0a0;
	background	:#fafafa;
}

.box2026{
	width			:96vw;
	border			:1px solid #303030;
	background		:radial-gradient(#FFFFEC 70%,#e8e0b0 100%);
	box-shadow		:1vw 1vw 1vw rgba(30,30,30,0.5);
	margin			:3vw auto;
}

.box2026_top{
	color		:#311500;
	font-size	:8vw;
	text-align	:center;
	font-weight	:900;
	width		:90vw;
	margin		:2vw auto;
	line-height	:10vw;
}

.box2026_title{
	color		:#311500;
	font-size	:6vw;
	text-align	:center;
	font-weight	:700;
	margin		:5vw auto 2vw auto;
	width		:90vw;
}

.box2026_comm{
	color		:#272622;
	color		:#72650F;
	font-size	:4vw;
	text-align	:left;
	line-height	:6vw;
	margin		:1vw auto 5vw auto;
	width		:90vw;
}

.box2026_tbl{
	margin			:2vw auto;
	border			:3px solid #988850;
	border-collapse	:collapse;
}

.box2026_td,.box2026_td0{
	border		:1px solid #988850;
	font-size	:4vw;
	color		:#72650f;
	width		:35vw;
	height		:6vw;
	padding		:0.5vw;
}

.box2026_td0{
	width		:20vw;
	text-align	:center;
}

.pdf_menu{
	position		:fixed;
	bottom			:-58vw;
	left			:0;
	right			:0;
	margin			:auto;
	width			:90vw;
	height			:70vw;
	border-radius	:2vw 2vw 0 0 ;
	background		:#e0c0a0;
	overflow		:hidden;
}

.pdf_title{
	text-align		:center;
	margin			:0 auto 5vw auto;
	width			:90vw;
	height			:8vw;
	line-height		:7vw;
	font-size		:4vw;
	color			:#fafafa;
	background		:#c0a080;
}

.pdf_back{
	position		:fixed;
	bottom			:0;
	left			:0;
	right			:0;
	margin			:auto;
	width			:90vw;
	height			:120vw;
}

.pdf_menu_in{
	position		:relative;
	border-bottom	:1px solid #171717;
	height			:16vw;
	width			:80vw;
	background		:#fafafa;
	color			:#606060;
	margin			:0 auto;
}

.pdf_menu_in_icon{
	position	:absolute;
	top			:0;
	left		:0;
	text-align	:center;
	font-size	:12vw;
	width		:16vw;
	height		:16vw;
	line-height	:16vw;
}

.pdf_menu_in_comm{
	position	:absolute;
	top			:6vw;
	left		:16vw;
	text-align	:left;
	font-size	:7vw;
	width		:60vw;
	height		:10vw;
	line-height	:10vw;
	font-weight	:900;
}

.pdf_menu_in_at{
	position	:absolute;
	top			:2vw;
	left		:16vw;
	text-align	:left;
	font-size	:3vw;
	width		:60vw;
	height		:4vw;
	line-height	:4vw;
	font-weight	:700;
	color		:#c00000;
}


.m_no{
	width		:94vw;
	height		:14vw;
	position	:relative;
	background	:#f17766;
	color		:#fafafa;
	margin		:2vw auto;
}

.m_no_icon{
	width		:14vw;
	height		:12vw;
	line-height	:12vw;
	position	:absolute;
	top			:0;
	bottom		:0;
	left		:0;
	margin		:auto;
	font-size	:11vw;
	text-align	:center;
}

.m_no_id{
	height		:14vw;
	line-height	:14vw;
	position	:absolute;
	top			:0;
	bottom		:0;
	left		:16vw;
	margin		:auto;
	font-size	:10vw;
	text-align	:center;
	font-weight	:900;
}

.m_comm{
	font-size	:4vw;
	margin		:0.5vw auto 5vw auto;
	background	:#fff0f0;
	padding		:1vw;
	color		:#906060;
	width		:90vw;
	height		:12vw;
	line-height	:6vw;
}

.m_title{
	font-size		:5vw;
	margin			:1vw auto;
	background		:#fafafa;
	padding			:1.5vw;
	color			:#f17766;
	border-bottom	:1vw solid #f17766;
	border-left		:5vw solid #f17766;
	height			:8vw;
}


.m_guide{
	margin			:1vw auto;
	font-size		:3.5vw;
	line-height		:5.5vw;
	color			:#303030;
	width			:90vw;
}


