*{
-webkit-appearance: none;
 -webkit-text-size-adjust: 100%;
}

a{
	text-decoration:none !important;
}

.p2_box_a{
	margin:2vw auto;
	display		:inline-block;
	position	:relative;
	width		:40vw;	
	height		:40vw;
	background	:linear-gradient(135deg,#dddddd,#eeeeee);
	box-shadow	:0.5vw 0.5vw 0.5vw rgba(30,30,30,0.5);
}

.p2_img{
	position	:absolute;
	top			:1vw;
	left		:1vw;
	width		:38vw;	
	height		:38vw;
}

.p2_box_a_1{
	display		:inline-block;
	width		:40vw;
	height		:6vw;
	line-height	:6vw;
	padding-left:1vw;
	border-bottom:1vw solid #fafafa;
	margin:0 auto;
}

.p2_box_c{
	display		:inline-block;
	width		:38vw;
	height		:15vw;
	line-height	:6vw;
	padding		:2vw;
	font-size	:4vw;
	text-align	:left;
	color		:#303030;
	border		:1vw solid #fae0a0;
}



.pt_btn{
	width		:40vw;
	height		:10vw;
	font-size	:6vw;
	font-weight	:700;	
	color		:#fafafa;
	text-shadow	:0.5vw 0.5vw 0vw #303030;
}

.c1{
	background:linear-gradient(#ffc000,#c09000);
}

.c2{
	background:linear-gradient(#eeeeee,#cccccc);
}



