//#2D1508
//#D6C6AF


.box_0{
	border		:1vw solid #2D1508
	padding		:2vw;
	height		:10vw;
	line-height	:90vw;
	border-radius:3vw;
	margin		:2vw auto;
	font-size	:3.8vw;
	line-height	:6vw;
}

.box_1{
	position		:relative;
	margin-right	:2vw;
	height			:8vw;
	line-height		:8vw;
	width			:60vw;
	background		:#linear-gradient(#5D4538,#2D1508);
}

.box_1_1{
	position	:absolute;
	top			:0;
	bottom		:0;
	left		:1vw;
	border		:2px solid #2D1508;
	height		:5vw;
	line-height	:5vw;
	width		:5vw;
	border-radius:50%;
	background:#fafafa;
}

.box_1_2{
	position	:absolute;
	top			:0;
	bottom		:0;
	left		:1vw;
	height		:2.5vw;
	width		:2.5vw;
	transform	:rotate(45deg);
	border-top	:2px solid #2D1508;
	border-right:2px solid #2D1508;
}



