.flex{
	display		:inline-flex;
	width		:98vw;
	margin		:2vw auto;
	background	:#906000;
	flex-wrap	:wrap;
	justify-content: flex-start;
	padding		:1vw;
}

.flex_box{
	display		:inline-block;
	flex-basis	:22vw;
	height		:27vw;
	text-align	:center;
	margin		:1vw;
}

.flex_p{
	width		:22vw;
	height		:22vw;
}

.flex_m{
	display		:inline-block;
	width		:22vw;
	height		:5vw;
	margin		:0 auto;
	text-align	:center;
	background	:#fafafa;
	color		:#6090ff;
	font-weight	:600;
	font-size	:3.2vw;
	line-height	:5vw;
	text-align	:center;
	overflow	:hidden;
}

.pop00{
	display		:none;
	position	:fixed;
	top			:-10vh;
	height		:120vh;
	left		:-10vw;
	width		:120vw;
	background	:rgba(100,100,100,0.4);
	z-index		:15;
}


.pop00_a{
	position	:absolute;
	top			:20vh;
	left		:0;
	right		:0;
	margin		:auto;
	width		:84vw;
	border		:2vw solid #e0d0ff;
	background	:#f0f2ff;
	padding		:2vw;
}

.pop00_b{
	position	:absolute;
	top			:1vw;
	left		:1vw;
	width		:15vw;
	height		:15vw;
	background	:#0000ff;
}

.pop00_c{
	position	:absolute;
	top			:1vw;
	left		:17vw;
	width		:63vw;
	height		:15vw;
	background	:#df0000;
}

.pop00_d{
	position	:relative;
	width		:78vw;
	background	:#fff0ef;
	text-align	:left;
	font-size	:4vw;
}



.pop00_e{
	position	:absolute;
	bottom		:-5vw;
	right		:-5vw;
	width		:10vw;
	height		:10vw;
	line-height	:9vw;
	text-align	:center;
	background	:#000090;
	border		:1vw solid #fafafa;
	border-radius:50%;
	font-weight	:1000;
	color		:#fafafa;	
	transform: rotate(90deg);
}

.pop00_f{
	position	:absolute;
	top			:-5vw;
	right		:-5vw;
	width		:12vw;
	height		:12vw;
	line-height	:9vw;
	text-align	:center;	
	background	:#f0f2ff;
	border		:2vw solid #e0d0ff;
	border-radius:4vw;
	font-weight	:1000;
	color		:#c0b0ff;	
	font-size:8vw;
	
}


