*{
	box-sizing:content-box;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}


.eve_box{
	width:900px;
	margin-left:50px;
}
.eve_box_notice{
	width		:600px;
	margin		:0 auto;
	background	:#ffffe0;
	font-size	:16px;
	line-height	:22px;
	padding		:15px;
	text-align	:left;
	border		:1px solid #202020;
}

.eve_title, .eve_title1, .eve_title2, .eve_title3{
	width		:100%;
	height		:40px;
	display		:flex;
	background	:#fafafa;
	font-size	:16px;
	font-weight	:700;
	border		:1px solid #000000;
	position	:relative;
}

.eve_title_box{
	flex-basis		:210px;
	height			:40px;
	line-height		:40px;
	text-align		:left;
	padding-left	:5px;
}

.eve_title_hist{
	flex-basis		:230px;
	height			:30px;
	line-height		:30px;
	padding-left	:30px;
	margin			:5px 10px;
	background		:#20a020;
	color			:#fafafa;
	border-radius	:5px;
	text-align		:left;
	position		:relative;
	
}

.talkmemo{
	position		:absolute;
	top				:0;
	right			:10px;
	bottom			:0;
	margin			:auto;
	font-size		:24px;
	height			:32px;
	line-height		:32px;
	width			:32px;
	color			:#fafafa;
	font-weight		:700;
	text-align		:center;
	background		:#f090e0;
}


.eve_title_no{
	flex-basis		:30px;
	height			:40px;
	line-height		:40px;
	text-align		:right;
	padding-left	:5px;
}

.talk_memo_pop{
	position		:fixed;
	top				:160px;
	left			:0;
	right			:0;
	margin			:auto;
}

.talk_memo_pop_out{
	position		:absolute;
	top				:-60px;
	right			:0;
	border-radius	:50%;
	border			:2px solid #0000a0;
	height			:50px;
	line-height		:50px;
	width			:50px;
	background		:#f0f0f0;
	color			:#0000a0;
	font-size		:40px;
	text-align		:center;
	font-weight		:900;
}

.talk_memo_pop_in{
	position		:relative;
	margin			:0 auto;
	width			:600px;
	padding			:10px;
	height			:auto;
	border			:2px solid #0000a0;
	background		:#f0f0f0;
	text-align		:left;
	font-size		:14px;
	line-height		:20px;
}

.eve_log{
	display			:none;
	position		:relative;
	width			:902px;
	background		:#eaeae0;
}

.eve_log_in{
	display			:flex;
	line-height		:24px;
	width			:880px;
	margin			:20px auto 0 auto
}

.eve_log_name{
	font-size		:20px;
	padding			:3px;
	width			:800px;
	flex-basis		:800px;
}

.eve_log_birth{
	display			:inline-block;
	font-size		:16px;
	padding			:3px;
}

.eve_log_btn1,.eve_log_btn2,.eve_log_btn3{
	font-size		:20px;
	height			:30px;
	line-height		:30px;
	width			:80px;
	margin			:5px 5px 5px auto;
	display			:inline-block;
	color			:#fafafa;
}


.eve_log_log{
	
	font-size		:16px;
	line-height		:23px;
	padding			:10px;
	background		:#f0f0ff;
	width			:860px;
	min-height		:70px;
	margin			:0 auto;
	border			:1px solid #303030;
}

.eve_log_answer{
	font-size		:16px;
	height			:560px;
	line-height		:23px;
	padding			:10px;
	width			:860px;
	resize			:none;
	background		:#fafafa;
	margin			:5px auto;
}

.eve_answer_out{
	position		:relative;
	height			:620px;
	padding			:0;
	width			:900px;
}

.img_box_out{
	width			:860px;
	height			:220px;
	margin			:10px auto;;
	text-align		:center;
	padding			:10px;
}

.img_box{
	position		:relative;
	height			:160px;
	width			:160px;
	flex-basis		:160px;
	margin			:5px;
	overflow		:hidden;
	background		:#f0e0e0;
	border			:1px solid #171717;
	z-index			:2;
}

.img_box_in{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:100%;
	z-index			:1;
}


.eve_2412_res{
	flex-basis		:75px;
	height			:30px;
	border			:3px solid #000090;
	border-radius	:5px;
	text-align		:right;
	padding			:5px;
	font-size		:20px;
	font-weight		:800;
	background		:#fffafa;
	color			:#000060;
	margin-left		:5px;
}

.eve_2412_resc{
	position		:absolute;
	top				:5px;
	right			:100px;
	height			:20px;
	line-height		:20px;
	text-align		:right;
	font-size		:18px;
	font-weight		:800;
	color			:#c00000;
}

.eve_2412_rese{
	flex			:1;
	height			:50px;
	line-height		:76px;
	text-align		:right;
	font-size		:16px;
	color			:#171717;
}

.eve_2412_res_a{
	position		:absolute;
	right			:80px;
	bottom			:0;
	width			:75px;
	height			:30px;
	line-height		:30px;
	border			:3px solid #000090;
	border-radius	:5px;
	text-align		:right;
	padding			:5px;
	font-size		:20px;
	font-weight		:800;
	background		:#fffafa;
	color			:#000060;
}

.eve_2412_resp_a{
	position		:absolute;
	right			:0px;
	bottom			:2px;
	width			:60px;
	height			:42px;
	line-height		:42px;
	border			:1px solid #008000;
	border-radius	:5px;
	text-align		:center;
	font-size		:20px;
	font-weight		:800;
	background		:linear-gradient(#00a000,#008000);
	color			:#fafafa;
}

.eve_2412_resc_a{
	position		:absolute;
	top				:5px;
	right			:180px;
	height			:20px;
	line-height		:20px;
	text-align		:right;
	font-size		:18px;
	font-weight		:800;
	color			:#c00000;
}

.eve_2412_rese_a{
	position		:absolute;
	right			:180px;
	eidth			:120px;
	bottom			:0;
	height			:30px;
	line-height		:30px;
	text-align		:right;
	font-size		:16px;
	color			:#171717;
}


.wait{
	display			:none;
	position		:fixed;
	top				:-10vh;
	left			:-10vw;
	width			:120vw;
	height			:120vh;
	background		:rgba(30,30,30,0.7);
	z-index			:99999999;
}

.wait_in{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:100px;
	height			:100px;
	border-top		:20px solid #777777;
	border-left		:20px solid #0000d0;
	border-right	:20px solid #0000d0;
	border-bottom	:20px solid #0000d0;
	border-radius	:50%;
	animation		:5s linear infinite wait_animation;
}
@keyframes wait_animation{
	0%{ transform:rotate(0);}
	100%{ transform:rotate(360deg); }
}



@media screen and (max-width: 768px){
.eve_title_hist {
    flex-basis: 60vw;
    height: 7vw;
    line-height: 7vw;
    margin: 0.5vw;
	padding-left:7vw;
}


.eve_2412_res {
    bottom		:13vw;
    right		:1vw;
    width		:16vw;
    height		:8vw;
    padding		:0.5vw;
    font-size	:5.5vw;
}

.eve_box{
	width		:98vw;
	margin		:2vw auto;
}
.eve_box_notice{
	width		:80vw;
	margin		:0 auto;

	font-size	:4vw;
	line-height	:5.5vw;
	padding		:1vw;
}

.eve_title,.eve_title1,.eve_title2,.eve_title3{
	width		:100%;
	height		:16vw;
	font-size	:4vw;
	flex-wrap	:wrap;
}

.eve_title_box{
	overflow		:hidden;
	flex-basis		:44vw;
	height			:6vw;
	line-height		:6vw;
	text-align		:left;
	padding-left	:0.5vw;
}

.eve_title_no{
	flex-basis		:4vw;
	height			:6vw;
	line-height		:6vw;
	text-align		:left;
	padding-left	:1vw;
}

.eve_log{
}

.eve_log_in{
	height			:27vw;
	flex-wrap		:wrap;
}

.eve_log_name{
	font-size		:3.5vw;
	height			:7vw;
	padding			:0.5vw;
	width			:96vw;
	flex-basis		:96vw;
	margin			:0.5vw; 
}

.eve_log_birth{
	font-size		:3.5vw;
}

.eve_log_btn1,.eve_log_btn2,.eve_log_btn3{
	font-size		:4vw;
	height			:6vw;
	width			:10vw;
	flex-basis		:96vw;
	margin			:0.5vw; 
}



.eve_log_log{
	font-size		:3.5vw;
	line-height		:5vw;
	padding			:1vw;
	width			:94vw;
	mihn-height		:12vw;
}

.eve_log_answer{
	font-size		:4.5vw;
	height			:60vw;
	line-height		:6.5vw;
	padding			:1vw;
	width			:96vw;
}

.eve_answer_out{
	height			:62vw;
	width			:96vw;
}



.img_box_out{
	width			:90vw;
	height			:22vw;
	justfy-content	:center;
}

.img_box{
	height			:20vw;
	flex-basis		:20vw;
	margin			:1vw;
}

}


.eve_log_btn1{
	background	:#ff6060;
}

.eve_log_btn2,.eve_log_btn3{
	background	:#d0d0d0;
}

.eve_title{
	background	:#fafafa;
}

.eve_title1{
	background	:#ffffe8;
}

.eve_title2{
	background	:#ffe8e8;
}

.eve_title3{
	background	:#f0f0f0;
}




