.main{
	width		:100vw;
	min-height	:100vh;
	font-size	:0;
}
.back{
	width		:100vw;
	position	:fixed;
	z-index		:-2;
	top			:0;
	height		:100vh;
	overflow	:hidden;
	background	:#e0f0ff;
}

.img_back2,.img_back1{
	width		:100vw;
	position	:absolute;
	left		:0;
	right		:0;
	margin		:auto;
	display:none;
}

.img_back3{
	width		:100vw;
	position	:fixed;
	left		:0;
	right		:0;
	bottom		:-3vh;
	margin		:auto;
	display:none;
}

.img_back1{
	top:calc(30vw * (-1));
}

.box_1{
	position	:relative;
	background	:#ffffff;
	z-index		:1;
	padding-bottom:2vw;
}

.box_2{
	position	:relative;
	width		:100vw;
	background	:#ffffff;
	height		:8vw;
	z-index		:1;
}

.box_3{
	position	:relative;
	width		:100vw;
	text-align	:left;
	display		:flex;
	flex-wrap	:wrap;
	background	:#ffffff;
	min-height	:100vh;
	z-index		:1;
	padding		:2vw;
	font-size:0;
}

.top_1{
	width		:85vw;
	height		:18vw;
	margin		:10vw auto 0 auto;
	border		:2px solid #ffffff;
	font-size	:4.7vw;
	padding		:2vw;
	color		:#ffffff;
	font-weight:700;
}
.top_1a{
	width		:80vw;
	height		:6vw;
	line-height	:6vw;
	margin		:0 auto 5vw auto;
	font-size	:3.8vw;
	color		:#ffffff;
	font-weight	:700;
	text-align:right;
}

.top_2{
	width		:82vw;
	line-height	:4.5vw;
	margin		:3vh auto;
	border		:2px solid #ffffff;
	background	:rgba(255,255,255,0.6);
	font-size	:3.2vw;
	padding		:2vw;
	color		:#202830;
}

.skew_btm{
	width		:100vw;
	height		:10vw;
	transform	:skewY(4deg);
	background	:#ffffff;
	position	:relative;
	transform-origin:right top;
}
.skew_btm2{
	width		:100vw;
	height		:12vw;
	transform	:skewY(-6deg);
	background	:#ffffff;
	position	:relative;
	transform-origin:right top;
}

.blank{
	position	:relative;
	width		:98vw;
	text-align	:center;
	display		:flex;
	flex-wrap	:wrap;
	padding:1vw 1vw 5vw 1vw;
//	justify-content:space-around;
}

.notice_a{
	width		:84vw;
	height		:3px;
	margin		:5vw auto 0 auto;
	background	:#ff00ff;
	background:linear-gradient(90deg,#fafafa 0%,#6090a0 50%,#fafafa 100%);
}

.notice_b{
	width		:84vw;
	margin		:0 auto 2vw auto;
	background	:#0000ff;
	height		:3px;
	background:linear-gradient(90deg,#fafafa 0%,#6090a0 50%,#fafafa 100%);
}


.notice{
	width		:80vw;
	line-height	:4.5vw;
	font-size	:3.5vw;
	color		:#004060;
	padding		:0vw;
	margin		:1vw auto;
}

.p{
	display:block;
	padding:0.5vw 1vw;
}


.box_title{
	position		:relative;
	width			:90vw;
	text-align		:left;
	height			:10vw;
	padding			:1vw 0 0 0;
	border-bottom	:0.5vw solid #ffffff;
	font-size		:6vw;
	color			:#ffffff;
	margin			:2vw auto 0 auto;	
	font-weight		:600;
}

.box_title2{
	position		:absolute;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:90vw;
	text-align		:left;
	height			:7.5vw;
	border-bottom	:0.5vw solid #004060;
	font-size		:5vw;
	color			:#004060;
	font-weight		:600;
}


.blank_2{
	position	:relative;
	width		:100vw;
	height		:30vw;
}

.pick{
	position	:relative;
	display		:inline-block;
	width		:44vw;
	flex-basis	:44vw;
	height		:68vw;
	background	:#ffffff;
	margin		:2vw;
	box-shadow:2vw 2vw 0 rgba(60,90,200,0.8); 
	text-decoration:none;
}

.pick_in{
	position	:absolute;
	top			:42vw;
	left		:2vw;
	width		:40vw;
	height		:12vw;
	background	:linear-gradient(135deg,#F7C8CE,#d7a8aE);
	z-index		:2;
}


.pick_comm{
	position	:absolute;
	top			:54vw;
	left		:2vw;
	width		:40vw;
	height		:12vw;
	background	:#60d080;
	z-index		:2;
	font-size	:4vw;
	line-height	:6vw;	
	overflow	:hidden;
	text-align:left;
}


.img_pick{
	position	:absolute;
	top			:2vw;
	left		:2vw;
	width		:40vw;
	height		:40vw;
}

.face{
	position		:relative;
	display			:inline-block;
	width			:30vw;
	flex-basis		:30vw;
	min-height		:40vw;
	margin			:1vw;
	text-decoration	:none;
}

.face_in{
	position		:relative;
	display			:inline-block;
	width			:100%;
	margin			:0;
	text-decoration	:none;
	background		:#904030;
}


.face_comm{
	display			:inline-block;
	width			:30vw;
	margin			:0;
	height			:9.5vw;
	max-height		:9.5vw;

	overflow		:hidden;
	line-height		:4vw;
	font-size		:3vw;
	color			:#fafafa;
	text-align		:left;
	background		:#9040f0;
	padding			:0.5vw;
	border-right	:1vw solid #902000;
	border-left		:1vw solid #902000;
	border-bottom	:1vw solid #902000;
}

.face_pts{
	display			:inline-block;
	margin			:0 1vw 1vw 0;
	width			:16.5vw;
	height			:5vw;
	color			:#fafafa;
	font-size		:3vw;
	line-height		:3vw;
	text-align		:right;
	padding			:1vw;
	background		:#9060ff;	
	font-weight		:600;
	vertical-align	:top;
	border-bottom	:2px solid #ffffff;
}


.face_img{
	width		:28vw;
	flex-basis	:28vw;
	height		:28vw;
	margin		:1vw;
}


.face_st{
	display			:inline-block;
	margin			:0 1vw 1vw 1vw;
	width			:10vw;
	height			:5vw;
	color			:#fafafa;
	font-size		:2.6vw;
	line-height		:4.5vw;
	text-align		:center;
	box-shadow		:0.5vw 0.5vw 0.5vw rgba(0,0,0,0.5); 
	font-weight		:600;
	border-radius	:0.5vw;
	vertical-align:top;
}


.face_name{
	display		:inline-block;
	width		:28vw;
	height		:6vw;
	line-height	:6vw;
	font-size	:3.5vw;
	overflow	:hidden;
	color		:#fafafa;
	font-weight	:600;
	text-align	:center;
	background	:#009000;
	margin		:0 1vw 1vw 1vw;
}
	




.bn_btm{
	position	:absolute;
	bottom		:5vw;
	left		:0;
	right		:0;
	margin		:auto;
	width		:80vw;
	border:1px solid #ffffff;
	box-shadow:2px 2px 2px rgba(30,30,30,0.5);
}

.p_box{
	display		:block;
	width		:60vw;
	height		:60vw;
	position	:relative;
	box-shadow	:1vw 1vw 1vw rgba(10,10,10,0.8);
	background	:#d0e0ff;
}

.p_box_out{
	position		:relative;
	display			:block;
	width			:100vw;
	height			:105vw;
}

.p_comm{
	position		:absolute;	
	top				:30vw;
	left			:5vw;
	width			:80vw;
	font-size		:3.5vw;
	line-height		:5vw;
	padding			:30vw 2vw 2vw 2vw;
	text-align		:left;
	color			:#608090;
	background		:linear-gradient(135deg,#f0fffa,#D9E8F3);
}

.p_img{
	position		:absolute;	
	top				:2vw;
	right			:5vw;
	width			:55vw;
	height			:55vw;
}


.p_img_out2{
	position		:absolute;	
	top				:10vw;
	right			:5vw;
	width			:55vw;
	height			:55vw;
	box-shadow		:2vw 2vw 2vw 2vw rgba(255,255,255,1) inset,-2vw -2vw 2vw 2vw rgba(255,255,255,1) inset; 
}

.p_icon{
	margin	:0.5vw;
	width	:17vw;
	border:1px solid #303030;
//	height	:18vw;
//	box-shadow:2px 2px 0 rgba(20,20,20,0.8)	;
}	


.p_img_pop{
	width			:50vw;
	height			:9vw;
	line-height		:9vw;
	margin			:1vw auto;
	border-radius	:2vw;
	background		:linear-gradient(#e0f0f8,#d0e0e8);
	font-weight		:900;
	color			:#0090a0;
	text-shadow		:1px 1px 0 #ffffff;
	box-shadow		:0.5vw 0.5vw 0 #004070;
	font-size		:4vw;
	text-align		:center;
	cursor			:pointer;
}	



.p_box_flex{
	position		:absolute;
	left			:0;
	right			:0;
	bottom			:1vw;
	margin			:1vw auto;
	width			:90vw;
	display			:flex;
	justify-content	:space-around;
	align-items		:center;
	background		:#006000;
	height			:22vw;
	border-top		:2px solid #0090ff;
	border-bottom	:2px solid #0090ff;
}	


.p_box_detail{
	display		:none;
	margin		:0 auto;
	width		:94vw;
	border		:2vw solid #006090;
	background	:#ffffff;
}

.p_box_menu{
	margin		:0 auto 0 auto;
	width		:94vw;
	border		:2vw solid #006090;
	background	:#ffffff;
}

.p_box_detail_img{
	position		:relative;
	width			:28vw;
	vertical-align	:top;
}

.p_box_detail_img img{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
}


.p_box_detail_comm{
	display		:inline-block;
	height		:50vw;
	background	:#fafafa;
	font-size	:3.5vw;
	line-height	:5vw;
	color		:#303030;
	padding		:0.5vw;
}



.up_link_out{
	position		:fixed;
	bottom			:5vw;
	right			:2vw;
	width			:14vw;
	height			:14vw;
	display			:none;
	z-index			:5;
}

.out_e{
	animation	:anime 2s ease infinite;
}

.up_link{
	position	:absolute;
	bottom		:0;
	right		:0;
	width		:14vw;
	height		:14vw;
}

.flex_m_w{
	display			:inline-block;
	position		:absolute;
	top				:-3vw;
	left			:1vw;
	width			:16vw;
	height			:6vw;
	line-height		:6vw;
	margin			:auto;
	color			:#fafafa;
	font-size		:4vw;
	text-align		:center;
	overflow		:hidden;
	border-radius	:1vw;
	border			:1px solid #000000;
}

.pts_pick{
	position		:absolute;
	height			:5vw;
	line-height		:5vw;
	top				:0vw;
	right			:1vw;
	font-size		:3.5vw;
	color			:#900060;
	font-weight		:600;
	border-bottom	:2px solid #900060;
	padding			:0.5vw;
}

.name_pick{
	position	:absolute;
	height		:5vw;
	line-height	:5vw;
	bottom		:0.5vw;
	right		:1vw;
	font-size	:4.5vw;
	color		:#fafafa;
	font-weight	:600;
}

.pop{
	display		:none;
	position	:fixed;
	top			:-50vh;
	left		:-10vw;
	height		:200vh;
	width		:120vw;
	background	:rgba(30,30,30,0.7);
	z-index		:999999999999999999;
}

.pop_in{
	position	:absolute;
	left		:0;
	right		:0;
	top			:110vw;
	margin		:auto;
	width		:95vw;
	height		:110vw;
}

.pop_back{
	position		:absolute;
	top				:-10vw;
	right			:0.5vw;
	width			:10vw;
	height			:10vw;
	background		:#006090;
	color			:#ffffff;
	line-height		:10vw;
	text-align		:center;
	font-size		:6vw;
	border-radius	:3vw 3vw 0 0;
	font-weight		:800;
	cursor			:pointer;

}




.flex_s1{background:linear-gradient(#00c000,#008000);}
.flex_s2{background:linear-gradient(#c0c0c0,#aaaaaa);}
.flex_s3{background:linear-gradient(#c0a000,#a09000);}
.flex_s4{background:linear-gradient(#c0c0c0,#a0a0a0);}
.flex_s5{background:linear-gradient(#ffb6c1,#ff90a0);}

@keyframes anime {
0% { transform:translateY(0) }
50% { transform:translateY(-10px) }
100% { transform:translateY(0) }
}

.up_link_ar,.up_link_ar2{
	position	:absolute;
	top			:5.2vw;
	left		:0;
	right		:0;
	width		:2.8vw;
	height		:2.8vw;
	margin		:auto;
	font-weight	:700;
	border-top	:1vw solid #404550;
	border-left	:1vw solid #404550;
	transform:rotate(45deg);
}

.up_link_ar2{
	top			:7vw;
	width		:2.8vw;
	height		:2.8vw;
}

.up_link_in{
	position	:absolute;
	display		:inline-block;
	width		:7vw;
	height		:7vw;
}

.in1{
	top:0;
	left:0;
	background:linear-gradient(135deg,#ff3030,#900000);
	border-radius:7vw 0 0 0;
	border-top	:1px solid #000000;
	border-left	:1px solid #000000;
}

.in2{
	top:0;
	right:0;
	background		:linear-gradient(225deg,#fafafa,#bbbbbb);
	border-radius	:0 7vw 0 0;
	border-top		:1px solid #000000;
	border-right	:1px solid #000000;
}

.in3{
	bottom:0;
	left:0;
	background		:linear-gradient(45deg,#fafafa,#bbbbbb);
	border-radius	:0 0 0 7vw;
	border-bottom	:1px solid #000000;
	border-left		:1px solid #000000;
}

.in4{
	bottom:0;
	right:0;
	background		:linear-gradient(315deg,#ff3030,#900000);
	border-radius	:0 0 7vw 0;
	border-bottom	:1px solid #000000;
	border-right	:1px solid #000000;
}

.in5{
	top				:0;
	left			:0;
	bottom			:0;
	right			:0;
	width			:6vw;
	height			:6vw;
	margin			:auto;
	background		:#ffffff;
	border-radius	:50%;
	border			:1px solid #909090;
	box-shadow		:0 0 0.5vw 0.5vw rgba(0,0,0,0.4);
}

.skew_btm_title{
	background		:#00f00f;
	display			:block;
	height			:20vw;
	width			:80vw;
	margin			:0 auto;
}
.wave{
	width:100vw;
	z-index:10;
}

#mainmenu{
	background:#ffffff;

}