.box{
	display		:block;
	width		:800px;
	background	:#fafafa;
	padding		:10px;
	margin-bottom:80px;
}

.list{
	display		:block;
	width		:700px;
	background	:#f0f5ff;
	margin		:10px auto;
	padding		:10px;
}	

.list_img{
	width		:200px;
	height		:200px;
	float		:left;
	margin		:10px;	
}

.list_date{
	display		:block;
	width		:600px;
	margin		:10px auto 0 auto;	
	font-size	:16px;
	height		:18px;
	line-height	:18px;
	text-align	:left;
	font-weight	:600;
}

.comm{
	display		:block;
	width		:600px;
	margin		:5px auto 10px auto;	
	font-size	:16px;
	line-height	:24px;
	text-align	:left;
	min-height	:240px;
	padding		:10px;
	background	:#eee8aa;
	box-shadow	:3px 3px 5px rgba(30,30,30,0.5);
}

.ope_box{
	width		:600px;
	margin		:5px auto;	
}


.ope_date{
	display			:block;
	width			:480px;
	margin			:0 auto;
	font-size		:14px;
	line-height		:20px;
	height			:20px;
}

.ope_comm,.ope_comm2{
	display			:block;
	width			:500px;
	margin			:0 auto;
	font-size		:15px;
	line-height		:20px;
	background		:linear-gradient(135deg,#fafafa,#e0e0e0);
	min-height		:60px;
	text-align		:left;
	padding			:8px;
	border-radius	:15px 15px 0 15px;
	border			:1px solid #a0a0a0;
}

.ope_comm2{
	background		:linear-gradient(135deg,#fff0f0,#ffc0d0);
	border			:1px solid #ffa0d0;
}



.ope_img{	
	width			:80px;
	height			:80px;
	margin			:0;
}

.ope_l{
	vertical-align:bottom;
	height:90px;
}
.ope_r{
	vertical-align:bottom;
	height:90px;
}

.write{
	margin		:0 auto;
	border-top	:2px solid #303030;
	position	:relative;
	display		:block;
	width		:600px;
	height		:120px;
	background	:#add8e6;
	padding		:10px auto;
}

.write_notice{
	position	:absolute;
	bottom		:5px;
	left		:0;
	right		:0;
	margin		:auto;
	font-size:14px;
	width:500px;
	display:inline-block;
	text-align:center;
}

.textarea{
	width		:450px;
	height		:80px;
	resize		:none;
	position	:absolute;
	top			:10px;
	left		:10px;
	padding		:5px;
	font-size	:17px;
}

.write_cnt{
	width		:60px;
	height		:30px;
	line-height	:30px;
	position	:absolute;
	top			:10px;
	right		:10px;
	background	:#f0f0f0;
	padding-right:10px;
	text-align	:right;
	font-weight	:600;
	font-size	:15px;
}

.write_btn{
	width		:120px;
	height		:40px;
	position	:absolute;
	bottom		:30px;
	right		:10px;
}




@media screen and (max-width: 764px){

.box{
	width		:92vw;
	padding		:1vw;
	margin		:0 auto 5vw auto;
}

.list{
	width		:88vw;
	margin		:2vw auto;
	padding		:2vw;
}	

.list_img{
	width		:36vw;
	height		:36vw;
	margin		:2vw;	
}

.list_date{
	width		:76vw;
	margin		:2vw auto 0 auto;	
	font-size	:4vw;
	height		:8vw;
	line-height	:8vw;
	text-align	:left;
	font-weight	:600;
}

.comm{
	width		:84vw;
	margin		:0vw auto 2vw auto;	
	font-size	:4vw;
	line-height	:5.5vw;
	text-align	:left;
	min-height	:40vw;
	padding		:1.5vw;
}

.ope_box{
	width		:84vw;
	margin		:1vw auto;	
}


.ope_date{
	width			:60vw;
	margin			:0 auto;
	font-size		:3.5vw;
	line-height		:4vw;
	height			:4vw;
}

.ope_comm,.ope_comm2{
	width			:60vw;
	font-size		:3.5vw;
	line-height		:5.5vw;
	min-height		:20vw;
	padding			:1vw;
	border			:1px solid #a0a0a0;
}

.ope_comm2{
	background		:linear-gradient(135deg,#fff0f0,#ffc0d0);
	border			:1px solid #ffa0d0;
}



.ope_img{	
	width			:20vw;
	height			:20vw;
	margin			:0;
}

.ope_l{
	vertical-align:bottom;
	width:62vw;
}
.ope_r{
	vertical-align:bottom;
	width:20vw;
	height:20vw;
}

.write{
	margin		:0 auto;
	border-top	:2px solid #303030;
	position	:relative;
	display		:block;
	width		:84vw;
	height		:22vw;
	background	:#add8e6;
	padding		:2vx auto;
}

.write_notice{
	position	:absolute;
	bottom		:0.5vw;
	left		:0;
	right		:0;
	margin		:auto;
	font-size	:3vw;
	width		:82vw;
	display		:inline-block;
	text-align	:center;
}

.textarea{
	width		:60vw;
	height		:15vw;
	resize		:none;
	position	:absolute;
	top			:1vw;
	left		:1vw;
	padding		:1vw;
	font-size	:4.5vw;
}

.write_cnt{
	width		:60px;
	height		:30px;
	line-height	:30px;
	position	:absolute;
	top			:10px;
	right		:10px;
	background	:#f0f0f0;
	padding-right:10px;
	text-align	:right;
	font-weight	:600;
	font-size	:15px;
}

.write_btn{
	width		:120px;
	height		:40px;
	position	:absolute;
	bottom		:30px;
	right		:10px;
}
}
