.list_on{
	border		:0.5vw solid #d00000;
	background	:linear-gradient(#ff3030,#d00000);
}

.list_yet{
	border		:0.5vw solid #a0e0ff;
	background	:linear-gradient(#a0e0ff,#90a0ff);
}

.list_done{
	border		:0.5vw solid #eeeeee;
	background	:linear-gradient(#eeeeee,#cccccc);
}

.box_1{
	display		:inline-block;
	margin		:4vw auto;
	width		:86vw;
	height		:34vw;
	border		:0.5vw dashed #fafafa;
	padding		:1.5vw;
	font-size	:3.2vw;
	line-height	:4.8vw;
	background	:#ffe0c0;
	text-align	:left;
	box-shadow	:0vw 0vw 1vw 2vw #ffe0c0 
}

.title_1{
	font-size:17px;
	color:#603000;
	width:100%;
	border-bottom:double 5px #603000;
	padding:5px;
	text-align:left;
	font-weight:800;
	border-left:solid 10px #603000;
	background: linear-gradient(60deg, #e0c090, #fafafa); 
}

.list_0{
	position	:relative;
	display		:inline-block;
	width		:90vw;
	height		:16vw;
	border		:0.5vw solid #800000;
	background	:#fafafa;
}

.list_0_0{
	display		:inline-block;
	width		:90vw;
	height		:7vw;
	line-height	:7vw;
	border		:0.5vw solid #800000;
	background	:#800000;
	text-align	:center;
	margin-top:2vw;
	color:#fafafa;
	font-size:4vw;
	font-weight:600;
}

.list_img{
	position	:absolute;
	top			:0;
	bottom		:0;
	left		:1vw;
	margin		:auto;
	width		:14vw;
	height		:14vw;
}

.list_0_1{
	display		:inline-block;
	position	:absolute;
	top			:0.5vw;
	left		:16vw;
	width		:48vw;
	height		:6vw;
	font-size	:3.5vw;
	color		:#0000d0;
	text-align:left;
}
.list_0_2{
	display		:inline-block;
	position	:absolute;
	bottom		:0.5vw;
	left		:16vw;
	width		:47vw;
	height		:9vw;
	line-height	:11vw;
	font-size	:5vw;
	font-weight	:600;
	color		:#0000d0;
	text-align	:left;
	overflow	:hidden;
}

.list_0_3{
	position	:absolute;
	top			:0;
	bottom		:0;
	right		:1vw;
	margin		:auto;
	width		:24vw;
	height		:12vw;
	line-height	:12vw;
	text-align	:center;

	color		:#fafafa;
	font-size	:5.5vw;
	text-shadow	:1px 1px 0px #303030;
	border-radius:2vw;
	font-weight	:800;
	cursor		:pointer;

}


.box_2{
	display		:inline-block;
	position	:relative;
	width		:90vw;
	height		:78vw;
	border		:0.5vw solid #803000;
	margin		:1vw auto;
	background:#f0f0f0;
}	


.box_2_1{
	display		:inline-block;
	position	:absolute;
	top			:0;
	left		:0;	
	right		:0;	
	margin		:auto;
	width		:89.5vw;
	height		:8vw;
	line-height	:8vw;
	background	:linear-gradient(#906000,#603000);
	font-size	:4.5vw;
	color		:#fafafa;
	font-weight	:600;
}

.box_2_2{
	display		:inline-block;
	position	:absolute;
	top			:39vw;
	left		:0;
	right		:0;
	margin		:auto;
	width		:88vw;
	height		:37vw;
	padding		:1.5vw;
	font-size	:3.2vw;
	line-height	:4.4vw;
	text-align	:left;
}


.box_2_3{
	display		:inline-block;
	position	:absolute;
	top			:9vw;
	right		:0vw;
	left		:0vw;
	margin		:auto;
	width		:88vw;
}

.sen{
	font-size:12px;
	background:#906000;
	font-weight:600;
	display:inline-block;
	border-radius:2px;
	padding:1px 3px;
	margin:1px;
}

.dan{
	font-size:12px;
	background:#30a040;
	font-weight:600;
	display:inline-block;
	border-radius:2px;
	padding:1px 3px;
	margin:1px;
}

.yet{
	display	:none;
	position:fixed;
	top		:0;
	bottom	:0;
	left	:0;
	right	:0;
	margin	:auto;
	border	:1vw solid #c08080;	
	background:#fafafa;
	width	:60vw;
	height	:30vw;
	padding:2vw;
	line-height:6vw;
	text-align:left;
	font-size:3.8vw;
	box-shadow:0.5vw 0.5vw 0.5vw rgba(60,60,60,0.5);
}

.done{
	display		:none;
	position	:fixed;
	top			:0;
	bottom		:0;
	left		:0;
	right		:0;
	margin		:auto;
	border		:1vw solid #c08080;	
	width		:40vw;
	height		:20vw;
	line-height	:6vw;
	padding		:4vw ;
	text-align	:center;
	font-size	:3.8vw;
	color		:#303030;
	font-weight	:600;
	box-shadow	:0.5vw 0.5vw 0.5vw rgba(60,60,60,0.5);
	background	:#ffd0a0;
	border-radius:10vw;

}

