*{
	touch-action: manipulation !important;
	-webkit-appearance: none !important;
	-webkit-text-size-adjust: 100% !important;
}

input, textarea {
	-webkit-user-select : auto !important;
}

@font-face {
	font-family: at_name;
	src: url(../asset/font/HGSGyoshotai.ttf) format('truetype');
}

.main{
	min-height		:100vh;

}
.container-wrap{
	min-height		:80px;
}

.main_section{
	position		:absolute;
	bottom			:80px;
	left			:0;
	right			:0;
	height			:100vh;
	width			:1000px;

	background		:rgba(255,200,240,0.4);
	font-size		:0;
	text-align		:center;
	z-index			:1;
	margin			:auto;
}
.main_back{
	position		:fixed;
	top				:0;
	left			:0;
	right			:0;
	height			:100vh;
	width			:100vw;
	font-size		:0;
	text-align		:center;
	z-index			:0;
	margin			:auto;
}


.top_img{
	width			:1000px;
	height:150px;
}


.main_0{
	display			:block;
	margin			:10px auto;
	height			:calc( 100vh - 280px);
	width			:500px;
	background		:#ffffff;
	border-radius	:20px;
}

.main_1{
	height			:90px;
	width			:80%;
	background		:linear-gradient(135deg,#fafaff,#f0f0ff);
	border			:5px solid #8AC4EE;
	border-radius	:15px 15px 0 0;
	padding			:10px;
	margin			:10px auto;
	position		:relative;
}

.main_1_in{
	height			:100px;
	width			:96%;
	font-size		:20px;
	line-height		:28px;
	color			:#7ab4fe;
	text-align		:left;
	margin			:0;
	padding			:10px;
}

.main_1_back{
	display		:none;
	position	:absolute;
	bottom		:0vw;
	left		:10px;	
	font-size	:18px;
	font-weight	:600;
	color		:#8AC4ff;
	height		:24px;
	line-height	:24px;
	padding-left:15px;
}

.main_1_count{
	position	:absolute;
	bottom		:5px;
	right		:10px;	
	font-size	:22px;
	font-weight	:600;
	color		:#fafafa;
	height		:32px;
	line-height	:32px;
	text-align	:center;
	border-radius:10px;
	width		:60px;
	background	:#8AC4Ff;
}

.main_1_al{
	position	:absolute;
	bottom		:0;
	left		:0;	
	top			:0;	
	margin		:auto;
	width		:10px;
	height		:10px;
	border-top	:5px solid #8AC4ff;
	border-left	:5px solid #8AC4Ff;
	transform:rotate(-45deg);
}


.main_2{
	display			:block;
	flex-wrap		:wrap;
	width			:80%;
	background		:linear-gradient(135deg,#fafaff,#f0f0ff);
	background		:linear-gradient(135deg,#fafae0,#ffffe8);
	border			:5px solid #8AC4EE;
	padding			:10px;
	margin			:10px auto;
	text-align		:center;
}

.main_2_1{
	position		:relative;
	display			:block;
	width			:95%;
	border-bottom	:3px solid #8AC4EE;
	padding-left	:10px;
	height			:40px;
	line-height		:40px;
	margin			:0 auto;
	text-align		:left;
	font-size		:19px;
	color			:#6aa4ce;
	overflow		:hidden;
}

.main_al{
	position		:absolute;
	top				:0;
	right			:5px;
	bottom			:0;
	margin			:auto;
	background		:#e0f0ff;
	border-radius	:50%;
	height			:30px;
	width			:30px;
	cursor			:pointer;
}

.main_al_in{
	position		:absolute;
	top				:0;
	left			:5px;
	bottom			:0;
	margin			:auto;
	border-top		:4px solid #8AC4EE;
	border-right	:4px solid #8AC4EE;
	transform		:rotate(45deg);
	height			:10px;
	width			:10px;
}

.set_back{
	display		:none;
	position	:fixed;
	top			:-50vh;
	left		:-50vw;
	height		:200vh;
	width		:200vw;
	margin		:auto;
	z-index		:0;
	background	:rgba(30,20,20,0.6);
}


.ar_line{
	width		:360px;
	height		:3px;
	background	:linear-gradient(90deg,#ff9cb2,#e67C92 50%,#ff9cb2 100%);
	margin		:20px auto;
}

.ar_ope{
	position		:relative;
	width			:400px;
	height			:220px;
	margin			:5px auto;
}

.ar_pop{
	display:none;
	position		:fixed;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:400px;
	height			:260px;
	background		:#fffff0;
	border-radius	:10px;	
	border			:10px solid #F68CA2;
	text-align		:center;
}

.ar_close{
	position		:absolute;
	top				:-20px;
	right			:-20px;
	background		:#ff4060;
	border-radius	:50%;
	width			:40px;
	height			:40px;
	line-height		:40px;
	text-align		:center;
	font-weight		:900;
	color			:#ffffff;
	font-size		:28px;
}

.ar_title{
	text-align		:center;
	height			:40px;
	line-height		:40px;
	text-align		:center;
	font-size		:28px;
	font-weight		:700;
	color			:#ffffff;
	background		:#F68CA2;
	cursor			:pointer;
}

.ar_img{
	position	:absolute;
	top			:50px;
	left		:10px;	
	width		:150px;
	height		:150px;
	background	:#c8b880;
}

.ar_img_in{
	position	:absolute;
	top			:5px;
	left		:5px;	
	width		:140px;
	height		:140px;
}

.ar_btn{
	position	:absolute;
	top			:210px;
	left		:10px;	
	width		:150px;
	height		:40px;
	line-height	:40px;
	font-size	:28px;
	text-align	:center;
	font-weight	:600;
	color		:#fafafa;
	background	:linear-gradient(#f0d0e0,#e0c0d0);
	cursor		:pointer;
	font-weight:700;
}

.ar_name{
	position	:absolute;
	top			:40px;
	left		:170px;	
	width		:220px;
	height		:36px;
	line-height	:40px;
	border-bottom:5px solid #F68CA2;
	padding-left:5px;
	font-size	:24px;
	text-align	:left;
	font-weight	:600;
	color		:#303030;
}

.ar_box{
	position	:absolute;
	top			:90px;
	left		:170px;	
	width		:205px;
	height		:140px;
	background	:#308050;
	font-size	:20px;
	line-height	:30px;
	overflow	:hidden;
	padding		:10px;
	text-align	:left;
	color		:#fafafa;
}


#mainmenu,#toggle_btn_head{
	display:none;
}
.footer{
	height:25px;
}

.sen_tag{
	font-weight	:700;
	color		:#ffffe0;

}
