//#2D1508
//#D6C6AF


/*-----------------------------------------------------------*/

.box_0{
	border			:1vw solid #2D1508;
	padding			:2vw;
	height			:10vw;
	line-height		:90vw;
	border-radius	:3vw;
	margin			:2vw auto;
	font-size		:3.8vw;
	line-height		:6vw;
	padding			:2vw;
	background		:linear-gradient(#fafafa,#2e0e0e0);
}

.box_1{
	position		:relative;
	margin			:1vw 2vw 1vw auto;
	height			:8vw;
	line-height		:8vw;
	width			:48vw;
	background		:linear-gradient(#5D4538,#2D1508);
	color			:#fafafa;
	padding-left	:2vw;
	font-size		:3.5vw;
}

.box_1_1{
	margin			:auto;
	position		:absolute;
	top				:0;
	bottom			:0;
	right			:1vw;
	border			:2px solid #2D1508;
	height			:4.5vw;
	width			:4.5vw;
	border-radius	:50%;
	background		:#fafafa;
}

.box_1_2{
	position		:absolute;
	top				:0;
	bottom			:0;
	right			:1.5vw;
	height			:1.5vw;
	width			:1.5vw;
	margin			:auto;
	transform		:rotate(45deg);
	border-top		:0.5vw solid #2D1508;
	border-right	:0.5vw solid #2D1508;
	transform-origin:cener;
}

