*{
	touch-action: manipulation !important;
	-webkit-appearance: none !important;
	-webkit-text-size-adjust: 100% !important;
}

input, textarea {
	-webkit-user-select : auto !important;
}

@font-face {
	font-family: at_name;
	src: url(../asset/font/HGSGyoshotai.ttf) format('truetype');
}

.main_section{
	width			:100vw;
	min-height		:100vh;
	background		:#F68CA2;
	font-size		:0;
	text-align		:center;
	box-shadow		:0 -100px 0 #F68CA2;
	padding-top		:17vw;
}

.top_img{
	position		:fixed;
	top				:50px;
	left			:0;
	width			:100vw;
	height			:15vw;
	box-shadow:0 5px 5px rgba(60,60,60,0.6);
	z-index:5;
}


.main_0{
	display			:block;
	margin			:2vw auto;
	width			:94vw;
	background		:#ffffff;
	border-radius	:5vw;
	padding:2vw;	
}

.main_1{
	height			:18vw;
	width			:88vw;
	background		:linear-gradient(135deg,#fafaff,#f0f0ff);
	border			:1.5vw solid #8AC4EE;
	border-radius	:3vw 3vw 0 0;
	padding			:0;
	margin			:1vw auto;
	position		:relative;
}

.main_1_in{
	height			:17vw;
	width			:87vw;
	font-size		:5vw;
	line-height		:7vw;
	color			:#7ab4fe;
	text-align		:left;
	margin			:0;
	padding			:1vw;
}

.main_1_back{
	display		:none;
	position	:absolute;
	bottom		:0vw;
	left		:1.5vw;	
	font-size	:3.5vw;
	font-weight	:600;
	color		:#8AC4ff;
	height		:5vw;
	line-height	:5vw;
	padding-left:2.5vw;
}

.main_1_count{
	position	:absolute;
	bottom		:0.5vw;
	right		:1.5vw;	
	font-size	:3.5vw;
	font-weight	:600;
	color		:#fafafa;
	height		:5.5vw;
	line-height	:5.5vw;
	text-align	:center;
	border-radius:1.5vw;
	width		:10vw;
	background	:#8AC4Ff;
}

.main_1_al{
	position	:absolute;
	bottom		:0;
	left		:0;	
	top			:0;	
	margin		:auto;
	width		:2.5vw;
	height		:2.5vw;
	border-top	:1vw solid #8AC4ff;
	border-left	:1vw solid #8AC4Ff;
	transform:rotate(-45deg);
}


.main_2{
	display			:block;
	flex-wrap		:wrap;
	width			:88vw;
//	height			:65vw;
	background		:linear-gradient(135deg,#fafaff,#f0f0ff);
	background		:linear-gradient(135deg,#fafae0,#ffffe8);
	border			:1.5vw solid #8AC4EE;
	padding			:1vw 2vw;
	margin			:2vw auto;
	text-align		:center;
}

.main_2_1{
	position		:relative;
	display			:block;
	width			:80vw;
	border-bottom	:0.5vw solid #8AC4EE;
	padding-left	:2vw;
	height			:9vw;
	line-height		:9vw;
	margin			:0;
	text-align		:left;
	font-size		:4.5vw;
	color			:#3a84be;
	overflow		:hidden;
}


.footer{
    background		:#fafafa;
}

.main_al{
	position		:absolute;
	top				:0;
	right			:1vw;
	bottom			:0;
	margin			:auto;
	background		:#e0f0ff;
	border-radius	:50%;
	height			:6vw;
	width			:6vw;
	cursor			:pointer;
}

.main_al_in{
	position		:absolute;
	top				:0;
	left			:1.5vw;
	bottom			:0;
	margin			:auto;
	border-top		:1vw solid #8AC4EE;
	border-right	:1vw solid #8AC4EE;
	transform		:rotate(45deg);
	height			:2.5vw;
	width			:2.5vw;
}

.set_back{
	display		:none;
	position	:fixed;
	top			:-50vh;
	left		:-50vw;
	height		:200vh;
	width		:200vw;
	margin		:auto;
	z-index		:1000;
	background	:rgba(30,20,20,0.6);
}

.ar_pop{
	display			:none;
	position		:fixed;
	left			:0;
	right			:0;
	bottom			:80px;
	margin			:auto;
	width			:85vw;
	height			:110vw;
	background		:#fffff0;
	border-radius	:2vw;	
	border			:2vw solid #F68CA2;
	text-align		:center;
	z-index			:1001;
}

.ar_ope{
	position		:relative;
	width			:79vw;
	height			:29vw;
	margin			:1vw auto;
}

.ar_close{
	position		:absolute;
	top				:-6vw;
	right			:-6vw;
	background		:#ff4060;
	border-radius	:50%;
	width			:10vw;
	height			:10vw;
	line-height		:10vw;
	text-align		:center;
	font-weight		:900;
	color			:#ffffff;
	font-size		:6vw;
}

.ar_title{
	text-align		:center;
	height			:8vw;
	line-height		:8vw;
	text-align		:center;
	font-size		:5vw;
	font-weight		:700;
	color			:#ffffff;
	background		:#F68CA2;
	cursor			:pointer;
}

.ar_img{
	position	:absolute;
	top			:0vw;
	left		:0vw;	
	width		:22vw;
	height		:22vw;
	background	:#c8b880;
}

.ar_img_in{
	position	:absolute;
	top			:1vw;
	left		:1vw;	
	width		:20vw;
	height		:20vw;
}

.ar_line{
	width		:76vw;
	height		:2px;
	background	:linear-gradient(90deg,#ff9cb2,#e67C92 50%,#ff9cb2 100%);
	margin		:2vw auto;

}


.ar_btn{
	position	:absolute;
	top			:23vw;
	left		:0vw;	
	width		:22vw;
	height		:6vw;
	line-height	:6vw;
	font-size	:4vw;
	text-align	:center;
	font-weight	:600;
	color		:#fafafa;
	background	:linear-gradient(#f0d0e0,#e0c0d0);
	cursor		:pointer;
	font-weight:700;
}

.ar_name{
	position	:absolute;
	top			:0vw;
	left		:24vw;	
	width		:55vw;
	height		:8vw;
	line-height	:8vw;
	border-bottom:0.5vw solid #F68CA2;
	padding-left:1vw;
	font-size	:4vw;
	text-align	:left;
	font-weight	:600;
	color		:#303030;
}

.ar_box{
	position	:absolute;
	top			:9vw;
	left		:24vw;	
	width		:55vw;
	height		:20vw;
	background	:#308050;
	font-size	:3.6vw;
	line-height	:4.8vw;
	overflow	:hidden;
	padding		:1vw;
	text-align	:left;
	color		:#fafafa;
}


#toggle_btn_head{
	display:none;
}
.sen_tag{
	font-weight	:700;
	color		:#ffffe0;

}
