.list_on{
	border		:5px solid #d00000;
	background	:linear-gradient(#ff3030,#d00000);

}

.list_yet{
	border		:5px solid #a0e0ff;
	background	:linear-gradient(#a0e0ff,#90a0ff);
}

.list_done{
	border		:5px solid #eeeeee;
	background	:linear-gradient(#eeeeee,#cccccc);

}


.box_1{
	display		:inline-block;
	margin		:40px auto;
	width		:600px;
	height		:120px;
	border		:3px dashed #fafafa;
	padding		:10px;
	font-size	:24px;
	line-height	:40px;
	background	:#ffe0c0;
	text-align	:left;
	box-shadow	:0 0 10px 20px #ffe0c0 
}


.list_0{
	position	:relative;
	display		:inline-block;
	width		:435px;
	height		:80px;
	border		:3px solid #800000;
	background	:#fafafa;
}
.list_0_0{
	display		:inline-block;
	width		:435px;
	height		:42px;
	line-height	:42px;
	border		:3px solid #800000;
	background	:#800000;
	text-align	:center;
	margin-top:12px;
	color:#fafafa;
	font-size:24px;
	font-weight:600;
}

.list_img{
	position	:absolute;
	top			:0;
	bottom		:0;
	left		:4px;
	margin		:auto;
	width		:70px;
	height		:70px;
}

.list_0_1{
	display		:inline-block;
	position	:absolute;
	top			:5px;
	left		:80px;
	width		:288px;
	height		:36px;
	font-size	:18px;
	color		:#0000d0;
	text-align:left;
}
.list_0_2{
	display		:inline-block;
	position	:absolute;
	bottom		:3px;
	left		:80px;
	width		:250px;
	height		:40px;
	line-height	:40px;
	font-size	:24px;
	font-weight	:600;
	color		:#0000d0;
	text-align	:left;
	overflow	:hidden;
}

.list_0_3{
	position	:absolute;
	top			:0;
	bottom		:0;
	right		:5px;
	margin		:auto;
	width		:110px;
	height		:60px;
	line-height	:60px;
	text-align	:center;

	color		:#fafafa;
	font-size	:28px;
	text-shadow	:1px 1px 0px #303030;
	border-radius:12px;
	font-weight	:800;
	cursor		:pointer;

}

.box_2{
	display		:inline-flex;
	position	:relative;
	flex-basis	:450px;
	width		:450px;
	height		:450px;
	border		:3px solid #000080;
	margin		:10px;
	background:#fafafa;
}	

.box_2_1{
	display		:inline-block;
	position	:absolute;
	top			:0;
	left		:0;	
	right		:0;	
	margin		:auto;
	width		:440px;
	height		:48px;
	line-height	:48px;
	background	:linear-gradient(#0000e0,#000080);
	font-size	:27px;
	color		:#fafafa;
	font-weight	:600;
}

.box_2_2{
	display		:inline-block;
	position	:absolute;
	top			:252px;
	left		:0;
	right		:0;
	margin		:auto;
	width		:410px;
	height		:180px;
	padding		:6px;
	font-size	:16px;
	line-height	:24px;
	background	:#fafae0;
	text-align	:left;	
}

.box_2_3{
	display		:inline-block;
	position	:absolute;
	top			:66px;
	right		:6px;
	left		:6px;
	margin		:auto;
	width		:168px;
	height		:168px;
}

.box_2_ok{
	display		:inline-block;
	margin		:auto;
	height		:72px;
	line-height	:72px;
	width		:420px;
	border		:3px solid #f0f0f0;
	background	:linear-gradient(#d03030,#a00000);
	font-size	:26px;
	color		:#fafafa;
	font-weight	:700;
	text-shadow	:1px 1px 0px #303030;
	text-align	:center;
	cursor		:pointer;
}

.box_2_get{
	display		:inline-block;
	margin		:auto;
	height		:72px;
	line-height	:72px;
	width		:420px;
	border		:3px solid #f0f0f0;
	background:linear-gradient(#cccccc,#999999);
	font-size:30px;
	color:#fafafa;
	font-weight:700;
	text-shadow:1px 1px 0px #303030;
	text-align:center;
}

.box_2_ng{
	display		:inline-block;
	margin		:auto;
	height		:72px;
	line-height	:32px;
	width		:420px;
	border		:3px solid #f0f0f0;
	background	:linear-gradient(#cccccc,#999999);
	font-size	:24px;
	color		:#fafafa;
	font-weight	:700;
	text-shadow	:1px 1px 0px #303030;
}



.list_on{
	border		:3px solid #d00000;
	background	:linear-gradient(#ff3030,#d00000);

}

.list_yet{
	border		:3px solid #a0e0ff;
	background	:linear-gradient(#a0e0ff,#90a0ff);
}

.list_done{
	border		:3px solid #eeeeee;
	background	:linear-gradient(#eeeeee,#cccccc);

}
.yet{
	display	:none;
	position:fixed;
	top		:0;
	bottom	:0;
	left	:0;
	right	:0;
	margin	:auto;
	border	:6px solid #c08080;	
	background:#fafafa;
	width	:360px;
	height	:180px;
	padding:12px;
	line-height:36px;
	text-align:left;
	font-size:22.8px;
	box-shadow:3px 3px 3px rgba(60,60,60,0.5);
}

.done{
	display		:none;
	position	:fixed;
	top			:0;
	bottom		:0;
	left		:0;
	right		:0;
	margin		:auto;
	border		:6px solid #c08080;	
	width		:300px;
	height		:300px;
	line-height	:300px;
	text-align	:center;
	font-size	:22.8px;
	color		:#fafafa;
	box-shadow	:3px 3px 3px rgba(60,60,60,0.5);
	background	:#ff0000;
	border-radius:50%;
}

