.box2025_body{
	margin		:0;
	padding		:0;
	background	:#f0e0a0;
	background	:#fafafa;
}

.box2025{
	width		:96vw;
	border		:1.5vw solid #685820;
	border		:1px solid #303030;
	background	:#f0e8c0;
	background	:radial-gradient(#FFFFEC 40%,#d8d0a0 100%);
	box-shadow	:1vw 1vw 1vw rgba(30,30,30,0.5);
	margin		:3vw 3vw 3vw 1vw;
}

.box2025_top{
	color		:#311500;
	font-size	:8vw;
	text-align	:center;
	font-weight	:900;
	width		:90vw;
	margin		:2vw auto;
	line-height	:10vw;
}

.box2025_title{
	color		:#311500;
	font-size	:6vw;
	text-align	:center;
	font-weight	:700;
	margin		:5vw auto 2vw auto;
	width		:90vw;
}

.box2025_comm{
	color		:#272622;
	color		:#575757;
	font-size	:4vw;
	text-align	:left;
	line-height	:6vw;
	margin		:1vw auto;
	width		:90vw;
}


.box2026_body{
	margin		:0;
	padding		:0;
	background	:#f0e0a0;
	background	:#fafafa;
}

.box2026{
	width			:96vw;
	border			:1px solid #303030;
	background		:radial-gradient(#FFFFEC 70%,#e8e0b0 100%);
	box-shadow		:1vw 1vw 1vw rgba(30,30,30,0.5);
	margin			:3vw auto;
}

.box2026_top{
	color		:#311500;
	font-size	:8vw;
	text-align	:center;
	font-weight	:900;
	width		:90vw;
	margin		:2vw auto;
	line-height	:10vw;
}

.box2026_title{
	color		:#311500;
	font-size	:6vw;
	text-align	:center;
	font-weight	:700;
	margin		:5vw auto 2vw auto;
	width		:90vw;
}

.box2026_comm{
	color		:#272622;
	color		:#72650F;
	font-size	:4vw;
	text-align	:left;
	line-height	:6vw;
	margin		:1vw auto 5vw auto;
	width		:90vw;
}

.box2026_tbl{
	margin			:2vw auto;
	border			:3px solid #988850;
	border-collapse	:collapse;
}

.box2026_td,.box2026_td0{
	border		:1px solid #988850;
	font-size	:4vw;
	color		:#72650f;
	width		:35vw;
	height		:6vw;
	padding		:0.5vw;
}

.box2026_td0{
	width		:20vw;
	text-align	:center;
}

.pdf_menu{
	positon			:fixed;
	bottom			:0;
	left			:0;
	width			:100vw;
	height			:12vw;
	display			:flex;
	justify-content	:flex-end;
}

.pdf_menu_in{
	border			:1px solid #fafafa;
	height			:12vw;
	width			:10vw;
	background		:#574e49;
}


.pdf_menu_in_icon{
	text-align	:center;
	font-size	:5vw;
	width		:10vw;
	height		:6vw;
	line-height	:6vw;
}
.pdf_menu_in_comm{
	text-align	:center;
	font-size	:3vw;
	width		:10vw;
	height		:4vw;
	line-height	:4vw;
}
