*{
	box-sizing:content-box;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}


.eve_box{
	width			:900px;
	margin-left		:50px;
}
.eve_box_notice{
	width		:600px;
	margin		:10px auto;
	background	:#f0f8f0;
	font-size	:16px;
	line-height	:22px;
	padding		:15px;
	text-align	:left;
	border		:1px solid #202020;
}

.eve_title, .eve_title1, .eve_title2, .eve_title3{
	width		:100%;
	height		:40px;
	display		:flex;
	background	:#fafafa;
	font-size	:16px;
	font-weight	:700;
	border		:1px solid #000000;
	position	:relative;
}

.eve_title_box{
	flex-basis		:210px;
	height			:40px;
	line-height		:40px;
	text-align		:left;
	padding-left	:5px;
}

.eve_title_hist{
	flex-basis		:230px;
	height			:30px;
	line-height		:30px;
	padding-left	:30px;
	margin			:5px 10px;
	background		:#20a020;
	color			:#fafafa;
	border-radius	:5px;
	text-align		:left;
	position		:relative;
	
}

.talkmemo{
	position		:absolute;
	top				:0;
	right			:10px;
	bottom			:0;
	margin			:auto;
	font-size		:24px;
	height			:32px;
	line-height		:32px;
	width			:32px;
	color			:#fafafa;
	font-weight		:700;
	text-align		:center;
	background		:#f090e0;
}


.eve_title_no{
	flex-basis		:30px;
	height			:40px;
	line-height		:40px;
	text-align		:right;
	padding-left	:5px;
}

.talk_memo_pop{
	position		:fixed;
	top				:160px;
	left			:0;
	right			:0;
	margin			:auto;
}

.talk_memo_pop_out{
	position		:absolute;
	top				:-60px;
	right			:0;
	border-radius	:50%;
	border			:2px solid #0000a0;
	height			:50px;
	line-height		:50px;
	width			:50px;
	background		:#f0f0f0;
	color			:#0000a0;
	font-size		:40px;
	text-align		:center;
	font-weight		:900;
}

.talk_memo_pop_in{
	position		:relative;
	margin			:0 auto;
	width			:600px;
	padding			:10px;
	height			:auto;
	border			:2px solid #0000a0;
	background		:#f0f0f0;
	text-align		:left;
	font-size		:14px;
	line-height		:20px;
}

.eve_log{
	display			:none;
	position		:relative;
	width			:902px;
	background		:#eaeae0;
}

.eve_log_in{
	display			:flex;
	line-height		:24px;
	width			:880px;
	margin			:20px auto 0 auto
}

.eve_log_name{
	font-size		:20px;
	padding			:3px;
	width			:800px;
	flex-basis		:400px;
}

.eve_log_birth{
	display			:inline-block;
	font-size		:16px;
	padding			:3px;
}

.eve_log_btn1,.eve_log_btn2,.eve_log_btn3{
	font-size		:20px;
	height			:30px;
	line-height		:30px;
	width			:80px;
	margin			:5px 5px 5px auto;
	display			:inline-block;
	color			:#fafafa;
}


.eve_log_log{
	
	font-size		:16px;
	line-height		:23px;
	padding			:10px;
	background		:#f0f0ff;
	width			:860px;
	min-height		:70px;
	margin			:0 auto;
	border			:1px solid #303030;
}

.eve_log_answer{
	position		:absolute;
	font-size		:16px;
	height			:560px;
	line-height		:23px;
	padding			:10px;
	width			:860px;
	resize			:none;
	background		:#fafafa;
	margin			:5px 10px;
}

.eve_log_answer2{
	font-size		:16px;
	height			:560px;
	line-height		:23px;
	padding			:10px;
	width			:860px;
	resize			:none;
	background		:#fafafa;
	margin			:5px auto;
}

.eve_answer_out{
	background		:#eaeae0;
	position		:relative;
	height			:620px;
	padding			:0;
	width			:900px;
}

.img_box_out{
	width			:860px;
	height			:220px;
	margin			:10px auto;;
	text-align		:center;
	padding			:10px;
}

.img_box{
	position		:relative;
	height			:160px;
	width			:160px;
	flex-basis		:160px;
	margin			:5px;
	overflow		:hidden;
	background		:#f0e0e0;
	border			:1px solid #171717;
	z-index			:2;
}

.img_box_in{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:100%;
	z-index			:1;
}


.eve_2412_res{
	flex-basis		:75px;
	height			:30px;
	border			:3px solid #000090;
	border-radius	:5px;
	text-align		:right;
	padding			:5px;
	font-size		:20px;
	font-weight		:800;
	background		:#fffafa;
	color			:#000060;
	margin-left		:5px;
}

.eve_2412_resc{
	position		:absolute;
	top				:5px;
	right			:100px;
	height			:20px;
	line-height		:20px;
	text-align		:right;
	font-size		:18px;
	font-weight		:800;
	color			:#c00000;
}

.eve_2412_rese{
	flex			:1;
	height			:50px;
	line-height		:76px;
	text-align		:right;
	font-size		:16px;
	color			:#171717;
}

.eve_2412_res_a{
	position		:absolute;
	right			:80px;
	bottom			:0;
	width			:75px;
	height			:30px;
	line-height		:30px;
	border			:3px solid #000090;
	border-radius	:5px;
	text-align		:right;
	padding			:5px;
	font-size		:20px;
	font-weight		:800;
	background		:#fffafa;
	color			:#000060;
}

.eve_2412_resp_a{
	position		:absolute;
	right			:0px;
	bottom			:2px;
	width			:60px;
	height			:42px;
	line-height		:42px;
	border			:1px solid #008000;
	border-radius	:5px;
	text-align		:center;
	font-size		:20px;
	font-weight		:800;
	background		:linear-gradient(#00a000,#008000);
	color			:#fafafa;
}

.eve_2412_resc_a{
	position		:absolute;
	top				:5px;
	right			:180px;
	height			:20px;
	line-height		:20px;
	text-align		:right;
	font-size		:18px;
	font-weight		:800;
	color			:#c00000;
}

.eve_2412_rese_a{
	position		:absolute;
	right			:180px;
	eidth			:120px;
	bottom			:0;
	height			:30px;
	line-height		:30px;
	text-align		:right;
	font-size		:16px;
	color			:#171717;
}



.set_f,.set_e{
	display		:flex;
	flex-wrap	:wrap;
	width		:900px;
}

.eve_month_answer_flex{
	display		:flex;
	height		:24px;
	margin		:5px auto 1px auto;
}

.month_tag{
	background	:#484848;
	display		:block;
	width		:40px;
	flex-basis	:40px;
	height		:24px;
	line-height	:24px;
	margin		:0 4px;
	font-size	:16px;
	color		:#fafafa;
	text-align	:center;
}
.month_count{
	display		:block;
	width		:40px;
	flex-basis	:40px;
	height		:24px;
	line-height	:24px;
	margin		:0 4px;
	font-size	:16px;
	color		:#171717;
	text-align	:right;
	padding-right:5px;
	background	:#e8e8e8;
	border		:1px solid #171717;
}
.month_alert{
	display		:block;
	flex		:1;
	height		:24px;
	line-height	:24px;
	margin		:0 4px;
	font-size	:16px;
	color		:#171717;
	text-align	:right;
}

.month_word{
	display		:block;
	flex-basis	:90px;
	height		:24px;
	line-height	:24px;
	margin		:0 4px;
	font-size	:16px;
	color		:#171717;
	text-align	:right;
}


.eve_month_answer_out{
	position	:relative;
	flex		:0 0 410px;
	height		:280px;
	margin		:4px;
	border		:1px solid #171717;
	background	:#fafafa;
}

.eve_month_answer{
	resize		:none;
	width		:400px;
	height		:230px;
	font-size	:14px;
	line-height	:19px;
	padding		:5px;
	border		:1px solid #171717;
	margin		:4px;
}

.out2{
	height		:980px;
}

.eve_tag_out{
	display			:flex;
	justify-content	:flex-start;
	margin			:5px auto;
	align-items		:flex-end;
	width			:880px;
	position		:relative;
}

.eve_tag{
	flex-basis	:100px;
	margin		:0 1px;
	border		:1px solid #303030;
	background	:#fafaff;
	color		:#303030;
	height		:24px;
	font-size	:16px;
	line-height	:24px;
	padding		:5px 10px;
	text-align	:center;
}

.eve_tag_on{
	background	:#ffd8d8;
}

.icon_br-phone,.icon_br-chat{
	position	:absolute;
	top			:0;
	left		:5px;
	bottom		:0;
	margin		:auto;
	display		:block;
	height		:30px;
	line-height	:30px;
	width		:30px;
	text-align	:center;
	font-size	:22px;
}

.asp_flex{
	display		:flex;
	height		:70px;
	width		:880px;
	margin		:10px auto;
}

.asp_flex_custom{
	display		:flex;
	position	:absolute;
	height		:70px;
	width		:880px;
	margin		:10px auto;
	left		:20px;
	top			:590px;
}

.asp_radio{
	display		:none;
}


.asp_label{
	display		:block;
	flex-basis	:64px;
	height		:64px;
	position	:relative;
	background	:#fafafa;
	margin		:2px;
	border		:1px solid #171717;
}

.asp_comm{
	display			:block;
	flex-basis		:40px;
	height			:64px;
	line-height		:84px;
	position		:relative;
	vertical-align	:bottom;
	font-size		:24px;
	margin			:2px 10px;
}


.asp_radio:checked + label{
	background	:#ffe8e8;
}

.asp_radio:checked + label > .asp_m{
	border		:2px solid #c00000;
}

.asp_m{
	position	:absolute;
	top			:0;
	left		:0;
	right		:0;
	bottom		:0;
	margin		:auto;
	font-size	:16px;
	text-align	:center;
	border		:1px solid #c8c8c8;
	background	:#f0f0e0;
}

.asp_0{
	width		:40px;
	height		:40px;
}

.asp_1{
	width		:27px;
	height		:48px;
}

.asp_2{
	width		:48px;
	height		:27px;
}

.asp_3{
	width		:36px;
	height		:48px;
}

.asp_4{
	width		:48px;
	height		:36px;
}

.rasp_0{
	width		:270px;
	height		:270px;
	margin		:15px;
}

.rasp_1{
	width		:162px;
	height		:288px;
	margin		:8px;
}

.rasp_2{
	width		:288px;
	height		:162px;
	margin		:69px;
}

.rasp_3{
	width		:225px;
	height		:300px;
}

.rasp_4{
	width		:300px;
	height		:225px;
	margin		:35px;
}



.mrasp_0{
	width		:160px;
	flex-basis	:160px;
	height		:160px;
	margin		:20px;
}

.mrasp_1{
	width		:108px;
	flex-basis	:108px;
	height		:192px;
	margin		:4px 46px;
}

.mrasp_2{
	width		:192px;
	flex-basis	:192px;
	height		:108px;
	margin		:46px 4px;
}

.mrasp_3{
	width		:135px;
	flex-basis	:135px;
	height		:180px;
	margin		:10px 32px;
}

.mrasp_4{
	width		:180px;
	flex-basis	:180px;
	height		:135px;
	margin		:32px 10px;
}


.img_upd{
	display		:none !important;
}

.stan0{
	background		:#906000;
	color			:#fafafa;
	margin			:5px;
	flex-basis		:110px;
	width			:110px;
	height			:30px;
	line-height		:30px;
	text-align		:center;
	border-radius	:5px;
}

.stan1{
	background		:#104070;
	color			:#fafafa;
	margin			:5px;
	flex-basis		:110px;
	width			:110px;
	height			:30px;
	line-height		:30px;
	text-align		:center;
	border-radius	:5px;
}

.atama_tag{
	margin			:20px auto 5px auto;
	position		:relative;
	font-size		:18px;
	font-weight		:800;
	height			:50px;
	line-height		:80px;
}

.atama_tag_in{
	position		:absolute;
	bottom			:0;
	right			:5px;
	margin			:auto;
	width			:36px;
	height			:36px;
	font-size		:16px;
	line-height		:30px;
	background		:#484848;
	
}

.atama_tag_in1,.atama_tag_in2{
	position		:absolute;
	top				:0;
	bottom			:0;
	left			:0;
	right			:0;
	margin			:auto;
	width			:20px;
	height			:5px;
	background		:#fafafa;
}

.atama_tag_in2{
	width			:5px;
	height			:20px;
}

.eve_log_atama,.eve_log_atama_txt{
	display			:block;
	width			:890px;
	margin			:0 auto;
	position		:relative;
	resize			:none;
    line-height		:23px;
    padding			:5px;
	font-size		:16px;
    background		:#fafafa;
	border			:1px solid #171717;
	min-height		:100px;
}


.eve_log_atama_txt{
	height		:105px;
}

.atama_view00{
	width:100%;
	display:none;
}
.atama_view01{
	width:100%;
}

.atama_view10{
	width:100%;
}
.atama_view11{
	width:100%;
	display:none;
}


.eve_log_flex{
    position	:absolute;
	display		:flex;
	flex-wrap	:wrap;
    left		:0;
    right		:0;
    font-size	:16px;
    height		:875px;
    line-height	:23px;
    padding		:10px;
    width		:860px;
    resize		:none;
    margin		: 0 auto;
}

.mimg_box_out {
	display		:flex;
    width		:880px;
    height		:210px;
    margin		:100px auto 10px auto;
	justify-content:space-around;
}


.mimg_box{
	flex-basis	:200px;
    height		:200px;
	position	:relative;
}

.eve_comm{
	width		:800px;
	padding		:10px;
	font-size	:16px;
	line-height	:30px;
	text-align	:left;
	margin		:5px auto 20px auto;
}

.ar_modal_back {
	display		:none;
	position	:fixed;
	top			: -5vh;
	left		: -5vw;
	width		: 110vw;
	height		: 110vh;
	background	: rgba(30, 30, 30, 0.5);
	z-index		: 114514;
}

.ar_modal_base{
    text-align	: center;
    position	: absolute;
    top			: 0;
    left		: 0;
    right		: 0;
    bottom		: 0;
    margin		: auto;
    width		: 400px;
    height		:100px;
    background	:#f8f0e0;
    border		: 1px solid #303030;
    border-radius: 10px;
    box-shadow	: 0.5vw 0.5vw 0.5vw rgba(30, 30, 30, 0.5);
    z-index: 114515;
}

.ar_modal_comm2{
	display:block;
	background:#fafafa;
	border:1px solid #171717;
	padding:10px;
	margin:10px;
	text-align:left;
	font-size:16px;
	line-height:30px;
}

.wait{
	display			:none;
	position		:fixed;
	top				:-10vh;
	left			:-10vw;
	width			:120vw;
	height			:120vh;
	background		:rgba(30,30,30,0.7);
	z-index			:99999999;
}

.wait_in{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:100px;
	height			:100px;
	border-top		:20px solid #777777;
	border-left		:20px solid #0000d0;
	border-right	:20px solid #0000d0;
	border-bottom	:20px solid #0000d0;
	border-radius	:50%;
	animation		:5s linear infinite wait_animation;
}

@keyframes wait_animation{
	0%{ transform:rotate(0);}
	100%{ transform:rotate(360deg); }
}


@media screen and (max-width: 768px){

.eve_title_hist {
    flex-basis: 60vw;
    height: 7vw;
    line-height: 7vw;
    margin: 0.5vw;
	padding-left:7vw;
}

.eve_2412_res {
    bottom		:13vw;
    right		:1vw;
    width		:16vw;
    height		:8vw;
    padding		:0.5vw;
    font-size	:5.5vw;
	margin		:1vw;
}

.eve_box{
	width		:98vw;
	margin		:2vw auto;
}
.eve_box_notice{
	width		:90vw;
	margin		:2vw auto;
	font-size	:4vw;
	line-height	:5.5vw;
	padding		:1vw;
}

.eve_title,.eve_title1,.eve_title2,.eve_title3{
	width		:100%;
	height		:16vw;
	font-size	:4vw;
	flex-wrap	:wrap;
}

.eve_title_box{
	overflow		:hidden;
	flex-basis		:44vw;
	height			:6vw;
	line-height		:6vw;
	text-align		:left;
	padding-left	:0.5vw;
}

.eve_title_no{
	flex-basis		:4vw;
	height			:6vw;
	line-height		:6vw;
	text-align		:left;
	padding-left	:1vw;
}

.eve_log{
	width			:99vw;
	height			:265vw;
}

.eve_log_in{
	width			:98vw;
	margin			:0 auto;
	flex-wrap		:wrap;
}

.eve_log_name{
	font-size		:3.5vw;
	height			:15vw;
	line-height		:5vw;
	padding			:0.5vw;
	width			:92vw;
	flex-basis		:92vw;
	margin			:0.5vw; 
}

.eve_log_birth{
	font-size		:3.5vw;
}

.eve_log_btn1,.eve_log_btn2,.eve_log_btn3{
	font-size		:4vw;
	height			:6vw;
	width			:10vw;
	flex-basis		:94vw;
	margin			:0.5vw;
}


.eve_log_atama,.eve_log_atama_txt{
	width			:96vw;
    line-height		:6vw;
    padding			:1vw;
	font-size		:4.5vw;
}

.eve_log_atama_txt{
    height			:25vw;
}


.atama_tag{
	margin			:1vw;
	font-size		:4vw;
	height			:13vw;
	line-height		:20vw;
}



.eve_tag_out{
	width			:96vw;
	flex-wrap		:wrap;
}

.eve_tag {
    flex-basis		: 18vw;
    height			: 6vw;
    font-size		: 3.5vw;
    line-height		: 6vw;
    padding			: 0;
}

.eve_2412_rese {
	flex-basis	:30vw;
    height		:5vw;
    line-height	:5vw;
    font-size	:4vw;
}

.eve_2412_resc {
	top			:8vw;
	right		:22vw;
    height		:5vw;
    line-height	:5vw;
    font-size	:4vw;
}




.eve_2412_res_a{
	right			:14vw;
	width			:12vw;
	height			:6vw;
	line-height		:6vw;
	border			:3px solid #000090;
	border-radius	:1vw;
	text-align		:right;
	padding			:0 1vw;
	font-size		:4vw;
	font-weight		:800;
	background		:#fffafa;
	color			:#000060;
}

.eve_2412_resp_a{
	width			:12vw;
	height			:6vw;
	line-height		:6vw;
	border-radius	:1vw;
	font-size		:4vw;
}

.eve_2412_resc_a{
	top				:0;
	right			:26vw;
	height			:4vw;
	line-height		:4vw;
	font-size		:4vw;
}

.eve_2412_rese_a{
	position		:absolute;
	right			:1vw;
	top				:0;
	bottom			:auto;
	height			:4vw;
	line-height		:4vw;
	text-align		:right;
	font-size		:4vw;
	color			:#171717;
}

.mimg_box_out{
	margin			:20vw auto 1vw auto;
	width			:98vw;
	height			:30vw;
}

.img_box_out{
	width			:97vw;
	height			:36vw;
	margin			:0 auto;
	padding			:0;
	justfy-content	:center;
}

.img_box{
	margin			:1vw;
}


.asp_flex{
    height		:14vw;
    width		:80vw;
    margin		:1vw auto;
    left		:2vw;
}

.asp_flex_custom {
    height		:14vw;
    width		:80vw;
    margin		:1vw auto;
    left		:2vw;
    top			:145vw;
}

.asp_label{
	flex-basis	:12vw;
	height		:12vw;
	margin		:1vw;
}

.asp_comm{
	display			:block;
	flex-basis		:40px;
	height			:64px;
	line-height		:84px;
	position		:relative;
	vertical-align	:bottom;
	font-size		:24px;
	margin			:2px 10px;
}

.asp_0{
	width		:8vw;
	height		:8vw;
}

.asp_1{
	width		:4.5vw;
	height		:8vw;
}

.asp_2{
	width		:8vw;
	height		:4.5vw;
}

.asp_3{
	width		:6vw;
	height		:8vw;
}

.asp_4{
	width		:8vw;
	height		:6vw;
}

.rasp_0{
	width		:40vw;
	height		:40vw;
	margin		:1vw;
}

.rasp_1{
	width		:22.5vw;
	height		:40vw;
	margin		:1vw;
}

.rasp_2{
	width		:40vw;
	height		:22.5vw;
	margin		:1vw;
}

.rasp_3{
	width		:30vw;
	height		:40vw;
	margin		:1vw;
}

.rasp_4{
	width		:40vw;
	height		:30vw;
	margin		:1vw;
}




.mrasp_0{
	width		:20vw;
	flex-basis	:20vw;
	height		:20vw;
	margin		:1vw;
}

.mrasp_1{
	width		:13.5vw;
	flex-basis	:13.5vw;
	height		:24vw;
	margin		:1vw;
}

.mrasp_2{
	width		:19.2vw;
	flex-basis	:19.2vw;
	height		:10.8vw;
	margin		:1vw;
}

.mrasp_3{
	width		:18vw;
	flex-basis	:18vw;
	height		:24vw;
	margin		:1vw;
}

.mrasp_4{
	width		:20vw;
	flex-basis	:20vw;
	height		:15vw;
	margin		:1vw;
}

.eve_log_flex {
	position		:relative;
    font-size		: 4.5vw;
    height			: auto;
    line-height		: 6vw;
    padding			: 1vw;
    width			: 96vw;
	margin-bottom	:24vw;
}

.eve_month_answer_flex {
	height: 6vw;
}

.eve_month_answer {
    width		: 92vw;
    height		: 21vw;
    font-size	: 4.5vw;
    line-height	: 6vw;
    padding		: 1vw;
    margin		: 1vw;
}

.eve_month_answer_out {
    flex			:0 0 96vw;
    height			:32vw;
    margin			:1vw auto;
    background		:#fafafa;
}
.eve_log_log{
	font-size		:3.5vw;
	line-height		:5vw;
	padding			:1vw;
	width			:94vw;
	mihn-height		:12vw;
}

.eve_log_answer,.eve_log_answer2{
	font-size		:4.5vw;
	height			:135vw;
	line-height		:6.5vw;
	padding			:1vw;
	width			:92vw;
}


.eve_answer_out{
	height			:auto;
	height			:140vw;
	width			:98vw;
}


.out2{
	height		:auto;
}

.stan0,.stan1{
	height			:7vw;
	line-height		:7vw;
	font-size		:3.5vw;
	margin			:0.5vw;
	padding			:0 1vw;
	flex-basis		:24vw;
	overflow		:hidden;
}

.eve_comm{
	width		:90vw;
	font-size	:4vw;
	line-height	:5.5vw;
	margin		:1vw auto;
	padding		:1vw;
}

}

.asp_radio:checked + label{
	background	:#ffe8e8;
}

.asp_radio:checked + label > .asp_m{
	border		:2px solid #c00000;
}

