.box_0{
	margin:5px auto;
	padding:5px;
	text-align:left;
	background:#008000;
	background:linear-gradient(#009000, #008000);

	color:#fafafa;
	border:5px solid #ff3030;
	font-size:20px;
	width:700px;
	line-height:24px;
}

.box_1{
	display:flex;
	width:960px;
	margin:10px auto 0 auto;
}

.box_1_1,.box_1_2{
	display:inline-block;
	position:relative;
	flex-basis:460px;
	flex-wrap:wrap;
	margin:5px;
}

.box_1_1_0{
	display:inline-block;
	width:460px;
	margin:5px;
}

.box_1_1_1{
	display:inline-block;
	width:430px;
	text-align:center;
	border:5px solid #906000;
	padding: 10px;
	margin:5px;
	background:#fafafa;
	font-size:16px;
	text-align:left;
	box-shadow:0 0 50px rgba(200,200,200,0.3) inset;
	height:600px;
		
}

.box_2{
	display:inline-block;
	width:450px;
	margin:10px auto 0 auto;
	height:120px;
	position:relative;
	border:5px solid #0000d0;
	background:#fafafa;
}

.box_2_6{
	position:absolute;
	top:0;
	bottom:0;
	right:5px;
	width:150px;
	background:linear-gradient(#c0c030,#a0a000);
	text-align:center;
	margin:auto;
	font-size:18px;
	font-weight:600;
	height:26px;
	line-height:26px;
	color:#fafafa;
	text-shadow:2px 2px 0 #303030;
	border-radius:10px;
	text-decoration:none;
	cursor:pointer;
}


.box_2_1{
	display:inline-block;
	position:absolute;
	top:5px;
	left:5px;
	width:100px;
	height:100px;
	border:5px solid #d0d0d0;
}

.box_2_2{
	display:inline-block;
	position:absolute;
	top:0px;
	left:120px;
	width:320px;
	height:40px;
	line-height:40px;
	font-size:24px;
	background:#fafafa;
	border-bottom:3px solid #d0d0d0;
	text-align:left;
	padding-left;5px;
	font-weight:600;
	color:#303030;
}

.cbox_2_3{
	background:#ff6090 !important;
	color:#fafafa !important;
}

.cbox_2_4{
	background:#9060ff !important;
	color:#fafafa !important;
}


.box_2_3{
	display:inline-block;
	position:absolute;
	top:45px;
	left:120px;
	width:310px;
	height:30px;
	line-height:30px;
	font-size:20px;
	background:#fafafa;
	text-align:left;
	padding-left:5px;
	cursor:pointer;
	font-weight:600;
	border:2px solid #ff6090;
	color:#ff6090;
}

.box_2_4{
	display:inline-block;
	position:absolute;
	top:80px;
	left:120px;
	width:310px;
	height:30px;
	line-height:30px;
	font-size:20px;
	background:#fafafa;
	text-align:left;
	padding-left:5px;
	cursor:pointer;
	font-weight:600;
	border:2px solid #9060ff;
	color:#9060ff;
}

.box_2_5{
	display:none;
	width:450px;
	position:relative;
	background:#fafafa;
	text-align:left;
	padding:10px;
	margin:0 auto;
	font-size:24px;
	line-height:30px;
}

.box_r{
	border:2px solid #ff6090;
	box-shadow:0 0 200px rgba(255,200,220,0.3) inset;
}

.box_b{
	border:2px solid #9060ff;
	box-shadow:0 0 200px rgba(220,200,255,0.3) inset;
}