.box_0{
	margin			:2vw auto;
	padding			:2vw;
	width			:80vw;
	line-height		:5.5vw;
	font-size		:4vw;
	text-align		:left;
	color			:#fafafa;
	border			:0.5vw dashed #fafafa;
	box-shadow		:0px 0px 0px 2vw #c090a0;
	border-radius	:1vw;
	background		:#c090a0;

}


.flex{
	display		:inline-flex;
	width		:98vw;
	margin		:2vw auto;
	background	:#906000;
	flex-wrap	:wrap;
	justify-content: flex-start;
	padding		:1vw;
}

.flex_box{
	display		:inline-block;
	flex-basis	:22vw;
	height		:27vw;
	text-align	:center;
	margin		:1vw;
}

.flex_p{
	width		:22vw;
	height		:22vw;
}

.flex_m{
	display		:inline-block;
	width		:22vw;
	height		:5vw;
	margin		:0 auto;
	text-align	:center;
	background	:#fafafa;
	color		:#6090ff;
	font-weight	:600;
	font-size	:3.2vw;
	line-height	:5vw;
	text-align	:center;
	overflow	:hidden;
}

.pop00{
	min-height:70vh;
}

.pop00_a{
	display		:none;
	position	:relative;
	left		:0;
	right		:0;
	margin		:1vw auto 10vw auto;
	width		:90vw;
	border		:2vw solid #906000;
	background	:#fafafa;
	box-shadow:0.5vw 0.5vw 1vw rgba(90,90,90,0.4);
}

.pop00_b{
	position	:relative;
	width		:87vw;
	height		:17vw;
	background:#906000;
	color		:#fafafa;
	text-shadow	:-1px -1px 1px #202020;
}

.pop00_img{
	position	:absolute;
	top			:0vw;
	left		:0vw;
	width		:16vw;
	height		:16vw;
}

.pop00_c{
	position	:absolute;
	top			:1vw;
	left		:17vw;
	width		:68vw;
	height		:15vw;
	line-height	:20vw;
	font-size	:6vw;
	text-align	:left;	
	font-weight	:700;
//	box-shadow	:1vw 1vw 4vw rgba(120,100,80,0.3) inset,-1vw -1vw 4vw rgba(120,100,80,0.3)inset;
}


.pop00_d{
	position	:relative;
	width		:86vw;
	background	:#fafafa;
	text-align	:right;
}

.pop00_d1{
	width		:86vw;
	text-align	:left;
	font-size	:4vw;
	padding		:2vw;
}

.pop00_d2{
	text-align	:right;
	font-size	:4vw;
	padding-right:10vw;
	font-weight	:700;
	color		:#000090;
	text-decoration:none;
}

.pop00_e{
	position	:absolute;
	bottom		:-7vw;
	right		:-7vw;
	width		:15vw;
	height		:15vw;
	font-size	:8vw;
	line-height	:13vw;
	text-align	:center;
	background	:#e0f0ff;
	border		:2vw solid #906000;
	border-radius:50%;
	font-weight	:1000;	
	color		:#906000;	
	transform	:rotate(-90deg);
}
