.ar_modal_back{
	display		:none;
	position	:fixed;
	top			:-5vh;
	left		:-5vw;
	width		:110vw;
	height		:110vh;
	background	:rgba(30,30,30,0.5);
	z-index		:114514;
}

.ar_modal_main{
	text-align	:center;
	position	:absolute;
	top			:10vh;
	left		:0;
	right		:0;
	margin		:auto;
	width		:800px;
	background	:#90c080;
	border		:10px solid #90c080;
	border-radius:10px;
	box-shadow	:5px 5px 5pxw rgba(30,30,30,0.5);
}

.ar_modal_batsu{
	position	:absolute;
	top			:-60px;
	right		:-10px
	width		:40px;
	height		:40px;
	line-height	:35px;
	border		:5px solid #90c080;
	border-radius:50%;
	background	:#fafafa;
	text-align	:center;
	color		:#90c080;
	font-size	:30px;
	font-weight	:900;
}

.ar_modal_comm{
	margin		:1vw auto;
	width		:760px;
	line-height	:25px;
	font-size	:18px;
	text-align	:left;
	background	:#fafafa;
	color		:#303030;
	padding		:10px 20px;
}



