html:has(.ar_modal[open]){
	overflow		: hidden;
}

.ar_modal_close{
	position		:fixed;
	top				:20vw;
	right			:5vw;
	width			:8vw;
	height			:8vw;
	border-radius	:1vw;
	background		:#303030;
	display			:none;
	z-index			:114516;
}


.ar_modal_close_a,.ar_modal_close_b{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	width			:1vw;
	height			:6vw;
	background		:#fafafa;
	margin			:auto;
	transform		:rotate(-45deg);
	transform-origin:center;
}

.ar_modal_close_b{
	transform		:rotate(45deg);
}

.ar_modal_back{
	display		:none;
	position	:fixed;
	top			:-5vh;
	left		:-5vw;
	width		:110vw;
	height		:110vh;
	background	:rgba(30,30,30,0.5);
	z-index		:114514;
}

.ar_modal_base{
	display			:none;
	text-align		:center;
	position		:fixed;
	top				:30vw;
	left			:0;
	right			:0;
	margin			:auto;
	width			:90vw;
	height			:130vw;
	background		:#fafafa;
	border			:1px solid #303030;
	border-radius	:0.5vw;
	box-shadow		:0.5vw 0.5vw 0.5vw rgba(30,30,30,0.5);
	z-index			:114515;
}


.ar_modal_main{
	text-align	:center;
	position	:absolute;
	top			:50vw;
	left		:0;
	right		:0;
	margin		:auto;
	width		:90vw;
	background	:#90c080;
	border		:1vw solid #90c080;
	border-radius:2vw;
	box-shadow	:0.5vw 0.5vw 0.5vw rgba(30,30,30,0.5);
	z-index		:114514;
}

.ar_modal_ttl{
	position	:relative;
	width		:89vw;
	height		:8vw;
	line-height	:8vw;
	background	:#90c080;
	font-size	:4vw;
	text-align	:center;
	color		:#ffffff;
	margin		:0 auto;
}

.ar_modal_batsu{
	position	:absolute;
	top			:-12vw;
	right		:-1vw;
	width		:10vw;
	height		:10vw;
	line-height	:9vw;
	border		:1vw solid #90c080;
	border-radius:50%;
	background	:#fafafa;
	text-align	:center;
	color		:#90c080;
	font-size	:5vw;
	font-weight	:900;
}

.ar_modal_comm{
	margin		:1vw auto;
	width		:86vw;
	line-height	:4.2vw;
	font-size	:3vw;
	text-align	:left;
	background	:#fafafa;
	color		:#303030;
	padding		:1vw 2vw;
}


.ar_modal_btn_out{
	width		:90vw;
	height		:8vw;
	text-align	:center;
}



.ar_modal_s{
	display		:none;
	position	:absolute;
	top			:0;
	left		:0;
	right		:0;
	bottom		:0;
	margin		:auto;
	width		:70vw;
	height		:20vw;
	line-height	:20vw;
	text-align	:center;
	border		:1px solid #303030;
	background	:#fafafa;
	color		:#303030;
	font-size	:4.5vw;
}


.ar_modal_base2{
	display			:none;
	text-align		:center;
	position		:fixed;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	width			:80vw;
	height			:40vw;
	background		:#e8e8e8;
	border			:1px solid #303030;
	border-radius	:0.5vw;
	box-shadow		:0.5vw 0.5vw 0.5vw rgba(30,30,30,0.5);
	z-index			:114515;
}

.ar_modal_comm2{
	text-align		:left;
	padding			:2vw
	margin			:3vw auto;
	width			:72vw;
	height			:20vw;
	background		:#fafafa;
	color			:#c0c0c0;
	border			:1px solid #303030;
	font-size		:4vw;
	line-height		:5.8vw;
}

.ar_modal_back2{
	text-align		:center;
	position		:absolute;
	bottom			:2vw;
	left			:0;
	right			:0;
	margin			:auto;
	width			:60vw;
	height			:8vw;
	line-height		:8vw;
	background		:linear-gradient(#00a000,#008000);
	border			:1px solid #008000;
	border-radius	:1vw;
	color			:#fafafa;
	font-size		:6vw;
	font-weight		:800;
}


