

a{
	text-decoration:none;
	color: initial;
}		

table{
	border-collapse	:collapse;
}

td{
	vertical-align:middle;
}

input[type="text"],input[type="date"],input[type="password"],input[type="datetime-local"],select{
	height		:30px;
	font-size	:16px;
}

input[type="checkbox"],input[type="radio"]{
	display:none;
}



.back{
	display			:none;
	position		:fixed;
	top				:-10vh;
	left			:-10vw;
	height			:120vh;
	width			:120vw;
	margin			:auto;
	background		:rgba(30,30,30,0.5);
	z-index			:100;
}

.pop{
	display			:none;
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	height			:300px;
	width			:400px;
	margin			:auto;
	background		:#f0f0f0;
	border			:10px solid #ffe0c0;
	border-radius	:10px;
	text-align		:center;
	font-size		:0;
}

.pop_out{
	position		:absolute;
	top				:-25px;
	right			:-25px;
	height			:40px;
	line-height		:40px;
	width			:40px;
	background		:#ffe0c0;
	border-radius	:50%;
	text-align		:center;
	font-size		:26px;
	font-weight		:900;
	color			:#d06020;
	cursor:pointer;
}


.pop_msg{
	display			:block;
	width			:340px;
	height			:180px;
	margin			:20px auto 10px auto;
	padding			:10px;
	background		:#fafafa;
	font-size		:18px;
	line-height		:28px;
	text-align		:left;

}


.pop_btn{
	width			:120px;
	height			:40px;
	font-size		:18px;
	font-weight		:600;
	margin			:10px 20px;
	font-weight		:900;	
	color			:#fafafa;
	border:none;
}

#pop_ng{
	background:#a03038;
}

#pop_ok{
	background:#008000;
}


.contact_area{
	width		:400px;
	height		:200px;
	resize		:none;
	padding		:10x;
	font-size	:14px;
	line-height	:20px;
}


.contact_chg{
	display			:inline-block;
	font-size		:14px;
	line-height		:24px;
	height			:24px;
	padding			:2px 3px;
	border-bottom	:1px solid #303030;
}

.pager{
	display			:flex;
	position		:absolute;
	top				:0;
	bottom			:0;
	right			:10px;
	margin			:auto;
	height			:40px;
	width			:330px;
	text-align		:right;
	justify-content:flex-end;
}

.page{
	flex-basis		:30px;
	height			:30px;	
	line-height		:30px;	
	margin			:0;
	background		:#E6E6FA;
	font-size		:16px;
	text-align		:center;
	border-top		:5px solid #d0d0ff;
	border-left		:1px solid #d0d0ff;
	border-right	:1px solid #d0d0ff;
	border-bottom	:5px solid #d0d0ff;
	color			: #303030;
	cursor			:pointer;
}
.page_p{
	flex-basis		:50px;
	height			:40px;	
	line-height		:40px;	
	margin			:0;
	background		:#d0d0ff;
	font-size		:15px;
	font-weight		:600;
	text-align		:center;
	border-radius	:20px 0 0 20px;
	color			:#303030;
	cursor			:pointer;
}
.page_n{
	flex-basis		:50px;
	height			:40px;	
	line-height		:40px;	
	margin			:0;
	background		:#d0d0ff;
	font-size		:15px;
	font-weight		:600;
	text-align		:center;
	border-radius	:0 20px 20px 0;
	color			:#303030;
	cursor			:pointer;
}

.pg_on{
	background		:#b0b0ff;
	color			:#fafafa;
}

.td_top{
	background	:#d0d0ff;
	text-align	:center;
	font-size	:14px;
	border:1px solid #303030;
}

.td_sort{
	width		:30px;
	text-align	:center;
	background	:#a06000;
	color		:#fafafa;
}

.tbox{
	height:100px;
	resize:none;
}

.tbox2{
	height:70px;
	resize:none;
}
.head{
	display			:block;
	position		:fixed;
	top				:0;
	left			:0;
	width			:1150px;
	height			:50px;
	background		:#d8e8ff;
	z-index			:10;
	box-shadow:0 2px 2px rgba(0,0,0,0.5);
}

.wrap{
	margin			:0;
	padding			:0;	
	width			:1150px;
}

.timeline-Footer{font-size:0 !important}

ul {
	margin-block-start	:0;
	margin-block-end	:0;
	margin-inline-start	:0;
	margin-inline-end	:0;
	padding-inline-start:0;
}

.body{
	background	:#f0f0f0;
	text-align	:center;
	margin		:0;
	padding		:0;
	line-height	:1.2;
	color		:#333;
	font-size	:0;
	font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	text-align	:center;
}

.left{
	position	:fixed;
	top			:0;
	left		:0;
	width		:180px;
	height		:100vh;
	background	:#ffc0a0;
	box-shadow	:2px 50px 5px rgba(60,60,60,0.5);	
	z-index		:20;
	border-right:1px solid #303030;
}

.main{
	width		:1150px;
	background	:#f0f0f0;
	text-align	:left;
	margin-left	:180px;
}


.menu_ul{
	width		:180px;
}

.menu{
	position		:relative;
	display			:inline-block;
	text-align		:left;
	width			:170px;
	height			:40px;
	line-height		:40px;
	margin			:0 auto;
	border-bottom	:1px solid #101010;
	cursor			:pointer;
}

.menu_comm{
	position		:absolute;
	top				:0;
	bottom			:0;
	left			:35px;
	display			:inline-block;
	height			:30px;
	line-height		:30px;
	text-align		:left;
	font-size		:18px;
	margin			:auto;
}

.menu_icon{
	position		:absolute;
	top				:0;
	bottom			:0;
	left			:0px;
	display			:inline-block;
	width			:30px;
	height			:30px;
	line-height		:30px;
	text-align		:center;
	font-size		:22px;
	font-family		:at_icon;
	margin			:auto;
}

.set_box,.set_box_sch{
	width		:100px;
	height		:40px;
	font-size	:16px;
	padding		:5px;
}


.option_ttl,.option_ttl_new{
	width			:200px;
	padding-left	:10px;
	font-size		:18px;
	border			:none;
	border-bottom	:2px solid #000000;
	margin			:5px;
}

.option_select,.option_select_new{
	width			:100px;
	padding-left	:10px;
	font-size		:18px;
	border			:1px solid #000000;
	margin			:5px 250px 5px 0;
}

.option_tag{
	display			:inline-block;
	width			:60px;
	height			:30px;
	line-height		:30px;
	font-size		:18px;
	margin			:5px;
	font-weight		:600;
	text-align		:right;
	padding-right	:5px;
}

.option_add{
	display			:inline-block;
	width			:90px;
	height			:20px;
	line-height		:20px;
	background		:#e0c080;
	position		:relative;
	border-radius	:5px;
	margin			:5px;
	color			:#fafafa;
	padding			:5px;
	font-size		:16px;
	font-weight		:600;
	cursor			:pointer;
}

.option_del{
	display			:inline-block;
	width			:140px;
	height			:20px;
	line-height		:20px;
	background		:#d00000;
	position		:relative;
	border-radius	:5px;
	margin			:5px;
	color			:#fafafa;
	padding			:5px;
	font-size		:16px;
	font-weight		:600;
	cursor			:pointer;
}


.option_table{
	border:1px solid #303030;
	margin:5px;
}

.option_top{
	width			:950px;
	max-width		:950px;
	height			:50px;
	text-align		:left;
	font-size		:0;
	padding			:0 10px;
	background		:#d0d0ff;
	position		:relative;
}

.option_flex{
	width			:1000px;
	max-width		:1000px;
	text-align		:left;
	font-size		:0;
	padding			:8px;
	background		:#e6e6fa;
}


.option_handle{
	width			:40px;
	height			:50px;
	line-height		:50px;
	text-align		:center;
	font-size		:30px;
	color			:#202030;
	background		:#d0d0ff;
	font-family		:at_icon;
	border-right	:1px solid #fafafa;
	cursor			:pointer;
}

.tr{
	background	:#e6e6fa;
}

.config_td, .config_prof_handle,.config_prof_name,.config_prof_style,.config_prof_sort{
	border		:1px solid #000000;
	height		:30px;
}

.config_td{
	background	:#e6e6fa;
}

.config_prof_handle{
	width		:30px;
	text-align	:center;
	font-size	:20px;
}

.config_prof_sort{
	width		:30px;
}

.config_prof_name{
	width		:140px;
}

.config_prof_style{
	width		:120px;
}

.top_page{
	font-size	:14px;
	width		:1080px;
	text-align	:left;
	margin-top	:60px;
	padding-left:10px;
}

.prof_sort{
	width		:26px;
	height		:30px;
	text-align	:right;
	margin		:2px;
	padding		:0 3px;
}

.prof_name{
	height		:30px;
	width		:240px;
	padding-left:5px;
}

.bg1{
	background:#999999;
}
.del_btn{
	background:#ffe0e5;
}
.config_sche{
	border			:1px solid #303030;
	margin			:5px;
	table-layout	:fixed;
}

.config_sche_top{
	text-align		:center;
	height			:20px;
	background		:#d0d0ff;
	font-size		:14px;
	font-weight		:600;
	color			:#000000;
	border			:1px solid #303030;

}

.config_sche_list{
	text-align		:center;
	font-size		:0;
	background		:#e6e6fa;
	vertical-align	:top;
	border			:1px solid #303030;
}

.config_sche_del{
	text-align		:left;
	font-size		:0;
	background		:#e6e6fa;
	width			:120px;
}

.sel_flex{
	display			:inline-block;
	width			:240px;
	height			:40px;
	background		:#e0c080;
	position		:relative;
	border-radius	:5px;
	margin			:5px;
}

.sel_text{
	position		:absolute;
	top				:0;
	bottom			:0;
	left			:30px;
	margin			:auto;
	width			:180px;
	height			:30px;
	line-height		:30px;
	padding			:5px;
	color			:#303030;
	font-size		:16px;
}

.sel_move{
	display			:inline-block;
	position		:absolute;
	top				:0;
	bottom			:0;
	left			:5px;
	margin			:auto;
	width			:26px;
	height			:30px;
	line-height		:30px;
	text-align		:center;
	color			:#0000d0;
	font-weight		:800;
	font-size		:20px;
	cursor			:pointer;
	font-family		:at_icon;
}

.sel_del{
	display			:inline-block;
	position		:absolute;
	top				:0;
	bottom			:0;
	right			:0;
	margin			:auto;
	width			:30px;
	height			:30px;
	line-height		:30px;
	text-align		:center;
	color			:#fafafa;
	font-weight		:800;
	font-size		:20px;
	cursor			:pointer;
}


.prof_box{
	display		:flex;;
	width		:500px;
	flex-wrap	:wrap;
}

.prof_list{
	display		:block;
	height		:30px;
	flex-basis	:500px;
}

.prof_option{
	height		:30px;
	width		:120px;
}

.table_title{
	background		:linear-gradient(#e0e0e0,#d0d0d0);
	padding			:5px;
	font-size		:16px;
}

.config_title{
	background		:linear-gradient(#e0e0e0,#d0d0d0);
	padding			:5px;
	font-size		:16px;
	width			:1130px;
	margin			:20px 5px 0 5px;
}

.prof_btn,.new_set_btn{
	width		:55px;
	height		:30px;
	font-size	:13px;
}


.new_set_btn{
//	background:#90f0a0;
	
}


.c_s_box{
	display				:inline-block;
	height				:30px;
	line-height			:30px;
	width				:180px;
	font-size			:0;
	color				:#fafafa;
	text-align			:left;
	margin				: 0 50px;
}
.c_s_btn{
	display				:inline-block;
	height				:30px;
	line-height			:30px;
	width				:80px;
	font-size			:16px;
	text-align			:center;
	background			:#b0b0b0;
	color				:#fafafa;
}

.on_1{
	background:#0000c0;
}

.on_2{
	background:#c00000;
}

.ck_off:checked + label{
	background		:linear-gradient(#c0c0f0,#8080ff);
}

.ck_box{
	display			:inline-block;
	width			:125px;
	margin			:2px;
	padding			:4px;
	border-radius	:5px;
	background		:#c0c0c0;
	color			:#fafafa;
	font-size		:14px;
	text-align		:left;
}

.table_title{
	background		:linear-gradient(#e0e0e0,#d0d0d0);
	padding			:5px;
	font-size		:14px;
}


.sex_box{
	position		:relative;
	display			:inline-block;
	height			:30px;
	width			:70px;
}


.sex_box_txt{
	position		:absolute;
	display			:inline-block;
	top				:0px;
	left			:25px;
	bottom			:0;
	margin			:auto;
	height			:30px;
	line-height		:30px;
}

.ck_free{
	font-size	:14px;
	position	:relative;
	padding-left:25px;
	height		:30px;
	line-height	:30px;
	margin		:5px;
}

.ck_free2{
	display:inline-block;
	font-size	:14px;
	position	:relative;
	width		:90px;
	padding-left:25px;
	height		:30px;
	line-height	:30px;
	margin		:2px;
}


.ck_sns:checked + .check1{
	display				:inline-block;
}
.ck0:checked + .check1{
	display				:inline-block;
}
.ck1:checked + .check1{
	display				:inline-block;
}
.ck2:checked + .check1{
	display				:inline-block;
}

.ribbon_use{
	font-size	:14px;
	position	:relative;
	padding-left:25px;
	height		:30px;
	line-height	:30px;
	margin		:5px;
}

.ribbon_use:checked + .check1{
	display				:inline-block;
}

.check1{
	display				:none;
	position			:absolute;
	left				:5px;
	bottom				:0;
	width				:20px;
	height				:14px;
	border-bottom		:4px solid #a00000;
	border-left			:4px solid #a00000;
	transform			:rotate(-50deg);
	transform-origin	:left bottom
}

.check2{
	display				:inline-block;
	position			:absolute;
	left				:5px;
	top					:0;
	bottom				:0;
	margin				:auto;
	width				:16px;
	height				:16px;
	border				:2px solid #303030;
	background			:#fafafa;
}
.head_ttl{
	display				:inline-block;
	height				:30px;
	line-height			:30px;
	width				:200px;
	margin				:10px;
	padding-left		:10px;
	background			:#fafafa;
	font-size			:14px;
	color				:#303030
}

.sel_contents{
	display			:inline-block;
	background		:#b0b0b0;
	width			:150px;
	height			:30px;
	line-height		:30px;
	margin			:10px 5px;
	border-radius	:5px;
	color			:#fafafa;
	font-size		:18px;
	font-weight		:600;
	text-align		:center;
	cursor			:pointer;
}

.sel_ck{
	background		:linear-gradient(#ff0000,#d00000);
}

.main_1{
	display			:block;
	width			:1150px;
	flex-basis		:1150px;
	min-height		:calc(100vh - 80px);
}

.main_box{
	display			:inline-block;
	width			:870px;
	flex-basis		:870px;
	min-height		:calc(100vh - 80px);
	text-align		:left;
}


.sub_box{
	display			:inline-block;
	width			:290px;
	flex-basis		:290px;
	min-height		:calc(100vh - 80px);
	text-align		:left;
}

.notice_tag,.event_tag{
	display			:inline-block;
	font-size		:16px;
	height			:30px;
	line-height		:30px;
	text-align		:right;
	padding-right	:5px; 
	width			:50px;
}

.notice_tag{
	width			:65px;
}

.event_tag1{
	display			:inline-block;
	font-size		:16px;
	height			:30px;
	line-height		:30px;
	text-align		:right;
	padding-right	:5px; 
	width			:60px;
	border			:1px solid #303030;
	background:#f0fff0;
}

.event_tag2{
	display			:inline-block;
	font-size		:16px;
	height			:28px;
	line-height		:35px;
	text-align		:left;
	padding-right	:5px; 
	width			:178px;
	border-bottom	:2px solid #303030;
}

.news_title{
	width		:780px;
	height		:58px;
	line-height	:24px;
	font-size	:16px;
	resize		:none;
	padding		:5px;
	background	:#fafafa;
}

.news_table{
	margin		:5px 0;
	background	:#fafafa;
	border		:1px solid #303030;
}

.news_table td{
	padding:5px;
}

.news_tag_label{
	position		:relative;
	display:		inline-block;
	width			:55px;	
	height			:24px;
	line-height		:24px;
}

.news_tag_label_in{
	display:		inline-block;
	height			:24px;
	line-height		:24px;
	font-size		:14px;
	padding-left	:5px;
}

.event_tag_label{
	position		:relative;
	display:		inline-block;
	width			:160px;	
	height			:40px;
	line-height		:40px;
	font-size		:16px;
	background		:#fafafa;
	border			:1px solid #303030;
	margin			:1px;
	padding			:0 10px;
	cursor			:pointer;
}

.news_chg:checked + label{
	background	:linear-gradient(#efdfff,#e0d0f0);
}


#view2{
	margin-bottom:20px;
}

.label_on{
	background		:#f0e0b0;

}

.event_tag_btn, .event_tag_btn{
	width			:65px;
	background		:#aaaaaa;
	color			:#ffffff;
	margin			:0 2px;
	height			:30px;
	vertical-align	:top;
}

.st_view{
	display			:inline-block;
	width			:80px;
	height			:28px;
	line-height		:28px;
	text-align		:center;
	font-weight		:600;
	font-size		:15px;
}

.v0{
	background		:#d0e0ff;
	color			:#0000c0;
	border			:2px solid #0000c0;
}
.v2{
	background		:#ffe0f0;
	color			:#d00000;
	border			:2px solid #d00000;
}


.v1{
	background		:#ffffe0;
	color			:#a08000;
	border			:2px solid #a08000;
}

.v3{
	background		:#fafafa;
	color			:#909090;
	border			:2px solid #909090;
}

.page_area{
	margin			:0px auto;
	width			:770px;
	height			:500px;
	resize			:none;
	font-size		:15px;
	padding			:10px;
	border			:1px solid #303030;
}

.event_table{
	margin			:5px;
	border			:1px solid #303030;
	font-size		:0;
	vertical-align	:top;
}


.blog_table{
	width			:1100px;
	flex-basis		:1100px;
	margin			:10px;
	border			:1px solid #303030;
	font-size		:0;
	vertical-align	:top;
}

.blog_td_img{
	width		:320px;
	position	:relative;
	text-align	:center;
}

.img_hide{
	position	:absolute;
	top			:00px;
	left		:0px;
	width		:320px;
	height		:320px;
	line-height	:320px;
	background	:rgba(60,60,60,0.7);
	color		:#fafafa;
	font-weight	:900;
	font-size	:40px;
	text-align	:center;
	z-index		:1;

}


.event_td_0{
	background		:#ffd090;
	color			:#a04000;
	text-align		:center;
	padding-right	:5px;
	font-size		:16px;
	border			:1px solid #303030;
	width			:83px;
}

.event_td_1{
	border		:1px solid #303030;
	background	:#ffd090;
	color		:#a04000;
	width		:40px;
	text-align	:center;
	font-size	:30px;
}

.event_td_2{
	width		:40px;
	text-align	:center;
	border		:1px solid #303030;
	background	:#fafafa;
}


.event_td_3,.event_td_5{
	position	:relative;
	height		:40px;
	border		:1px solid #303030;
	width		:460px;
}

.event_td_4{
}

.event_td_4_in{
	resize			:none;
	font-size		:14px;
	line-height:1.5;
	padding			:5px;
	border			:1px solid #303030;
	margin			:5px;
	width			:685px;
	height			:120px;
	background		:#fafafa;
}
.event_td_6{
	position	:relative;
	border-right:1px solid #303030;
	width		:290px;

}

.event_td_7{
	position	:relative;
	border		:1px solid #303030;
	width		:290px;
}

.event_td_8{
	position	:relative;
	border		:1px solid #303030;
	width		:120px;
	font-size	:14px;
	line-height	:20px;
}


.event_img{
	position		:absolute;
	top				:5px;
	left			:5px;
	width			:275px;
	height			:110px;
	margin			:auto;
	overflow		:hidden;
}

.event_text{
	position		:absolute;
	top				:0px;
	left			:0px;
	width			:290px;
	height			:80px;
	resize			:none;
	font-size		:15px;
	line-height		:1px;
	padding			:10px;
	border			:none;
	background:#f0f0ff;
}



.info_img{
	display			:inline-block;
	margin			:5px;
	height			:70px;
	max-width		:280px;
	overflow		:hidden;
}

.img_chg,.img_large{
	position		:absolute;
	top				:5px;
	right			:5px;
	width			:30px;
	height			:30px;
	line-height		:30px;
	background		:rgba(255,255,255,0.5);
	border			:1px solid #303030;
	text-align		:center;
	color			:#303030;
	font-weight		:800;
	font-size		:16px;
	font-family		:at_icon;
}
	
.img_large{
	top				:40px ;
	font-size		:20px;
}

.event_set_btn,.event_set_btn_blog,.event_reg_btn{
	width			:60px;
	height			:30px;
	margin			:0 5px;
	border			:1px solid #303030;
}

.box_sort{
	width			:30px;
	text-align		:right;
	padding			:3px;
}

.page_top{
	margin			:5px auto;
	width			:800px;
}

.recuruit_table td{
	padding			:3px;
}

.recuruit_table{
	border			:1px solid #303030;
	margin			:5px auto;
	border-collapse	:collapse;
	background		:#fafafa;
}

.recruit_contents{
	resize		:none;
	width		:700px;
	height		:100px;
	margin		:5px auto;
	background	:rgba(245,245,245,0.6);
}

.recruit_title{
	width		:470px;
	background	:rgba(245,245,245,0.6);
	border		:1px solid #202020;
	margin-right:10px;
	padding-left:10px;
}

.recruit_tr{
	background	:#fafafa;
}

.recruit_td1{
	border		:1px solid #303030;
	width		:30px;
	text-align	:center;

}

.recruit_td2{
	border		:1px solid #303030;
	width		:30px;
	text-align	:center;
}

.recruit_td3{
	border		:1px solid #303030;
	width		:700px;
	text-align	:left;
	background	:#d0d0ff ;
	font-size	:0px;
	height		:150px;
}

.recruit_td4{
	border		:1px solid #303030;
	width		:700px;
	text-align	:left;
}

.news_box{
	height			:30px;
	margin			:0 2px;
	border			:1px solid #303030;
	padding			:1px;
	vertical-align	:top;
}

.rec_link{
	resize			:none;
	width			:770px;
	height			:130px;
	padding			:15px;
	font-size		:16px;
	line-height		:22px;
	margin			:0 auto;
}


.recruit_img{
	display		:inline-block;
	width		:800px;
	border		:1px solid #000000;
	margin-top:5px;
}

.recruit_img_out{
	display		:block;
	width		:802px;
	margin		:5px auto;
	padding		:10px;
	text-align	:right;
}


.link_tag{
	display			:inline-block;
	width			:60px;
	height			:130px;
	font-size		:16px;
	line-height		:30px;
	text-align		:center;
	background		:#d0d0ff;	
	vertical-align	:top;
	margin			:5px 0;
}

.submit_btn{
	width		:60px;
	height		:30px;
	margin		:10px 5px;
	font-size	:14px;
	background	:#e0e0e0;
}

.staff_submit{
	margin:20px auto;
	height:30px;
}

.box_inout{
	display			:block;
	height			:30px;
	width			:100%;
	margin			:5px 3px;
}

.tag_inout{
	display			:inline-block;
	height			:30px;
	line-height		:30px;
	width			:20px;
	font-size		:15px;
	font-weight		:700;
	text-align		:center;
	vertical-align	:top;
}

.sel_inout{
	width:80px;
}

.td_castname{
	text-align:center;
	font-size:0;
}

.td_castname_in{
	width		:150px;
	text-align	:left;
	font-size	:14px;
	margin		:3px auto;
}

.sche_submit,.sche_reset{
	width		:65px;
	font-size	:13px;
	margin		:5px;
	height		:30px;
}

.back_now{
	background	:#808000;
	color		:#fafafa;
}

.line_now{
	box-shadow	:3px 0 0 0 #808000 inset,-3px 0 0 0 #808000 inset;
}

.disabled{
	background	:#e0e0e0 !important;
	
}

.status_check{
	display			:inline-flex;
	justify-content	: space-between;
	width			:280px;
	margin			:10px;
}

.status_check_box:checked + label{
	background	:#0000d0;
}	

.status_check_label{
	display		:inline-block;
	height		:30px;
	width		:50px;
	flex-basis	:50px;
	line-height	:30px;
	text-align	:center;
	background	:#b0b0b0;
	color		:#fafafa;
	font-size	:16px;
}

.alert_d{
	display			:none;
	position		:fixed;
	top				:80px;
	right			:20px;
	margin			:auto;
	width			:400px;
	padding			:10px;
	background		:#fff0f0;
	border			:1px solid #c00000;
	box-shadow		:2px 2px 4px #900000;
	z-index			:10;
	cursor:pointer;
}

.alert_d_1{
	font-size		:16px;
	line-height		:20px;
	color			:#a00000;
	font-weight		:700;
	text-align		:left;
	padding-left	:10px;
}

.alert_d_2{
	display			:block;
	text-align		:left;
	margin			:2px auto;
	position		:relative;
	width			:380px;
	height			:24px;
	border-bottom	:1px solid #606060;
}


.alert_d_tag{
	display			:inline-block;
	text-align		:center;
	width			:90px;
	font-size		:12px;
	height			:20px;
	line-height		:20px;
	border-radius	:3px;
	background		:#909090;
	color			:#fafafa;
	vertical-align	:top;
	margin-right	:10px;
}

.alert_d_cast{
	display			:inline-block;
	text-align		:left;
	font-size		:14px;
	height			:22px;
	line-height		:24px;
	color			:#909090;
	vertical-align	:top;
}

.alert_d_al{
	position		:absolute;
	display			:block;
	top				:0;
	right			:5px;
	bottom			:0;
	margin			:auto;
	transform		:rotate(45deg);
	border-top		:3px solid #606060;
	border-right	:3px solid #606060;
	width			:6px;
	height			:6px;
}


.alert_d_3{
	font-size		:12px;
	line-height		:19px;
	color			:#906060;
	text-align		:left;
	padding			:10px;
	width			:370px;
	background		:#fafafa;
	margin			:5px auto;
}

.alert_d_4{
	position		:absolute;
	top				:4px;
	right			:4px;
}

.handle{
	font-family	:at_icon;
	cursor		:pointer;
}

.w000{
	width:100%;
	margin-bottom:5px;
}
.rec_bg0, .rec_bg{
	background	:#eeeeee;
	color		:#808080;
}

.rec_bg1{
	background	:#0000c0;
	color		:#fafafa;
}



.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w80{width:80px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w180{width:180px;}
.w200{width:200px;}
.w250{width:250px;}
.w280{width:280px;}
.w300{width:300px;}
.w400{width:400px;}

.c0{background:#fafafa;}
.c1{background:#fff0e0;}
.c2{background:#ffe0e8;}
.c3{background:#e0e0e0;}
.c4{background:#e0e0ff;}

.b{background:#fafafa;}
.b0{background:#fafafa;}
.b1{background:#f0f0d0;}
.b2{background:#e0e0e0;}
.b3{background:#e0e0e0;}
.b4{background:#e0e0e0;}
.b5{background:#e0e0e0;}

}

