.header{
	display:none;
}

.layout{
	min-height		:auto;
}
.main{
	min-height		:auto;
}

.main_section{
	position	:relative;
	min-height		:800px;
}

.main_box{
	position		:relative;
	min-height		:calc (100vh - 80px);
	margin			:0 auto;
	width			:1200px;
}

.global-nav-wrap{
	position	:fixed !important;
    top			:0;
    left		:0;
}

.container-wrap{
	margin-top:80px !important;
}

.main_back{
	position	:fixed !important;
    top			:0;
    left		:0;
	height		:100vh;
	width		:100vw;
	z-index		:-1;
	background:linear-gradient(90deg,#eae0d8 0%, #faf0e8 50%, #eae0d8 100%);
}

.container{
	width:100%; !important;
	max-width:1200px !important;
}
