.header{
	display:none;
}

.layout{
	min-height		:auto;
}
.main{
	min-height		:auto;
}

.main_section{
	position	:relative;
	min-height		:800px;
}

.main_box{
	position		:relative;
	min-height		:calc (100vh - 80px);
	margin			:0 auto;
	width			:1200px;
}

.global-nav-wrap{
	position	:fixed !important;
    top			:0;
    left		:0;
}

.container-wrap{
	margin-top:80px !important;
}

.main_back{
	position	:fixed !important;
    top			:0;
    left		:0;
	height		:100vh;
	width		:100vw;
	z-index		:-1;
	background:linear-gradient(90deg,#eae0d8 0%, #faf0e8 50%, #eae0d8 100%);
}

.container{
	width:100%; !important;
	max-width:1200px !important;
}


.popback{
	position	:fixed;
	top			:-10vh;
	left		:-10vw;
	height		:120vh;
	width		:120vw;
	background	:rgba(90,90,90,0.6);
	display		:none;
	z-index		:99999999999;
}

.popmain{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	border			:10px solid #F56E8A;
	border-radius	:10px;
	background		:#fafafa;
	color			:#403030;
	overflow		:hidden;
	width			:400px;
	height			:360px;
}

.popmain_in{
	font-size		:18px;
	line-height		:25px;
	padding			:10px;
	width			:360px;
	height			:200pz;
	margin			:0 auto;
}

.popmain_title{
	background		:#F56E8A;
	height			:60pz;
	line-height		:60pz;
	color			:#fafafa;
	font-size		:24px;
	font-weight		:700;
}

