
.popback{
	position	:fixed;
	top			:-10vh;
	left		:-10vw;
	height		:120vh;
	width		:120vw;
	background	:rgba(90,90,90,0.6);
	display		:none;
	z-index		:99999999999;
}

.popmain{
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	border			:2vw solid #F56E8A;
	border-radius	:2vw;
	background		:#fafafa;
	color			:#403030;
	overflow		:hidden;
	width			:82vw;
	height			:47vw;
}

.popmain_in{
	font-size		:3.6vw;
	line-height		:5.2vw;
	padding			:1.5vw;
	width			:78vw;
	height			:35vw;
	margin			:0 auto;
}

.popmain_title{
	background		:#F56E8A;
	height			:8vw;
	line-height		:8vw;
	color			:#fafafa;
	font-size		:4vw;
	font-weight		:700;
}
