@font-face {
  font-family: 'icon2026';
  src:  url('fonts/icon2026.eot?nl0zgo');
  src:  url('fonts/icon2026.eot?nl0zgo#iefix') format('embedded-opentype'),
    url('fonts/icon2026.ttf?nl0zgo') format('truetype'),
    url('fonts/icon2026.woff?nl0zgo') format('woff'),
    url('fonts/icon2026.svg?nl0zgo#icon2026') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon2026-"], [class*=" icon2026-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon2026' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2026-icon-mirror-x:before {
  content: "\6d";
}
.icon2026-brightness_high:before {
  content: "\e1ac";
}
.icon2026-brightness_low:before {
  content: "\e1ad";
}
.icon2026-keyboard_arrow_down:before {
  content: "\e313";
}
.icon2026-keyboard_arrow_left:before {
  content: "\e314";
}
.icon2026-keyboard_arrow_right:before {
  content: "\e315";
}
.icon2026-keyboard_arrow_up:before {
  content: "\e316";
}
.icon2026-swap_horiz:before {
  content: "\e8d4";
}
.icon2026-swap_vert:before {
  content: "\e8d5";
}
.icon2026-number:before {
  content: "\e900";
}
.icon2026-number1:before {
  content: "\e901";
}
.icon2026-number2:before {
  content: "\e902";
}
.icon2026-number3:before {
  content: "\e903";
}
.icon2026-number4:before {
  content: "\e904";
}
.icon2026-number5:before {
  content: "\e905";
}
.icon2026-number6:before {
  content: "\e906";
}
.icon2026-number7:before {
  content: "\e907";
}
.icon2026-number8:before {
  content: "\e908";
}
.icon2026-number9:before {
  content: "\e909";
}
.icon2026-number10:before {
  content: "\e90a";
}
.icon2026-number11:before {
  content: "\e90b";
}
.icon2026-number12:before {
  content: "\e90c";
}
.icon2026-number13:before {
  content: "\e90d";
}
.icon2026-number14:before {
  content: "\e90e";
}
.icon2026-number15:before {
  content: "\e90f";
}
.icon2026-number16:before {
  content: "\e910";
}
.icon2026-number17:before {
  content: "\e911";
}
.icon2026-number18:before {
  content: "\e912";
}
.icon2026-number19:before {
  content: "\e913";
}
.icon2026-quote:before {
  content: "\e914";
}
.icon2026-quote1:before {
  content: "\e915";
}
.icon2026-tag:before {
  content: "\e916";
}
.icon2026-tag1:before {
  content: "\e917";
}
.icon2026-link1:before {
  content: "\e918";
}
.icon2026-link2:before {
  content: "\e919";
}
.icon2026-cabinet:before {
  content: "\e91a";
}
.icon2026-cabinet1:before {
  content: "\e91b";
}
.icon2026-calendar1:before {
  content: "\e91c";
}
.icon2026-calendar2:before {
  content: "\e91d";
}
.icon2026-calendar3:before {
  content: "\e91e";
}
.icon2026-file:before {
  content: "\e91f";
}
.icon2026-file1:before {
  content: "\e920";
}
.icon2026-file2:before {
  content: "\e921";
}
.icon2026-files:before {
  content: "\e922";
}
.icon2026-phone1:before {
  content: "\e923";
}
.icon2026-tablet1:before {
  content: "\e924";
}
.icon2026-window:before {
  content: "\e925";
}
.icon2026-monitor:before {
  content: "\e926";
}
.icon2026-ipod:before {
  content: "\e927";
}
.icon2026-tv1:before {
  content: "\e928";
}
.icon2026-camera1:before {
  content: "\e929";
}
.icon2026-camera2:before {
  content: "\e92a";
}
.icon2026-camera3:before {
  content: "\e92b";
}
.icon2026-film1:before {
  content: "\e92c";
}
.icon2026-film2:before {
  content: "\e92d";
}
.icon2026-film3:before {
  content: "\e92e";
}
.icon2026-microphone:before {
  content: "\e92f";
}
.icon2026-microphone1:before {
  content: "\e930";
}
.icon2026-microphone2:before {
  content: "\e931";
}
.icon2026-drink:before {
  content: "\e932";
}
.icon2026-drink1:before {
  content: "\e933";
}
.icon2026-drink2:before {
  content: "\e934";
}
.icon2026-drink3:before {
  content: "\e935";
}
.icon2026-coffee:before {
  content: "\e936";
}
.icon2026-mug1:before {
  content: "\e937";
}
.icon2026-icecream:before {
  content: "\e938";
}
.icon2026-cake:before {
  content: "\e939";
}
.icon2026-inbox:before {
  content: "\e93a";
}
.icon2026-download1:before {
  content: "\e93b";
}
.icon2026-upload1:before {
  content: "\e93c";
}
.icon2026-inbox1:before {
  content: "\e93d";
}
.icon2026-checkmark1:before {
  content: "\e93e";
}
.icon2026-checkmark3:before {
  content: "\e93f";
}
.icon2026-cancel:before {
  content: "\e940";
}
.icon2026-cancel1:before {
  content: "\e941";
}
.icon2026-plus1:before {
  content: "\e942";
}
.icon2026-plus2:before {
  content: "\e943";
}
.icon2026-minus1:before {
  content: "\e944";
}
.icon2026-minus2:before {
  content: "\e945";
}
.icon2026-notice:before {
  content: "\e946";
}
.icon2026-notice1:before {
  content: "\e947";
}
.icon2026-cog1:before {
  content: "\e948";
}
.icon2026-cogs1:before {
  content: "\e949";
}
.icon2026-cog2:before {
  content: "\e94a";
}
.icon2026-warning1:before {
  content: "\e94b";
}
.icon2026-health:before {
  content: "\e94c";
}
.icon2026-suitcase:before {
  content: "\e94d";
}
.icon2026-suitcase1:before {
  content: "\e94e";
}
.icon2026-suitcase2:before {
  content: "\e94f";
}
.icon2026-picture:before {
  content: "\e950";
}
.icon2026-pictures:before {
  content: "\e951";
}
.icon2026-pictures1:before {
  content: "\e952";
}
.icon2026-android1:before {
  content: "\e953";
}
.icon2026-marvin:before {
  content: "\e954";
}
.icon2026-pacman1:before {
  content: "\e955";
}
.icon2026-cassette:before {
  content: "\e956";
}
.icon2026-watch:before {
  content: "\e957";
}
.icon2026-chronometer:before {
  content: "\e958";
}
.icon2026-watch1:before {
  content: "\e959";
}
.icon2026-alarmclock:before {
  content: "\e95a";
}
.icon2026-time:before {
  content: "\e95b";
}
.icon2026-time1:before {
  content: "\e95c";
}
.icon2026-headphones1:before {
  content: "\e95d";
}
.icon2026-wallet:before {
  content: "\e95e";
}
.icon2026-checkmark4:before {
  content: "\e95f";
}
.icon2026-cancel2:before {
  content: "\e960";
}
.icon2026-eye1:before {
  content: "\e961";
}
.icon2026-position:before {
  content: "\e962";
}
.icon2026-sitemap:before {
  content: "\e963";
}
.icon2026-sitemap1:before {
  content: "\e964";
}
.icon2026-cloud1:before {
  content: "\e965";
}
.icon2026-upload4:before {
  content: "\e966";
}
.icon2026-chart:before {
  content: "\e967";
}
.icon2026-chart1:before {
  content: "\e968";
}
.icon2026-chart2:before {
  content: "\e969";
}
.icon2026-chart3:before {
  content: "\e96a";
}
.icon2026-chart4:before {
  content: "\e96b";
}
.icon2026-chart5:before {
  content: "\e96c";
}
.icon2026-location1:before {
  content: "\e96d";
}
.icon2026-download4:before {
  content: "\e96e";
}
.icon2026-basket:before {
  content: "\e96f";
}
.icon2026-folder1:before {
  content: "\e970";
}
.icon2026-gamepad:before {
  content: "\e971";
}
.icon2026-alarm1:before {
  content: "\e972";
}
.icon2026-alarm-cancel:before {
  content: "\e973";
}
.icon2026-phone2:before {
  content: "\e974";
}
.icon2026-phone3:before {
  content: "\e975";
}
.icon2026-image1:before {
  content: "\e976";
}
.icon2026-open:before {
  content: "\e977";
}
.icon2026-sale:before {
  content: "\e978";
}
.icon2026-direction:before {
  content: "\e979";
}
.icon2026-map1:before {
  content: "\e97a";
}
.icon2026-trashcan:before {
  content: "\e97b";
}
.icon2026-vote:before {
  content: "\e97c";
}
.icon2026-graduate:before {
  content: "\e97d";
}
.icon2026-lab1:before {
  content: "\e97e";
}
.icon2026-tie:before {
  content: "\e97f";
}
.icon2026-football:before {
  content: "\e980";
}
.icon2026-eightball:before {
  content: "\e981";
}
.icon2026-bowling:before {
  content: "\e982";
}
.icon2026-bowlingpin:before {
  content: "\e983";
}
.icon2026-baseball:before {
  content: "\e984";
}
.icon2026-soccer:before {
  content: "\e985";
}
.icon2026-3dglasses:before {
  content: "\e986";
}
.icon2026-microwave:before {
  content: "\e987";
}
.icon2026-refrigerator:before {
  content: "\e988";
}
.icon2026-oven:before {
  content: "\e989";
}
.icon2026-washingmachine:before {
  content: "\e98a";
}
.icon2026-mouse:before {
  content: "\e98b";
}
.icon2026-smiley:before {
  content: "\e98c";
}
.icon2026-sad1:before {
  content: "\e98d";
}
.icon2026-mute:before {
  content: "\e98e";
}
.icon2026-hand:before {
  content: "\e98f";
}
.icon2026-radio:before {
  content: "\e990";
}
.icon2026-satellite:before {
  content: "\e991";
}
.icon2026-medal:before {
  content: "\e992";
}
.icon2026-medal1:before {
  content: "\e993";
}
.icon2026-switch1:before {
  content: "\e994";
}
.icon2026-key1:before {
  content: "\e995";
}
.icon2026-cord:before {
  content: "\e996";
}
.icon2026-locked:before {
  content: "\e997";
}
.icon2026-unlocked1:before {
  content: "\e998";
}
.icon2026-locked1:before {
  content: "\e999";
}
.icon2026-unlocked2:before {
  content: "\e99a";
}
.icon2026-magnifier:before {
  content: "\e99b";
}
.icon2026-zoomin:before {
  content: "\e99c";
}
.icon2026-zoomout:before {
  content: "\e99d";
}
.icon2026-stack1:before {
  content: "\e99e";
}
.icon2026-stack2:before {
  content: "\e99f";
}
.icon2026-stack3:before {
  content: "\e9a0";
}
.icon2026-davidstar:before {
  content: "\e9a1";
}
.icon2026-cross1:before {
  content: "\e9a2";
}
.icon2026-moonandstar:before {
  content: "\e9a3";
}
.icon2026-transformers:before {
  content: "\e9a4";
}
.icon2026-batman:before {
  content: "\e9a5";
}
.icon2026-spaceinvaders:before {
  content: "\e9a6";
}
.icon2026-skeletor:before {
  content: "\e9a7";
}
.icon2026-lamp:before {
  content: "\e9a8";
}
.icon2026-lamp1:before {
  content: "\e9a9";
}
.icon2026-umbrella:before {
  content: "\e9aa";
}
.icon2026-streetlight:before {
  content: "\e9ab";
}
.icon2026-bomb:before {
  content: "\e9ac";
}
.icon2026-archive:before {
  content: "\e9ad";
}
.icon2026-battery:before {
  content: "\e9ae";
}
.icon2026-battery1:before {
  content: "\e9af";
}
.icon2026-battery2:before {
  content: "\e9b0";
}
.icon2026-battery3:before {
  content: "\e9b1";
}
.icon2026-battery4:before {
  content: "\e9b2";
}
.icon2026-megaphone:before {
  content: "\e9b3";
}
.icon2026-megaphone1:before {
  content: "\e9b4";
}
.icon2026-patch:before {
  content: "\e9b5";
}
.icon2026-pil:before {
  content: "\e9b6";
}
.icon2026-injection:before {
  content: "\e9b7";
}
.icon2026-thermometer:before {
  content: "\e9b8";
}
.icon2026-lamp2:before {
  content: "\e9b9";
}
.icon2026-lamp3:before {
  content: "\e9ba";
}
.icon2026-lamp4:before {
  content: "\e9bb";
}
.icon2026-cube:before {
  content: "\e9bc";
}
.icon2026-box:before {
  content: "\e9bd";
}
.icon2026-box1:before {
  content: "\e9be";
}
.icon2026-diamond:before {
  content: "\e9bf";
}
.icon2026-bag:before {
  content: "\e9c0";
}
.icon2026-moneybag:before {
  content: "\e9c1";
}
.icon2026-grid:before {
  content: "\e9c2";
}
.icon2026-grid1:before {
  content: "\e9c3";
}
.icon2026-list1:before {
  content: "\e9c4";
}
.icon2026-list3:before {
  content: "\e9c5";
}
.icon2026-ruler:before {
  content: "\e9c6";
}
.icon2026-ruler1:before {
  content: "\e9c7";
}
.icon2026-layout:before {
  content: "\e9c8";
}
.icon2026-layout1:before {
  content: "\e9c9";
}
.icon2026-layout2:before {
  content: "\e9ca";
}
.icon2026-layout3:before {
  content: "\e9cb";
}
.icon2026-layout4:before {
  content: "\e9cc";
}
.icon2026-layout5:before {
  content: "\e9cd";
}
.icon2026-layout6:before {
  content: "\e9ce";
}
.icon2026-layout7:before {
  content: "\e9cf";
}
.icon2026-layout8:before {
  content: "\e9d0";
}
.icon2026-layout9:before {
  content: "\e9d1";
}
.icon2026-layout10:before {
  content: "\e9d2";
}
.icon2026-layout11:before {
  content: "\e9d3";
}
.icon2026-layout12:before {
  content: "\e9d4";
}
.icon2026-layout13:before {
  content: "\e9d5";
}
.icon2026-tools:before {
  content: "\e9d6";
}
.icon2026-screwdriver:before {
  content: "\e9d7";
}
.icon2026-paint:before {
  content: "\e9d8";
}
.icon2026-hammer1:before {
  content: "\e9d9";
}
.icon2026-brush:before {
  content: "\e9da";
}
.icon2026-pen1:before {
  content: "\e9db";
}
.icon2026-chat:before {
  content: "\e9dc";
}
.icon2026-comments:before {
  content: "\e9dd";
}
.icon2026-chat1:before {
  content: "\e9de";
}
.icon2026-chat2:before {
  content: "\e9df";
}
.icon2026-volume:before {
  content: "\e9e0";
}
.icon2026-volume1:before {
  content: "\e9e1";
}
.icon2026-volume2:before {
  content: "\e9e2";
}
.icon2026-equalizer1:before {
  content: "\e9e3";
}
.icon2026-resize:before {
  content: "\e9e4";
}
.icon2026-resize1:before {
  content: "\e9e5";
}
.icon2026-stretch:before {
  content: "\e9e6";
}
.icon2026-narrow:before {
  content: "\e9e7";
}
.icon2026-resize2:before {
  content: "\e9e8";
}
.icon2026-download5:before {
  content: "\e9e9";
}
.icon2026-calculator1:before {
  content: "\e9ea";
}
.icon2026-library1:before {
  content: "\e9eb";
}
.icon2026-auction:before {
  content: "\e9ec";
}
.icon2026-justice:before {
  content: "\e9ed";
}
.icon2026-stats:before {
  content: "\e9ee";
}
.icon2026-stats1:before {
  content: "\e9ef";
}
.icon2026-attachment1:before {
  content: "\e9f0";
}
.icon2026-hourglass:before {
  content: "\e9f1";
}
.icon2026-abacus:before {
  content: "\e9f2";
}
.icon2026-pencil1:before {
  content: "\e9f3";
}
.icon2026-pen2:before {
  content: "\e9f4";
}
.icon2026-pin:before {
  content: "\e9f5";
}
.icon2026-pin1:before {
  content: "\e9f6";
}
.icon2026-discout:before {
  content: "\e9f7";
}
.icon2026-edit:before {
  content: "\e9f8";
}
.icon2026-scissors1:before {
  content: "\e9f9";
}
.icon2026-profile1:before {
  content: "\e9fa";
}
.icon2026-profile2:before {
  content: "\e9fb";
}
.icon2026-profile3:before {
  content: "\e9fc";
}
.icon2026-rotate:before {
  content: "\e9fd";
}
.icon2026-rotate1:before {
  content: "\e9fe";
}
.icon2026-reply1:before {
  content: "\e9ff";
}
.icon2026-forward1:before {
  content: "\ea00";
}
.icon2026-retweet:before {
  content: "\ea01";
}
.icon2026-shuffle1:before {
  content: "\ea02";
}
.icon2026-loop1:before {
  content: "\ea03";
}
.icon2026-crop1:before {
  content: "\ea04";
}
.icon2026-square:before {
  content: "\ea05";
}
.icon2026-square1:before {
  content: "\ea06";
}
.icon2026-circle:before {
  content: "\ea07";
}
.icon2026-dollar:before {
  content: "\ea08";
}
.icon2026-dollar1:before {
  content: "\ea09";
}
.icon2026-coins:before {
  content: "\ea0a";
}
.icon2026-pig:before {
  content: "\ea0b";
}
.icon2026-bookmark1:before {
  content: "\ea0c";
}
.icon2026-bookmark2:before {
  content: "\ea0d";
}
.icon2026-addressbook:before {
  content: "\ea0e";
}
.icon2026-addressbook1:before {
  content: "\ea0f";
}
.icon2026-safe:before {
  content: "\ea10";
}
.icon2026-envelope:before {
  content: "\ea11";
}
.icon2026-envelope1:before {
  content: "\ea12";
}
.icon2026-radioactive:before {
  content: "\ea13";
}
.icon2026-music1:before {
  content: "\ea14";
}
.icon2026-presentation:before {
  content: "\ea15";
}
.icon2026-male:before {
  content: "\ea16";
}
.icon2026-female:before {
  content: "\ea17";
}
.icon2026-aids:before {
  content: "\ea18";
}
.icon2026-cat:before {
  content: "\ea19";
}
.icon2026-info1:before {
  content: "\ea1a";
}
.icon2026-info2:before {
  content: "\ea1b";
}
.icon2026-piano:before {
  content: "\ea1c";
}
.icon2026-rain:before {
  content: "\ea1d";
}
.icon2026-snow:before {
  content: "\ea1e";
}
.icon2026-lightning:before {
  content: "\ea1f";
}
.icon2026-sun1:before {
  content: "\ea20";
}
.icon2026-moon:before {
  content: "\ea21";
}
.icon2026-cloudy:before {
  content: "\ea22";
}
.icon2026-cloudy1:before {
  content: "\ea23";
}
.icon2026-car:before {
  content: "\ea24";
}
.icon2026-bike:before {
  content: "\ea25";
}
.icon2026-truck1:before {
  content: "\ea26";
}
.icon2026-bus:before {
  content: "\ea27";
}
.icon2026-bike1:before {
  content: "\ea28";
}
.icon2026-plane:before {
  content: "\ea29";
}
.icon2026-paperplane:before {
  content: "\ea2a";
}
.icon2026-rocket1:before {
  content: "\ea2b";
}
.icon2026-book1:before {
  content: "\ea2c";
}
.icon2026-book2:before {
  content: "\ea2d";
}
.icon2026-barcode1:before {
  content: "\ea2e";
}
.icon2026-barcode2:before {
  content: "\ea2f";
}
.icon2026-expand:before {
  content: "\ea30";
}
.icon2026-collapse:before {
  content: "\ea31";
}
.icon2026-popout:before {
  content: "\ea32";
}
.icon2026-popin:before {
  content: "\ea33";
}
.icon2026-target1:before {
  content: "\ea34";
}
.icon2026-badge:before {
  content: "\ea35";
}
.icon2026-badge1:before {
  content: "\ea36";
}
.icon2026-ticket1:before {
  content: "\ea37";
}
.icon2026-ticket2:before {
  content: "\ea38";
}
.icon2026-ticket3:before {
  content: "\ea39";
}
.icon2026-microphone3:before {
  content: "\ea3a";
}
.icon2026-cone:before {
  content: "\ea3b";
}
.icon2026-blocked1:before {
  content: "\ea3c";
}
.icon2026-stop1:before {
  content: "\ea3d";
}
.icon2026-keyboard1:before {
  content: "\ea3e";
}
.icon2026-keyboard2:before {
  content: "\ea3f";
}
.icon2026-radio1:before {
  content: "\ea40";
}
.icon2026-printer1:before {
  content: "\ea41";
}
.icon2026-checked:before {
  content: "\ea42";
}
.icon2026-error:before {
  content: "\ea43";
}
.icon2026-add:before {
  content: "\ea44";
}
.icon2026-minus3:before {
  content: "\ea45";
}
.icon2026-alert:before {
  content: "\ea46";
}
.icon2026-holiday:before {
  content: "\ea47";
}
.icon2026-atom:before {
  content: "\ea48";
}
.icon2026-eyedropper1:before {
  content: "\ea49";
}
.icon2026-globe:before {
  content: "\ea4a";
}
.icon2026-globe1:before {
  content: "\ea4b";
}
.icon2026-shipping:before {
  content: "\ea4c";
}
.icon2026-yingyang:before {
  content: "\ea4d";
}
.icon2026-compass1:before {
  content: "\ea4e";
}
.icon2026-zip:before {
  content: "\ea4f";
}
.icon2026-zip1:before {
  content: "\ea50";
}
.icon2026-anchor:before {
  content: "\ea51";
}
.icon2026-lockedheart:before {
  content: "\ea52";
}
.icon2026-magnet1:before {
  content: "\ea53";
}
.icon2026-navigation:before {
  content: "\ea54";
}
.icon2026-tags:before {
  content: "\ea55";
}
.icon2026-heart2:before {
  content: "\ea56";
}
.icon2026-heart3:before {
  content: "\ea57";
}
.icon2026-usb:before {
  content: "\ea58";
}
.icon2026-clipboard1:before {
  content: "\ea59";
}
.icon2026-clipboard2:before {
  content: "\ea5a";
}
.icon2026-clipboard3:before {
  content: "\ea5b";
}
.icon2026-switch2:before {
  content: "\ea5c";
}
.icon2026-ruler2:before {
  content: "\ea5d";
}
.icon2026-new:before {
  content: "\ea5e";
}
.icon2026-holiday2:before {
  content: "\ea5f";
}
.icon2026-vacation:before {
  content: "\ea60";
}
.icon2026-office1:before {
  content: "\ea61";
}
.icon2026-newspaper1:before {
  content: "\ea62";
}
.icon2026-pencil2:before {
  content: "\ea63";
}
.icon2026-pencil4:before {
  content: "\ea64";
}
.icon2026-quill:before {
  content: "\ea65";
}
.icon2026-pen:before {
  content: "\ea66";
}
.icon2026-blog:before {
  content: "\ea67";
}
.icon2026-eyedropper:before {
  content: "\ea68";
}
.icon2026-droplet:before {
  content: "\ea69";
}
.icon2026-paint-format:before {
  content: "\ea6a";
}
.icon2026-image2:before {
  content: "\ea6b";
}
.icon2026-images:before {
  content: "\ea6c";
}
.icon2026-camera:before {
  content: "\ea6d";
}
.icon2026-headphones:before {
  content: "\ea6e";
}
.icon2026-music:before {
  content: "\ea6f";
}
.icon2026-play1:before {
  content: "\ea70";
}
.icon2026-film4:before {
  content: "\ea71";
}
.icon2026-video-camera1:before {
  content: "\ea72";
}
.icon2026-dice:before {
  content: "\ea73";
}
.icon2026-pacman:before {
  content: "\ea74";
}
.icon2026-spades:before {
  content: "\ea75";
}
.icon2026-clubs:before {
  content: "\ea76";
}
.icon2026-diamonds:before {
  content: "\ea77";
}
.icon2026-bullhorn:before {
  content: "\ea78";
}
.icon2026-connection:before {
  content: "\ea79";
}
.icon2026-podcast:before {
  content: "\ea7a";
}
.icon2026-feed:before {
  content: "\ea7b";
}
.icon2026-mic:before {
  content: "\ea7c";
}
.icon2026-book3:before {
  content: "\ea7d";
}
.icon2026-books1:before {
  content: "\ea7e";
}
.icon2026-library:before {
  content: "\ea7f";
}
.icon2026-file-text:before {
  content: "\ea80";
}
.icon2026-profile:before {
  content: "\ea81";
}
.icon2026-jpg:before {
  content: "\ea82";
}
.icon2026-webp:before {
  content: "\ea83";
}
.icon2026-file-text21:before {
  content: "\ea84";
}
.icon2026-file-picture:before {
  content: "\ea85";
}
.icon2026-file-music:before {
  content: "\ea86";
}
.icon2026-file-play:before {
  content: "\ea87";
}
.icon2026-file-video:before {
  content: "\ea88";
}
.icon2026-file-zip:before {
  content: "\ea89";
}
.icon2026-copy:before {
  content: "\ea8a";
}
.icon2026-paste:before {
  content: "\ea8b";
}
.icon2026-stack:before {
  content: "\ea8c";
}
.icon2026-folder:before {
  content: "\ea8d";
}
.icon2026-folder-open:before {
  content: "\ea8e";
}
.icon2026-folder-plus:before {
  content: "\ea8f";
}
.icon2026-folder-minus:before {
  content: "\ea90";
}
.icon2026-folder-download:before {
  content: "\ea91";
}
.icon2026-folder-upload:before {
  content: "\ea92";
}
.icon2026-price-tag:before {
  content: "\ea93";
}
.icon2026-price-tags:before {
  content: "\ea94";
}
.icon2026-barcode:before {
  content: "\ea95";
}
.icon2026-qrcode:before {
  content: "\ea96";
}
.icon2026-ticket:before {
  content: "\ea97";
}
.icon2026-cart:before {
  content: "\ea98";
}
.icon2026-coin-dollar:before {
  content: "\ea99";
}
.icon2026-coin-euro:before {
  content: "\ea9a";
}
.icon2026-coin-pound:before {
  content: "\ea9b";
}
.icon2026-coin-yen1:before {
  content: "\ea9c";
}
.icon2026-credit-card1:before {
  content: "\ea9d";
}
.icon2026-calculator:before {
  content: "\ea9e";
}
.icon2026-lifebuoy1:before {
  content: "\ea9f";
}
.icon2026-phone4:before {
  content: "\eaa0";
}
.icon2026-phone-hang-up:before {
  content: "\eaa1";
}
.icon2026-address-book:before {
  content: "\eaa2";
}
.icon2026-envelop:before {
  content: "\eaa3";
}
.icon2026-pushpin:before {
  content: "\eaa4";
}
.icon2026-location:before {
  content: "\eaa5";
}
.icon2026-location2:before {
  content: "\eaa6";
}
.icon2026-compass:before {
  content: "\eaa7";
}
.icon2026-compass2:before {
  content: "\eaa8";
}
.icon2026-map:before {
  content: "\eaa9";
}
.icon2026-map2:before {
  content: "\eaaa";
}
.icon2026-history:before {
  content: "\eaab";
}
.icon2026-clock:before {
  content: "\eaac";
}
.icon2026-clock2:before {
  content: "\eaad";
}
.icon2026-alarm:before {
  content: "\eaae";
}
.icon2026-bell:before {
  content: "\eaaf";
}
.icon2026-stopwatch:before {
  content: "\eab0";
}
.icon2026-png:before {
  content: "\eab1";
}
.icon2026-bluesky_qr:before {
  content: "\eab2";
}
.icon2026-keyboard:before {
  content: "\eab3";
}
.icon2026-display:before {
  content: "\eab4";
}
.icon2026-laptop:before {
  content: "\eab5";
}
.icon2026-mobile:before {
  content: "\eab6";
}
.icon2026-mobile2:before {
  content: "\eab7";
}
.icon2026-tablet:before {
  content: "\eab8";
}
.icon2026-tv:before {
  content: "\eab9";
}
.icon2026-drawer:before {
  content: "\eaba";
}
.icon2026-drawer2:before {
  content: "\eabb";
}
.icon2026-box-add:before {
  content: "\eabc";
}
.icon2026-box-remove:before {
  content: "\eabd";
}
.icon2026-download:before {
  content: "\eabe";
}
.icon2026-upload:before {
  content: "\eabf";
}
.icon2026-fantia_qr:before {
  content: "\eac0";
}
.icon2026-drive:before {
  content: "\eac1";
}
.icon2026-database:before {
  content: "\eac2";
}
.icon2026-undo:before {
  content: "\eac3";
}
.icon2026-redo:before {
  content: "\eac4";
}
.icon2026-undo2:before {
  content: "\eac5";
}
.icon2026-redo2:before {
  content: "\eac6";
}
.icon2026-forward:before {
  content: "\eac7";
}
.icon2026-reply:before {
  content: "\eac8";
}
.icon2026-bubble:before {
  content: "\eac9";
}
.icon2026-bubbles:before {
  content: "\eaca";
}
.icon2026-bubbles2:before {
  content: "\eacb";
}
.icon2026-bubble2:before {
  content: "\eacc";
}
.icon2026-bubbles3:before {
  content: "\eacd";
}
.icon2026-bubbles4:before {
  content: "\eace";
}
.icon2026-user:before {
  content: "\eacf";
}
.icon2026-users:before {
  content: "\ead0";
}
.icon2026-user-plus:before {
  content: "\ead1";
}
.icon2026-user-minus:before {
  content: "\ead2";
}
.icon2026-user-check:before {
  content: "\ead3";
}
.icon2026-user-tie:before {
  content: "\ead4";
}
.icon2026-quotes-left:before {
  content: "\ead5";
}
.icon2026-quotes-right:before {
  content: "\ead6";
}
.icon2026-hour-glass:before {
  content: "\ead7";
}
.icon2026-spinner:before {
  content: "\ead8";
}
.icon2026-spinner2:before {
  content: "\ead9";
}
.icon2026-spinner3:before {
  content: "\eada";
}
.icon2026-spinner4:before {
  content: "\eadb";
}
.icon2026-spinner5:before {
  content: "\eadc";
}
.icon2026-spinner6:before {
  content: "\eadd";
}
.icon2026-spinner7:before {
  content: "\eade";
}
.icon2026-spinner8:before {
  content: "\eadf";
}
.icon2026-spinner9:before {
  content: "\eae0";
}
.icon2026-spinner11:before {
  content: "\eae2";
}
.icon2026-binoculars:before {
  content: "\eae3";
}
.icon2026-search:before {
  content: "\eae4";
}
.icon2026-zoom-in:before {
  content: "\eae5";
}
.icon2026-zoom-out:before {
  content: "\eae6";
}
.icon2026-enlarge:before {
  content: "\eae7";
}
.icon2026-shrink:before {
  content: "\eae8";
}
.icon2026-enlarge2:before {
  content: "\eae9";
}
.icon2026-shrink2:before {
  content: "\eaea";
}
.icon2026-key:before {
  content: "\eaeb";
}
.icon2026-key2:before {
  content: "\eaec";
}
.icon2026-lock:before {
  content: "\eaed";
}
.icon2026-unlocked:before {
  content: "\eaee";
}
.icon2026-wrench:before {
  content: "\eaef";
}
.icon2026-equalizer:before {
  content: "\eaf0";
}
.icon2026-equalizer2:before {
  content: "\eaf1";
}
.icon2026-cog:before {
  content: "\eaf2";
}
.icon2026-cogs:before {
  content: "\eaf3";
}
.icon2026-hammer:before {
  content: "\eaf4";
}
.icon2026-magic-wand:before {
  content: "\eaf5";
}
.icon2026-aid-kit:before {
  content: "\eaf6";
}
.icon2026-bug:before {
  content: "\eaf7";
}
.icon2026-pie-chart:before {
  content: "\eaf8";
}
.icon2026-stats-dots:before {
  content: "\eaf9";
}
.icon2026-stats-bars:before {
  content: "\eafa";
}
.icon2026-stats-bars2:before {
  content: "\eafb";
}
.icon2026-trophy:before {
  content: "\eafc";
}
.icon2026-gift:before {
  content: "\eafd";
}
.icon2026-glass:before {
  content: "\eafe";
}
.icon2026-glass2:before {
  content: "\eaff";
}
.icon2026-mug:before {
  content: "\eb00";
}
.icon2026-spoon-knife:before {
  content: "\eb01";
}
.icon2026-leaf:before {
  content: "\eb02";
}
.icon2026-rocket:before {
  content: "\eb03";
}
.icon2026-meter:before {
  content: "\eb04";
}
.icon2026-meter2:before {
  content: "\eb05";
}
.icon2026-hammer2:before {
  content: "\eb06";
}
.icon2026-fire:before {
  content: "\eb07";
}
.icon2026-lab:before {
  content: "\eb08";
}
.icon2026-magnet:before {
  content: "\eb09";
}
.icon2026-bin:before {
  content: "\eb0a";
}
.icon2026-bin2:before {
  content: "\eb0b";
}
.icon2026-briefcase:before {
  content: "\eb0c";
}
.icon2026-airplane:before {
  content: "\eb0d";
}
.icon2026-truck:before {
  content: "\eb0e";
}
.icon2026-road:before {
  content: "\eb0f";
}
.icon2026-accessibility:before {
  content: "\eb10";
}
.icon2026-target:before {
  content: "\eb11";
}
.icon2026-shield:before {
  content: "\eb12";
}
.icon2026-power:before {
  content: "\eb13";
}
.icon2026-switch:before {
  content: "\eb14";
}
.icon2026-power-cord:before {
  content: "\eb15";
}
.icon2026-clipboard:before {
  content: "\eb16";
}
.icon2026-list-numbered:before {
  content: "\eb17";
}
.icon2026-list:before {
  content: "\eb18";
}
.icon2026-list2:before {
  content: "\eb19";
}
.icon2026-tree:before {
  content: "\eb1a";
}
.icon2026-menu:before {
  content: "\eb1b";
}
.icon2026-menu2:before {
  content: "\eb1c";
}
.icon2026-menu3:before {
  content: "\eb1d";
}
.icon2026-menu4:before {
  content: "\eb1e";
}
.icon2026-cloud:before {
  content: "\eb1f";
}
.icon2026-cloud-download:before {
  content: "\eb20";
}
.icon2026-cloud-upload:before {
  content: "\eb21";
}
.icon2026-cloud-check:before {
  content: "\eb22";
}
.icon2026-download2:before {
  content: "\eb23";
}
.icon2026-upload2:before {
  content: "\eb24";
}
.icon2026-download3:before {
  content: "\eb25";
}
.icon2026-upload3:before {
  content: "\eb26";
}
.icon2026-sphere:before {
  content: "\eb27";
}
.icon2026-earth:before {
  content: "\eb28";
}
.icon2026-link:before {
  content: "\eb29";
}
.icon2026-flag1:before {
  content: "\eb2a";
}
.icon2026-attachment2:before {
  content: "\eb2b";
}
.icon2026-eye2:before {
  content: "\eb2c";
}
.icon2026-eye-plus1:before {
  content: "\eb2d";
}
.icon2026-eye-minus1:before {
  content: "\eb2e";
}
.icon2026-eye-blocked1:before {
  content: "\eb2f";
}
.icon2026-github_qr:before {
  content: "\eb30";
}
.icon2026-sun:before {
  content: "\eb32";
}
.icon2026-contrast:before {
  content: "\eb33";
}
.icon2026-brightness-contrast:before {
  content: "\eb34";
}
.icon2026-star-empty:before {
  content: "\eb35";
}
.icon2026-star-half:before {
  content: "\eb36";
}
.icon2026-star-full:before {
  content: "\eb37";
}
.icon2026-heart:before {
  content: "\eb38";
}
.icon2026-heart-broken:before {
  content: "\eb39";
}
.icon2026-man:before {
  content: "\eb3a";
}
.icon2026-woman:before {
  content: "\eb3b";
}
.icon2026-man-woman:before {
  content: "\eb3c";
}
.icon2026-happy:before {
  content: "\eb3d";
}
.icon2026-happy2:before {
  content: "\eb3e";
}
.icon2026-smile:before {
  content: "\eb3f";
}
.icon2026-smile2:before {
  content: "\eb40";
}
.icon2026-tongue:before {
  content: "\eb41";
}
.icon2026-tongue2:before {
  content: "\eb42";
}
.icon2026-sad:before {
  content: "\eb43";
}
.icon2026-sad2:before {
  content: "\eb44";
}
.icon2026-wink:before {
  content: "\eb45";
}
.icon2026-wink2:before {
  content: "\eb46";
}
.icon2026-grin:before {
  content: "\eb47";
}
.icon2026-grin2:before {
  content: "\eb48";
}
.icon2026-cool:before {
  content: "\eb49";
}
.icon2026-cool2:before {
  content: "\eb4a";
}
.icon2026-angry:before {
  content: "\eb4b";
}
.icon2026-angry2:before {
  content: "\eb4c";
}
.icon2026-evil:before {
  content: "\eb4d";
}
.icon2026-evil2:before {
  content: "\eb4e";
}
.icon2026-shocked:before {
  content: "\eb4f";
}
.icon2026-shocked2:before {
  content: "\eb50";
}
.icon2026-baffled:before {
  content: "\eb51";
}
.icon2026-baffled2:before {
  content: "\eb52";
}
.icon2026-confused:before {
  content: "\eb53";
}
.icon2026-confused2:before {
  content: "\eb54";
}
.icon2026-neutral:before {
  content: "\eb55";
}
.icon2026-neutral2:before {
  content: "\eb56";
}
.icon2026-hipster:before {
  content: "\eb57";
}
.icon2026-hipster2:before {
  content: "\eb58";
}
.icon2026-wondering:before {
  content: "\eb59";
}
.icon2026-wondering2:before {
  content: "\eb5a";
}
.icon2026-sleepy:before {
  content: "\eb5b";
}
.icon2026-sleepy2:before {
  content: "\eb5c";
}
.icon2026-frustrated:before {
  content: "\eb5d";
}
.icon2026-frustrated2:before {
  content: "\eb5e";
}
.icon2026-crying:before {
  content: "\eb5f";
}
.icon2026-crying2:before {
  content: "\eb60";
}
.icon2026-point-up:before {
  content: "\eb61";
}
.icon2026-point-right:before {
  content: "\eb62";
}
.icon2026-point-down:before {
  content: "\eb63";
}
.icon2026-point-left:before {
  content: "\eb64";
}
.icon2026-warning:before {
  content: "\eb65";
}
.icon2026-notification:before {
  content: "\eb66";
}
.icon2026-question:before {
  content: "\eb67";
}
.icon2026-plus:before {
  content: "\eb68";
}
.icon2026-minus:before {
  content: "\eb69";
}
.icon2026-info:before {
  content: "\eb6a";
}
.icon2026-cancel-circle:before {
  content: "\eb6b";
}
.icon2026-blocked:before {
  content: "\eb6c";
}
.icon2026-cross:before {
  content: "\eb6d";
}
.icon2026-checkmark:before {
  content: "\eb6e";
}
.icon2026-checkmark2:before {
  content: "\eb6f";
}
.icon2026-spell-check:before {
  content: "\eb70";
}
.icon2026-enter:before {
  content: "\eb71";
}
.icon2026-exit:before {
  content: "\eb72";
}
.icon2026-play2:before {
  content: "\eb73";
}
.icon2026-pause:before {
  content: "\eb74";
}
.icon2026-stop:before {
  content: "\eb75";
}
.icon2026-previous:before {
  content: "\eb76";
}
.icon2026-next:before {
  content: "\eb77";
}
.icon2026-backward:before {
  content: "\eb78";
}
.icon2026-forward2:before {
  content: "\eb79";
}
.icon2026-play3:before {
  content: "\eb7a";
}
.icon2026-pause2:before {
  content: "\eb7b";
}
.icon2026-stop2:before {
  content: "\eb7c";
}
.icon2026-backward2:before {
  content: "\eb7d";
}
.icon2026-forward3:before {
  content: "\eb7e";
}
.icon2026-first:before {
  content: "\eb7f";
}
.icon2026-last:before {
  content: "\eb80";
}
.icon2026-previous2:before {
  content: "\eb81";
}
.icon2026-next2:before {
  content: "\eb82";
}
.icon2026-eject:before {
  content: "\eb83";
}
.icon2026-volume-high:before {
  content: "\eb84";
}
.icon2026-volume-medium:before {
  content: "\eb85";
}
.icon2026-volume-low:before {
  content: "\eb86";
}
.icon2026-volume-mute:before {
  content: "\eb87";
}
.icon2026-volume-mute2:before {
  content: "\eb88";
}
.icon2026-volume-increase:before {
  content: "\eb89";
}
.icon2026-volume-decrease:before {
  content: "\eb8a";
}
.icon2026-loop:before {
  content: "\eb8b";
}
.icon2026-loop2:before {
  content: "\eb8c";
}
.icon2026-infinite:before {
  content: "\eb8d";
}
.icon2026-shuffle:before {
  content: "\eb8e";
}
.icon2026-arrow-up-left:before {
  content: "\eb8f";
}
.icon2026-arrow-up:before {
  content: "\eb90";
}
.icon2026-arrow-up-right:before {
  content: "\eb91";
}
.icon2026-arrow-right:before {
  content: "\eb92";
}
.icon2026-arrow-down-right:before {
  content: "\eb93";
}
.icon2026-arrow-down:before {
  content: "\eb94";
}
.icon2026-arrow-down-left:before {
  content: "\eb95";
}
.icon2026-arrow-left:before {
  content: "\eb96";
}
.icon2026-arrow-up-left2:before {
  content: "\eb97";
}
.icon2026-arrow-up2:before {
  content: "\eb98";
}
.icon2026-arrow-up-right2:before {
  content: "\eb99";
}
.icon2026-arrow-right2:before {
  content: "\eb9a";
}
.icon2026-arrow-down-right2:before {
  content: "\eb9b";
}
.icon2026-arrow-down2:before {
  content: "\eb9c";
}
.icon2026-arrow-down-left2:before {
  content: "\eb9d";
}
.icon2026-arrow-left2:before {
  content: "\eb9e";
}
.icon2026-circle-up:before {
  content: "\eb9f";
}
.icon2026-circle-right:before {
  content: "\eba0";
}
.icon2026-circle-down:before {
  content: "\eba1";
}
.icon2026-circle-left:before {
  content: "\eba2";
}
.icon2026-tab:before {
  content: "\eba3";
}
.icon2026-move-up:before {
  content: "\eba4";
}
.icon2026-move-down:before {
  content: "\eba5";
}
.icon2026-sort-alpha-asc:before {
  content: "\eba6";
}
.icon2026-sort-alpha-desc:before {
  content: "\eba7";
}
.icon2026-sort-numeric-asc:before {
  content: "\eba8";
}
.icon2026-sort-numberic-desc:before {
  content: "\eba9";
}
.icon2026-sort-amount-asc:before {
  content: "\ebaa";
}
.icon2026-sort-amount-desc:before {
  content: "\ebab";
}
.icon2026-command:before {
  content: "\ebac";
}
.icon2026-shift:before {
  content: "\ebad";
}
.icon2026-ctrl:before {
  content: "\ebae";
}
.icon2026-opt:before {
  content: "\ebaf";
}
.icon2026-checkbox-checked:before {
  content: "\ebb0";
}
.icon2026-checkbox-unchecked:before {
  content: "\ebb1";
}
.icon2026-radio-checked:before {
  content: "\ebb2";
}
.icon2026-radio-checked2:before {
  content: "\ebb3";
}
.icon2026-radio-unchecked:before {
  content: "\ebb4";
}
.icon2026-crop:before {
  content: "\ebb5";
}
.icon2026-make-group:before {
  content: "\ebb6";
}
.icon2026-ungroup:before {
  content: "\ebb7";
}
.icon2026-scissors:before {
  content: "\ebb8";
}
.icon2026-filter:before {
  content: "\ebb9";
}
.icon2026-font:before {
  content: "\ebba";
}
.icon2026-ligature:before {
  content: "\ebbb";
}
.icon2026-ligature2:before {
  content: "\ebbc";
}
.icon2026-text-height:before {
  content: "\ebbd";
}
.icon2026-text-width:before {
  content: "\ebbe";
}
.icon2026-font-size:before {
  content: "\ebbf";
}
.icon2026-bold:before {
  content: "\ebc0";
}
.icon2026-underline:before {
  content: "\ebc1";
}
.icon2026-italic:before {
  content: "\ebc2";
}
.icon2026-strikethrough:before {
  content: "\ebc3";
}
.icon2026-omega:before {
  content: "\ebc4";
}
.icon2026-sigma:before {
  content: "\ebc5";
}
.icon2026-page-break:before {
  content: "\ebc6";
}
.icon2026-superscript:before {
  content: "\ebc7";
}
.icon2026-subscript:before {
  content: "\ebc8";
}
.icon2026-superscript2:before {
  content: "\ebc9";
}
.icon2026-subscript2:before {
  content: "\ebca";
}
.icon2026-text-color:before {
  content: "\ebcb";
}
.icon2026-pagebreak:before {
  content: "\ebcc";
}
.icon2026-clear-formatting:before {
  content: "\ebcd";
}
.icon2026-table:before {
  content: "\ebce";
}
.icon2026-table2:before {
  content: "\ebcf";
}
.icon2026-insert-template:before {
  content: "\ebd0";
}
.icon2026-pilcrow:before {
  content: "\ebd1";
}
.icon2026-ltr:before {
  content: "\ebd2";
}
.icon2026-rtl:before {
  content: "\ebd3";
}
.icon2026-section:before {
  content: "\ebd4";
}
.icon2026-paragraph-left:before {
  content: "\ebd5";
}
.icon2026-paragraph-center:before {
  content: "\ebd6";
}
.icon2026-paragraph-right:before {
  content: "\ebd7";
}
.icon2026-paragraph-justify:before {
  content: "\ebd8";
}
.icon2026-indent-increase:before {
  content: "\ebd9";
}
.icon2026-indent-decrease:before {
  content: "\ebda";
}
.icon2026-share:before {
  content: "\ebdb";
}
.icon2026-new-tab:before {
  content: "\ebdc";
}
.icon2026-embed:before {
  content: "\ebdd";
}
.icon2026-embed2:before {
  content: "\ebde";
}
.icon2026-terminal:before {
  content: "\ebdf";
}
.icon2026-share2:before {
  content: "\ebe0";
}
.icon2026-mail:before {
  content: "\ebe1";
}
.icon2026-mail2:before {
  content: "\ebe2";
}
.icon2026-mail3:before {
  content: "\ebe3";
}
.icon2026-mail4:before {
  content: "\ebe4";
}
.icon2026-amazon:before {
  content: "\ebe5";
}
.icon2026-google:before {
  content: "\ebe6";
}
.icon2026-google2:before {
  content: "\ebe7";
}
.icon2026-google3:before {
  content: "\ebe8";
}
.icon2026-google-plus:before {
  content: "\ebe9";
}
.icon2026-google-plus2:before {
  content: "\ebea";
}
.icon2026-google-plus3:before {
  content: "\ebeb";
}
.icon2026-hangouts:before {
  content: "\ebec";
}
.icon2026-google-drive:before {
  content: "\ebed";
}
.icon2026-facebook:before {
  content: "\ebee";
}
.icon2026-facebook2:before {
  content: "\ebef";
}
.icon2026-instagram:before {
  content: "\ebf0";
}
.icon2026-whatsapp:before {
  content: "\ebf1";
}
.icon2026-spotify:before {
  content: "\ebf2";
}
.icon2026-telegram:before {
  content: "\ebf3";
}
.icon2026-twitter:before {
  content: "\ebf4";
}
.icon2026-vine:before {
  content: "\ebf5";
}
.icon2026-vk:before {
  content: "\ebf6";
}
.icon2026-renren:before {
  content: "\ebf7";
}
.icon2026-sina-weibo:before {
  content: "\ebf8";
}
.icon2026-rss:before {
  content: "\ebf9";
}
.icon2026-rss2:before {
  content: "\ebfa";
}
.icon2026-youtube:before {
  content: "\ebfb";
}
.icon2026-youtube2:before {
  content: "\ebfc";
}
.icon2026-twitch:before {
  content: "\ebfd";
}
.icon2026-vimeo:before {
  content: "\ebfe";
}
.icon2026-vimeo2:before {
  content: "\ebff";
}
.icon2026-lanyrd:before {
  content: "\ec00";
}
.icon2026-flickr:before {
  content: "\ec01";
}
.icon2026-flickr2:before {
  content: "\ec02";
}
.icon2026-flickr3:before {
  content: "\ec03";
}
.icon2026-flickr4:before {
  content: "\ec04";
}
.icon2026-dribbble:before {
  content: "\ec05";
}
.icon2026-behance:before {
  content: "\ec06";
}
.icon2026-behance2:before {
  content: "\ec07";
}
.icon2026-deviantart:before {
  content: "\ec08";
}
.icon2026-500px:before {
  content: "\ec09";
}
.icon2026-steam:before {
  content: "\ec0a";
}
.icon2026-steam2:before {
  content: "\ec0b";
}
.icon2026-dropbox:before {
  content: "\ec0c";
}
.icon2026-onedrive:before {
  content: "\ec0d";
}
.icon2026-github:before {
  content: "\ec0e";
}
.icon2026-npm:before {
  content: "\ec0f";
}
.icon2026-basecamp:before {
  content: "\ec10";
}
.icon2026-trello:before {
  content: "\ec11";
}
.icon2026-wordpress:before {
  content: "\ec12";
}
.icon2026-joomla:before {
  content: "\ec13";
}
.icon2026-ello:before {
  content: "\ec14";
}
.icon2026-blogger:before {
  content: "\ec15";
}
.icon2026-blogger2:before {
  content: "\ec16";
}
.icon2026-tumblr:before {
  content: "\ec17";
}
.icon2026-tumblr2:before {
  content: "\ec18";
}
.icon2026-yahoo:before {
  content: "\ec19";
}
.icon2026-yahoo2:before {
  content: "\ec1a";
}
.icon2026-tux:before {
  content: "\ec1b";
}
.icon2026-appleinc:before {
  content: "\ec1c";
}
.icon2026-finder:before {
  content: "\ec1d";
}
.icon2026-android:before {
  content: "\ec1e";
}
.icon2026-windows:before {
  content: "\ec1f";
}
.icon2026-windows8:before {
  content: "\ec20";
}
.icon2026-soundcloud:before {
  content: "\ec21";
}
.icon2026-soundcloud2:before {
  content: "\ec22";
}
.icon2026-skype:before {
  content: "\ec23";
}
.icon2026-reddit:before {
  content: "\ec24";
}
.icon2026-hackernews:before {
  content: "\ec25";
}
.icon2026-wikipedia:before {
  content: "\ec26";
}
.icon2026-linkedin:before {
  content: "\ec27";
}
.icon2026-linkedin2:before {
  content: "\ec28";
}
.icon2026-lastfm:before {
  content: "\ec29";
}
.icon2026-lastfm2:before {
  content: "\ec2a";
}
.icon2026-delicious:before {
  content: "\ec2b";
}
.icon2026-stumbleupon:before {
  content: "\ec2c";
}
.icon2026-stumbleupon2:before {
  content: "\ec2d";
}
.icon2026-stackoverflow:before {
  content: "\ec2e";
}
.icon2026-pinterest:before {
  content: "\ec2f";
}
.icon2026-pinterest2:before {
  content: "\ec30";
}
.icon2026-xing:before {
  content: "\ec31";
}
.icon2026-xing2:before {
  content: "\ec32";
}
.icon2026-flattr:before {
  content: "\ec33";
}
.icon2026-foursquare:before {
  content: "\ec34";
}
.icon2026-yelp:before {
  content: "\ec35";
}
.icon2026-paypal:before {
  content: "\ec36";
}
.icon2026-chrome:before {
  content: "\ec37";
}
.icon2026-firefox:before {
  content: "\ec38";
}
.icon2026-IE:before {
  content: "\ec39";
}
.icon2026-edge:before {
  content: "\ec3a";
}
.icon2026-safari:before {
  content: "\ec3b";
}
.icon2026-opera:before {
  content: "\ec3c";
}
.icon2026-file-pdf:before {
  content: "\ec3d";
}
.icon2026-file-openoffice:before {
  content: "\ec3e";
}
.icon2026-file-word:before {
  content: "\ec3f";
}
.icon2026-file-excel:before {
  content: "\ec40";
}
.icon2026-libreoffice:before {
  content: "\ec41";
}
.icon2026-html-five:before {
  content: "\ec42";
}
.icon2026-html-five2:before {
  content: "\ec43";
}
.icon2026-css3:before {
  content: "\ec44";
}
.icon2026-git:before {
  content: "\ec45";
}
.icon2026-codepen:before {
  content: "\ec46";
}
.icon2026-svg:before {
  content: "\ec47";
}
.icon2026-IcoMoon:before {
  content: "\ec48";
}
.icon2026-icon-couple:before {
  content: "\ec49";
}
.icon2026-icon-pockey:before {
  content: "\ec4a";
}
.icon2026-icon-dish:before {
  content: "\ec4b";
}
.icon2026-icon-seq:before {
  content: "\ec4c";
}
.icon2026-icon-bottle:before {
  content: "\ec4d";
}
.icon2026-icon-beer:before {
  content: "\ec4e";
}
.icon2026-icon-move-y:before {
  content: "\ec50";
}
.icon2026-icon-move-xy:before {
  content: "\ec51";
}
.icon2026-icon-move-x:before {
  content: "\ec52";
}
.icon2026-icon-mirror-y:before {
  content: "\ec53";
}
.icon2026-icon-line:before {
  content: "\ec54";
}
.icon2026-icon-down:before {
  content: "\ec55";
}
.icon2026-icon-up:before {
  content: "\ec56";
}
.icon2026-icon-maxdown:before {
  content: "\ec57";
}
.icon2026-icon-maxup:before {
  content: "\ec58";
}
.icon2026-logout:before {
  content: "\ec5a";
}
.icon2026-ribbon:before {
  content: "\ec5b";
}
.icon2026-qr_logo_line2:before {
  content: "\ec5d";
}
.icon2026-tiktok:before {
  content: "\ec5e";
}
.icon2026-x:before {
  content: "\ec5f";
}
.icon2026-clap:before {
  content: "\ec60";
}
.icon2026-line_icon:before {
  content: "\ec63";
}
.icon2026-cog3:before {
  content: "\ec66";
}
.icon2026-trashcan1:before {
  content: "\ec69";
}
.icon2026-attachment3:before {
  content: "\ec6a";
}
.icon2026-qr_logo_back_s:before {
  content: "\ec6b";
}
.icon2026-globe2:before {
  content: "\ec6c";
}
.icon2026-qr_logo_twitter2:before {
  content: "\ec6d";
}
.icon2026-qr_logo_twitter:before {
  content: "\ec6e";
}
.icon2026-qr_logo_m:before {
  content: "\ec6f";
}
.icon2026-qr_logo_insta2:before {
  content: "\ec70";
}
.icon2026-qr_logo_insta:before {
  content: "\ec71";
}
.icon2026-qr_logo_c2:before {
  content: "\ec72";
}
.icon2026-qr_logo_c:before {
  content: "\ec73";
}
.icon2026-qr_logo:before {
  content: "\ec74";
}
.icon2026-logout1:before {
  content: "\ec75";
}
.icon2026-img_4:before {
  content: "\ec76";
}
.icon2026-img_3:before {
  content: "\ec77";
}
.icon2026-img_2:before {
  content: "\ec78";
}
.icon2026-img_1:before {
  content: "\ec79";
}
.icon2026-file3:before {
  content: "\ec7a";
}
.icon2026-drink4:before {
  content: "\ec7b";
}
.icon2026-tie1:before {
  content: "\ec7d";
}
.icon2026-newspaper2:before {
  content: "\ec7e";
}
.icon2026-pencil3:before {
  content: "\ec7f";
}
.icon2026-cross11:before {
  content: "\ec81";
}
.icon2026-layout14:before {
  content: "\ec84";
}
.icon2026-layout15:before {
  content: "\ec85";
}
.icon2026-music2:before {
  content: "\ec8a";
}
.icon2026-clipboard4:before {
  content: "\ec8d";
}
.icon2026-bird:before {
  content: "\ec8e";
}
.icon2026-envelope2:before {
  content: "\ec8f";
}
.icon2026-envelope3:before {
  content: "\ec90";
}
.icon2026-camera4:before {
  content: "\ec91";
}
.icon2026-pictures2:before {
  content: "\ec92";
}
.icon2026-globe11:before {
  content: "\ec93";
}
.icon2026-zoomout1:before {
  content: "\ec94";
}
.icon2026-zoomin1:before {
  content: "\ec95";
}
.icon2026-attachment11:before {
  content: "\ec96";
}
.icon2026-key3:before {
  content: "\ec99";
}
.icon2026-heart4:before {
  content: "\ec9a";
}
.icon2026-images1:before {
  content: "\ec9b";
}
.icon2026-badge2:before {
  content: "\ec9c";
}
.icon2026-image3:before {
  content: "\ec9d";
}
.icon2026-fitt_c:before {
  content: "\ec9e";
}
.icon2026-fitt_v:before {
  content: "\ec9f";
}
.icon2026-fitt_w:before {
  content: "\eca0";
}
.icon2026-file-text22:before {
  content: "\eca1";
}
.icon2026-grid_0:before {
  content: "\eca2";
}
.icon2026-grid_1:before {
  content: "\eca3";
}
.icon2026-grid_2:before {
  content: "\eca4";
}
.icon2026-mirror_v:before {
  content: "\eca5";
}
.icon2026-mirror_w:before {
  content: "\eca6";
}
.icon2026-qr_logo_back:before {
  content: "\eca8";
}
.icon2026-logo_svg_all:before {
  content: "\eca9";
}
.icon2026-folder-open1:before {
  content: "\ecaa";
}
.icon2026-logo_svg_long:before {
  content: "\ecab";
}
.icon2026-next1:before {
  content: "\ecac";
}
.icon2026-price-tag1:before {
  content: "\ecae";
}
.icon2026-pushpin1:before {
  content: "\ecb0";
}
.icon2026-coin-yen2:before {
  content: "\ecb1";
}
.icon2026-lifebuoy2:before {
  content: "\ecb3";
}
.icon2026-address-book1:before {
  content: "\ecb4";
}
.icon2026-bell1:before {
  content: "\ecb5";
}
.icon2026-calendar4:before {
  content: "\ecb6";
}
.icon2026-stopwatch1:before {
  content: "\ecb7";
}
.icon2026-display1:before {
  content: "\ecb9";
}
.icon2026-printer2:before {
  content: "\ecba";
}
.icon2026-mobile1:before {
  content: "\ecbb";
}
.icon2026-fantia:before {
  content: "\ecbc";
}
.icon2026-thread:before {
  content: "\ecbd";
}
.icon2026-tiktok1:before {
  content: "\ecc0";
}
.icon2026-lady:before {
  content: "\ecc3";
}
.icon2026-fortune:before {
  content: "\ecc5";
}
.icon2026-bluesky:before {
  content: "\ecc6";
}
.icon2026-img-ai:before {
  content: "\ecc9";
}
.icon2026-hand1:before {
  content: "\eccb";
}
.icon2026-bubble1:before {
  content: "\eccc";
}
.icon2026-bubbles1:before {
  content: "\eccd";
}
.icon2026-enlarge1:before {
  content: "\ecd0";
}
.icon2026-shrink1:before {
  content: "\ecd1";
}
.icon2026-bin1:before {
  content: "\ecd2";
}
.icon2026-switch3:before {
  content: "\ecd3";
}
.icon2026-list4:before {
  content: "\ecd4";
}
.icon2026-tree1:before {
  content: "\ecd5";
}
.icon2026-sphere1:before {
  content: "\ecd9";
}
.icon2026-sun2:before {
  content: "\ecda";
}
.icon2026-smile1:before {
  content: "\ecdf";
}
.icon2026-tongue1:before {
  content: "\ece0";
}
.icon2026-sad3:before {
  content: "\ece1";
}
.icon2026-angry1:before {
  content: "\ece2";
}
.icon2026-shocked1:before {
  content: "\ece3";
}
.icon2026-baffled1:before {
  content: "\ece4";
}
.icon2026-confused1:before {
  content: "\ece5";
}
.icon2026-hipster1:before {
  content: "\ece6";
}
.icon2026-sleepy1:before {
  content: "\ece7";
}
.icon2026-crying1:before {
  content: "\ece8";
}
.icon2026-notification1:before {
  content: "\ece9";
}
.icon2026-cross2:before {
  content: "\ecea";
}
.icon2026-checkmark5:before {
  content: "\eceb";
}
.icon2026-checkmark21:before {
  content: "\ecec";
}
.icon2026-play31:before {
  content: "\ecef";
}
.icon2026-loop3:before {
  content: "\ecf1";
}
.icon2026-loop21:before {
  content: "\ecf2";
}
.icon2026-arrow-up1:before {
  content: "\ecf3";
}
.icon2026-arrow-right1:before {
  content: "\ecf4";
}
.icon2026-arrow-down1:before {
  content: "\ecf5";
}
.icon2026-arrow-left1:before {
  content: "\ecf6";
}
.icon2026-sort-alpha-asc1:before {
  content: "\ecf7";
}
.icon2026-sort-alpha-desc1:before {
  content: "\ecf8";
}
.icon2026-sort-numeric-asc1:before {
  content: "\ecf9";
}
.icon2026-sort-numberic-desc1:before {
  content: "\ecfa";
}
.icon2026-sort-amount-asc1:before {
  content: "\ecfb";
}
.icon2026-sort-amount-desc1:before {
  content: "\ecfc";
}
.icon2026-checkbox-checked1:before {
  content: "\ecfd";
}
.icon2026-checkbox-unchecked1:before {
  content: "\ecfe";
}
.icon2026-radio-checked1:before {
  content: "\ecff";
}
.icon2026-radio-unchecked1:before {
  content: "\ed00";
}
.icon2026-amazon1:before {
  content: "\ed01";
}
.icon2026-wallet1:before {
  content: "\ed0a";
}
.icon2026-wear:before {
  content: "\ed0b";
}
.icon2026-pen3:before {
  content: "\ed0c";
}
.icon2026-landscape:before {
  content: "\ed0d";
}
.icon2026-wear2:before {
  content: "\ed0e";
}
.icon2026-short:before {
  content: "\ed0f";
}
.icon2026-long:before {
  content: "\ed10";
}
.icon2026-home:before {
  content: "\ed11";
}
.icon2026-home2:before {
  content: "\ed12";
}
.icon2026-home3:before {
  content: "\ed13";
}
.icon2026-office:before {
  content: "\ed14";
}
.icon2026-newspaper:before {
  content: "\ed15";
}
.icon2026-pencil:before {
  content: "\ed16";
}
.icon2026-image:before {
  content: "\ed17";
}
.icon2026-play:before {
  content: "\ed18";
}
.icon2026-film:before {
  content: "\ed19";
}
.icon2026-video-camera:before {
  content: "\ed1a";
}
.icon2026-book:before {
  content: "\ed1b";
}
.icon2026-books:before {
  content: "\ed1c";
}
.icon2026-file-empty:before {
  content: "\ed1d";
}
.icon2026-files-empty:before {
  content: "\ed1e";
}
.icon2026-file-text2:before {
  content: "\ed1f";
}
.icon2026-coin-yen:before {
  content: "\ed20";
}
.icon2026-credit-card:before {
  content: "\ed21";
}
.icon2026-lifebuoy:before {
  content: "\ed22";
}
.icon2026-phone:before {
  content: "\ed23";
}
.icon2026-floppy-disk:before {
  content: "\ed25";
}
.icon2026-flag:before {
  content: "\ed26";
}
.icon2026-attachment:before {
  content: "\ed27";
}
.icon2026-eye:before {
  content: "\ed28";
}
.icon2026-eye-plus:before {
  content: "\ed29";
}
.icon2026-eye-minus:before {
  content: "\ed2a";
}
.icon2026-eye-blocked:before {
  content: "\ed2b";
}
.icon2026-bookmark:before {
  content: "\ed2c";
}
.icon2026-bookmarks:before {
  content: "\ed2d";
}
.icon2026-gallery:before {
  content: "\ed2e";
}
.icon2026-gallery-off:before {
  content: "\ed2f";
}
.icon2026-nico_b:before {
  content: "\ee18";
}
.icon2026-pinterest_qr:before {
  content: "\ef9a";
}
.icon2026-thread_qr:before {
  content: "\ef9b";
}
.icon2026-tiktok_qr:before {
  content: "\ef9c";
}
.icon2026-url_qr:before {
  content: "\ef9d";
}
.icon2026-wp_qr:before {
  content: "\ef9e";
}
.icon2026-x_qr:before {
  content: "\ef9f";
}
.icon2026-three-bars:before {
  content: "\f05e";
}
.icon2026-crystal:before {
  content: "\eae1";
}
.icon2026-card_b:before {
  content: "\eb31";
}
.icon2026-ema:before {
  content: "\ec4f";
}
.icon2026-orion:before {
  content: "\ec59";
}
.icon2026-parm_a:before {
  content: "\ec5c";
}
.icon2026-parm_b:before {
  content: "\ec61";
}
.icon2026-amuret:before {
  content: "\ec62";
}
.icon2026-card_a:before {
  content: "\ec64";
}
.icon2026-horo12:before {
  content: "\ec65";
}
.icon2026-horo11:before {
  content: "\ec67";
}
.icon2026-horo10:before {
  content: "\ec68";
}
.icon2026-horo09:before {
  content: "\ec7c";
}
.icon2026-horo08:before {
  content: "\ec80";
}
.icon2026-horo07:before {
  content: "\ec82";
}
.icon2026-horo06:before {
  content: "\ec83";
}
.icon2026-horo05:before {
  content: "\ec86";
}
.icon2026-horo04:before {
  content: "\ec87";
}
.icon2026-horo02:before {
  content: "\ec88";
}
.icon2026-horo01:before {
  content: "\ec89";
}
.icon2026-horo03:before {
  content: "\ec8b";
}
.icon2026-mail1:before {
  content: "\ec8c";
}
.icon2026-mail-envelope-open:before {
  content: "\ec97";
}
.icon2026-mail-envelope-closed:before {
  content: "\ec98";
}
.icon2026-thumb-up:before {
  content: "\eca7";
}
.icon2026-thumb-up1:before {
  content: "\ecad";
}
.icon2026-bankasa:before {
  content: "\ecaf";
}
.icon2026-chotin:before {
  content: "\ecb2";
}
.icon2026-furin:before {
  content: "\ecb8";
}
.icon2026-calendar11:before {
  content: "\ecbe";
}
.icon2026-nasu:before {
  content: "\ecbf";
}
.icon2026-s_star:before {
  content: "\ecc1";
}
.icon2026-pictures11:before {
  content: "\ecc2";
}
.icon2026-davidstar1:before {
  content: "\ecc4";
}
.icon2026-cross12:before {
  content: "\ecc7";
}
.icon2026-moonandstar1:before {
  content: "\ecc8";
}
.icon2026-diamond1:before {
  content: "\ecca";
}
.icon2026-chat3:before {
  content: "\ecce";
}
.icon2026-chat11:before {
  content: "\eccf";
}
.icon2026-paperplane1:before {
  content: "\ecd6";
}
.icon2026-globe12:before {
  content: "\ecd7";
}
.icon2026-yingyang1:before {
  content: "\ecd8";
}
.icon2026-image21:before {
  content: "\ecdb";
}
.icon2026-camera5:before {
  content: "\ecdc";
}
.icon2026-file-text211:before {
  content: "\ecdd";
}
.icon2026-phone41:before {
  content: "\ecde";
}
.icon2026-mobile3:before {
  content: "\eced";
}
.icon2026-gift1:before {
  content: "\ecee";
}
.icon2026-bin3:before {
  content: "\ecf0";
}
.icon2026-smile3:before {
  content: "\ed02";
}
.icon2026-ribbon1:before {
  content: "\ed03";
}
.icon2026-clap1:before {
  content: "\ed04";
}
.icon2026-lady1:before {
  content: "\ed05";
}
.icon2026-fortune1:before {
  content: "\ed06";
}
.icon2026-bad:before {
  content: "\ed07";
}
.icon2026-bamboo:before {
  content: "\ed08";
}
.icon2026-cherry:before {
  content: "\ed09";
}
.icon2026-flower:before {
  content: "\ed24";
}
.icon2026-good1:before {
  content: "\ed30";
}
.icon2026-good2:before {
  content: "\ed31";
}
.icon2026-good3:before {
  content: "\ed32";
}
.icon2026-plum:before {
  content: "\ed33";
}
.icon2026-sakura:before {
  content: "\ed34";
}
.icon2026-seed:before {
  content: "\ed35";
}
