
.chu_card{
	perspective		:150rem;
	display			:inline-block;
	position		:absolute;
	height			:30vw;
	width			:20vw;
	border-radius	:5px;
	transform-origin:center;
	z-index			:10;
	left			:5vw;
	top				:3vw;
}


.chu_card_f,.chu_card_b,.chu_card_b_r{
	transition		:.8s;
	position		: absolute;
	top				: 0;
	left			: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius	:5px;
	height			:28vw;
	width			:18vw;
	border			:1vw solid #f5f5f5;
}

.chu_card_f{
	background		:linear-gradient(#b070d0,#8040b0);
	transform		:rotateY(180deg);
}

.chu_card_b{
	background-size	:100% 100%;
	background-image:url("https://katsumiexe.github.io/v_css/eve_2312/img/zannen.jpg");
}

.chu_card_ps{
	display			:inline-block;
	position		:absolute;
	height			:140px;
	width			:85px;
	background		:rgba(90,60,10,0.2);
	border-radius	:5px;
}

#b1{
	background-image:url("https://katsumiexe.github.io/v_css/eve_2312/img/atari.jpg");
}

.box_card{
	width		:96vw;
	margin		:0 auto;
	border		:1vw solid #85b671;
	background	:#f0ffe8;
	position	:relative;
	height		:46vw;
}

.box_card_msg{
	width			:80vw;
	background		:#fafafa;
	border			:0.5vw solid #0090A0;
	position		:absolute;
	bottom			:2vw;
	left			:0;
	right			:0;
	margin			:auto;
	height			:8vw;
	line-height		:8vw;
	text-align		:center;
}

.box_card_msg_in{
	display			:none;
	width			:80vw;
	position		:absolute;
	top				:0;
	left			:0;
	right			:0;
	bottom			:0;
	margin			:auto;
	height			:8vw;
	line-height		:8vw;
	color			:#0090A0;
	font-size		:4vw;
	text-align		:center;
	font-weight		:800;
	overflow		:hidden;
}

#msg1{
	display			:block;

}

.box_card_top{
	width		:96vw;
	margin		:1vw auto 0 auto;
	border		:1vw solid #85b671;
	background	:#85b671;
	position	:relative;
	height		:6vw;
}


.box_block{
	position	:absolute;
	top			:0;
	left		:0;
	height		:46vw;
	width		:94vw;
	z-index		:100;
}

.set_btn{
	width		:98vw;
	margin		:1vw auto;
	background	:#009000;
	position	:relative;
	height		:7vw;
	line-height	:7vw
	text-align	:center;
	font-size	:4vw;
}


#c0{left:3.5vw}
#c1{left:26.5vw}
#c2{left:49.5vw}
#c3{left:72.5vw}
