@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5sktmu');
  src:  url('fonts/icomoon.eot?5sktmu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5sktmu') format('truetype'),
    url('fonts/icomoon.woff?5sktmu') format('woff'),
    url('fonts/icomoon.svg?5sktmu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crystal:before {
  content: "\e900";
}
.icon-card_b:before {
  content: "\e901";
}
.icon-ema:before {
  content: "\e902";
}
.icon-orion:before {
  content: "\e903";
}
.icon-parm_a:before {
  content: "\e904";
}
.icon-parm_b:before {
  content: "\e905";
}
.icon-amuret:before {
  content: "\e906";
}
.icon-card_a:before {
  content: "\e907";
}
.icon-horo12:before {
  content: "\e908";
}
.icon-horo11:before {
  content: "\e909";
}
.icon-horo10:before {
  content: "\e90a";
}
.icon-horo09:before {
  content: "\e90b";
}
.icon-horo08:before {
  content: "\e90c";
}
.icon-horo07:before {
  content: "\e90d";
}
.icon-horo06:before {
  content: "\e90e";
}
.icon-horo05:before {
  content: "\e90f";
}
.icon-horo04:before {
  content: "\e910";
}
.icon-horo02:before {
  content: "\e911";
}
.icon-horo01:before {
  content: "\e912";
}
.icon-horo03:before {
  content: "\e913";
}
.icon-mail:before {
  content: "\e914";
}
.icon-mail-envelope-open:before {
  content: "\e915";
}
.icon-mail-envelope-closed:before {
  content: "\e916";
}
.icon-thumb-up:before {
  content: "\e917";
}
.icon-thumb-up1:before {
  content: "\e918";
}
.icon-calendar1:before {
  content: "\e91c";
}
.icon-pictures1:before {
  content: "\e952";
}
.icon-davidstar:before {
  content: "\e9a1";
}
.icon-cross1:before {
  content: "\e9a2";
}
.icon-moonandstar:before {
  content: "\e9a3";
}
.icon-diamond:before {
  content: "\e9bf";
}
.icon-chat:before {
  content: "\e9dc";
}
.icon-chat1:before {
  content: "\e9de";
}
.icon-paperplane:before {
  content: "\ea2a";
}
.icon-globe1:before {
  content: "\ea4b";
}
.icon-yingyang:before {
  content: "\ea4d";
}
.icon-image2:before {
  content: "\ea6b";
}
.icon-camera:before {
  content: "\ea6d";
}
.icon-file-text21:before {
  content: "\ea84";
}
.icon-phone4:before {
  content: "\eaa0";
}
.icon-mobile:before {
  content: "\eab6";
}
.icon-gift:before {
  content: "\eafd";
}
.icon-bin:before {
  content: "\eb0a";
}
.icon-smile:before {
  content: "\eb3f";
}
.icon-ribbon:before {
  content: "\ec5b";
}
.icon-clap:before {
  content: "\ec60";
}
.icon-lady:before {
  content: "\ecc3";
}
.icon-fortune:before {
  content: "\ecc5";
}
.icon-bankasa:before {
  content: "\e919";
}
.icon-chotin:before {
  content: "\e91a";
}
.icon-furin:before {
  content: "\e91b";
}
.icon-nasu:before {
  content: "\e91d";
}
.icon-s_star:before {
  content: "\e91e";
}
