@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q7s7zh');
  src:  url('fonts/icomoon.eot?q7s7zh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q7s7zh') format('truetype'),
    url('fonts/icomoon.woff?q7s7zh') format('woff'),
    url('fonts/icomoon.svg?q7s7zh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_ar-"], [class*=" icon_ar-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_ar-keyboard_arrow_down:before {
  content: "\e313";
}
.icon_ar-keyboard_arrow_left:before {
  content: "\e314";
}
.icon_ar-keyboard_arrow_right:before {
  content: "\e315";
}
.icon_ar-keyboard_arrow_up:before {
  content: "\e316";
}
.icon_ar-swap_horiz:before {
  content: "\e8d4";
}
.icon_ar-swap_vert:before {
  content: "\e8d5";
}
.icon_ar-line_icon:before {
  content: "\e902";
}
.icon_ar-notice:before {
  content: "\e903";
}
.icon_ar-notice1:before {
  content: "\e904";
}
.icon_ar-cog:before {
  content: "\e905";
}
.icon_ar-warning:before {
  content: "\e906";
}
.icon_ar-pictures:before {
  content: "\e907";
}
.icon_ar-trashcan:before {
  content: "\e908";
}
.icon_ar-attachment:before {
  content: "\e909";
}
.icon_ar-qr_logo_back_s:before {
  content: "\e90a";
}
.icon_ar-globe:before {
  content: "\e90b";
}
.icon_ar-qr_logo_twitter2:before {
  content: "\e90c";
}
.icon_ar-qr_logo_twitter:before {
  content: "\e90d";
}
.icon_ar-qr_logo_m:before {
  content: "\e90e";
}
.icon_ar-qr_logo_insta2:before {
  content: "\e90f";
}
.icon_ar-qr_logo_insta:before {
  content: "\e910";
}
.icon_ar-qr_logo_c2:before {
  content: "\e911";
}
.icon_ar-qr_logo_c:before {
  content: "\e912";
}
.icon_ar-qr_logo:before {
  content: "\e913";
}
.icon_ar-logout:before {
  content: "\e914";
}
.icon_ar-img_4:before {
  content: "\e915";
}
.icon_ar-img_3:before {
  content: "\e916";
}
.icon_ar-img_2:before {
  content: "\e917";
}
.icon_ar-img_1:before {
  content: "\e918";
}
.icon_ar-file:before {
  content: "\e919";
}
.icon_ar-drink:before {
  content: "\e91a";
}
.icon_ar-warning1:before {
  content: "\e91b";
}
.icon_ar-tie:before {
  content: "\e91c";
}
.icon_ar-newspaper:before {
  content: "\e91d";
}
.icon_ar-pencil:before {
  content: "\e91e";
}
.icon_ar-davidstar:before {
  content: "\e91f";
}
.icon_ar-cross1:before {
  content: "\e920";
}
.icon_ar-moonandstar:before {
  content: "\e921";
}
.icon_ar-diamond:before {
  content: "\e922";
}
.icon_ar-layout:before {
  content: "\e923";
}
.icon_ar-layout1:before {
  content: "\e924";
}
.icon_ar-rotate:before {
  content: "\e925";
}
.icon_ar-rotate1:before {
  content: "\e926";
}
.icon_ar-envelope:before {
  content: "\e927";
}
.icon_ar-envelope1:before {
  content: "\e928";
}
.icon_ar-music:before {
  content: "\e929";
}
.icon_ar-male1:before {
  content: "\e92a";
}
.icon_ar-female1:before {
  content: "\e92b";
}
.icon_ar-clipboard:before {
  content: "\e92c";
}
.icon_ar-bird:before {
  content: "\e92d";
}
.icon_ar-envelope2:before {
  content: "\e92e";
}
.icon_ar-envelope21:before {
  content: "\e92f";
}
.icon_ar-camera:before {
  content: "\e930";
}
.icon_ar-pictures1:before {
  content: "\e931";
}
.icon_ar-globe1:before {
  content: "\e932";
}
.icon_ar-zoomout:before {
  content: "\e933";
}
.icon_ar-zoomin:before {
  content: "\e934";
}
.icon_ar-attachment1:before {
  content: "\e935";
}
.icon_ar-locked:before {
  content: "\e936";
}
.icon_ar-unlocked:before {
  content: "\e937";
}
.icon_ar-key:before {
  content: "\e938";
}
.icon_ar-heart1:before {
  content: "\e939";
}
.icon_ar-images:before {
  content: "\e93a";
}
.icon_ar-badge:before {
  content: "\e93b";
}
.icon_ar-image:before {
  content: "\e93c";
}
.icon_ar-fitt_c:before {
  content: "\e93d";
}
.icon_ar-fitt_v:before {
  content: "\e93e";
}
.icon_ar-fitt_w:before {
  content: "\e93f";
}
.icon_ar-file-text2:before {
  content: "\e940";
}
.icon_ar-grid_0:before {
  content: "\e941";
}
.icon_ar-grid_1:before {
  content: "\e942";
}
.icon_ar-grid_2:before {
  content: "\e943";
}
.icon_ar-mirror_v:before {
  content: "\e944";
}
.icon_ar-mirror_w:before {
  content: "\e945";
}
.icon_ar-home1:before {
  content: "\e946";
}
.icon_ar-qr_logo_back:before {
  content: "\e947";
}
.icon_ar-folder-open:before {
  content: "\e948";
}
.icon_ar-next:before {
  content: "\e949";
}
.icon_ar-home2:before {
  content: "\e94a";
}
.icon_ar-price-tag:before {
  content: "\e94b";
}
.icon_ar-qrcode:before {
  content: "\e94c";
}
.icon_ar-pushpin:before {
  content: "\e94d";
}
.icon_ar-coin-yen:before {
  content: "\e94e";
}
.icon_ar-office:before {
  content: "\e94f";
}
.icon_ar-lifebuoy:before {
  content: "\e950";
}
.icon_ar-address-book:before {
  content: "\e951";
}
.icon_ar-bell:before {
  content: "\e952";
}
.icon_ar-calendar:before {
  content: "\e953";
}
.icon_ar-stopwatch1:before {
  content: "\e954";
}
.icon_ar-keyboard:before {
  content: "\e955";
}
.icon_ar-display:before {
  content: "\e956";
}
.icon_ar-printer:before {
  content: "\e957";
}
.icon_ar-mobile:before {
  content: "\e958";
}
.icon_ar-qr_logo_line2:before {
  content: "\e959";
}
.icon_ar-f:before {
  content: "\e95a";
}
.icon_ar-s:before {
  content: "\e95b";
}
.icon_ar-drawer:before {
  content: "\e95c";
}
.icon_ar-drawer2:before {
  content: "\e95d";
}
.icon_ar-tiktok:before {
  content: "\e95e";
}
.icon_ar-x:before {
  content: "\e95f";
}
.icon_ar-floppy-disk:before {
  content: "\e962";
}
.icon_ar-undo:before {
  content: "\e965";
}
.icon_ar-redo:before {
  content: "\e966";
}
.icon_ar-redo2:before {
  content: "\e968";
}
.icon_ar-bubble:before {
  content: "\e96b";
}
.icon_ar-bubbles:before {
  content: "\e96c";
}
.icon_ar-spinner:before {
  content: "\e97a";
}
.icon_ar-spinner9:before {
  content: "\e982";
}
.icon_ar-enlarge:before {
  content: "\e989";
}
.icon_ar-shrink:before {
  content: "\e98a";
}
.icon_ar-bin:before {
  content: "\e9ac";
}
.icon_ar-switch:before {
  content: "\e9b6";
}
.icon_ar-list:before {
  content: "\e9ba";
}
.icon_ar-tree:before {
  content: "\e9bc";
}
.icon_ar-menu:before {
  content: "\e9bd";
}
.icon_ar-download2:before {
  content: "\e9c5";
}
.icon_ar-upload2:before {
  content: "\e9c6";
}
.icon_ar-sphere:before {
  content: "\e9c9";
}
.icon_ar-sun:before {
  content: "\e9d4";
}
.icon_ar-star-empty:before {
  content: "\e9d7";
}
.icon_ar-star-half:before {
  content: "\e9d8";
}
.icon_ar-star-full1:before {
  content: "\e9d9";
}
.icon_ar-heart11:before {
  content: "\e9da";
}
.icon_ar-smile:before {
  content: "\e9e1";
}
.icon_ar-tongue:before {
  content: "\e9e3";
}
.icon_ar-sad:before {
  content: "\e9e5";
}
.icon_ar-angry:before {
  content: "\e9ed";
}
.icon_ar-shocked:before {
  content: "\e9f1";
}
.icon_ar-baffled:before {
  content: "\e9f3";
}
.icon_ar-confused:before {
  content: "\e9f5";
}
.icon_ar-hipster:before {
  content: "\e9f9";
}
.icon_ar-sleepy:before {
  content: "\e9fd";
}
.icon_ar-crying:before {
  content: "\ea01";
}
.icon_ar-notification:before {
  content: "\ea08";
}
.icon_ar-cross2:before {
  content: "\ea0f";
}
.icon_ar-checkmark1:before {
  content: "\ea10";
}
.icon_ar-checkmark21:before {
  content: "\ea11";
}
.icon_ar-enter:before {
  content: "\ea13";
}
.icon_ar-exit:before {
  content: "\ea14";
}
.icon_ar-play3:before {
  content: "\ea1c";
}
.icon_ar-loop1:before {
  content: "\ea2d";
}
.icon_ar-loop:before {
  content: "\ea2e";
}
.icon_ar-loop2:before {
  content: "\ea2f";
}
.icon_ar-arrow-up:before {
  content: "\ea32";
}
.icon_ar-arrow-right:before {
  content: "\ea34";
}
.icon_ar-arrow-down:before {
  content: "\ea36";
}
.icon_ar-arrow-left:before {
  content: "\ea38";
}
.icon_ar-sort-alpha-asc:before {
  content: "\ea48";
}
.icon_ar-sort-alpha-desc:before {
  content: "\ea49";
}
.icon_ar-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon_ar-sort-numberic-desc:before {
  content: "\ea4b";
}
.icon_ar-sort-amount-asc:before {
  content: "\ea4c";
}
.icon_ar-sort-amount-desc:before {
  content: "\ea4d";
}
.icon_ar-checkbox-checked:before {
  content: "\ea52";
}
.icon_ar-checkbox-unchecked:before {
  content: "\ea53";
}
.icon_ar-radio-checked:before {
  content: "\ea54";
}
.icon_ar-radio-unchecked:before {
  content: "\ea56";
}
.icon_ar-amazon:before {
  content: "\ea87";
}
.icon_ar-facebook:before {
  content: "\ea90";
}
.icon_ar-facebook2:before {
  content: "\ea91";
}
.icon_ar-github:before {
  content: "\eab0";
}
.icon_ar-appleinc:before {
  content: "\eabe";
}
.icon_ar-android1:before {
  content: "\eac0";
}
.icon_ar-pinterest:before {
  content: "\ead1";
}
.icon_ar-pinterest2:before {
  content: "\ead2";
}
.icon_ar-camera1:before {
  content: "\eb0e";
}
.icon_ar-wallet:before {
  content: "\eb43";
}
.icon_ar-three-bars:before {
  content: "\f05e";
}
.icon_ar-clap:before {
  content: "\e960";
}
.icon_ar-uniE900:before {
  content: "\e900";
}
.icon_ar-1:before {
  content: "\e901";
}
.icon_ar-home:before {
  content: "\e961";
}
.icon_ar-stopwatch:before {
  content: "\e963";
}
.icon_ar-star-full:before {
  content: "\e9db";
}
.icon_ar-heart:before {
  content: "\e9dc";
}
.icon_ar-cross:before {
  content: "\ea12";
}
.icon_ar-checkmark:before {
  content: "\ea15";
}
.icon_ar-checkmark2:before {
  content: "\ea16";
}
