@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wayq3d');
  src:  url('fonts/icomoon.eot?wayq3d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wayq3d') format('truetype'),
    url('fonts/icomoon.woff?wayq3d') format('woff'),
    url('fonts/icomoon.svg?wayq3d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_br-"], [class*=" icon_br-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_br-icon-mirror-x:before {
  content: "\6d";
}
.icon_br-number:before {
  content: "\e900";
}
.icon_br-number1:before {
  content: "\e901";
}
.icon_br-number2:before {
  content: "\e902";
}
.icon_br-number3:before {
  content: "\e903";
}
.icon_br-number4:before {
  content: "\e904";
}
.icon_br-number5:before {
  content: "\e905";
}
.icon_br-number6:before {
  content: "\e906";
}
.icon_br-number7:before {
  content: "\e907";
}
.icon_br-number8:before {
  content: "\e908";
}
.icon_br-number9:before {
  content: "\e909";
}
.icon_br-number10:before {
  content: "\e90a";
}
.icon_br-number11:before {
  content: "\e90b";
}
.icon_br-number12:before {
  content: "\e90c";
}
.icon_br-number13:before {
  content: "\e90d";
}
.icon_br-number14:before {
  content: "\e90e";
}
.icon_br-number15:before {
  content: "\e90f";
}
.icon_br-number16:before {
  content: "\e910";
}
.icon_br-number17:before {
  content: "\e911";
}
.icon_br-number18:before {
  content: "\e912";
}
.icon_br-number19:before {
  content: "\e913";
}
.icon_br-quote:before {
  content: "\e914";
}
.icon_br-quote1:before {
  content: "\e915";
}
.icon_br-tag:before {
  content: "\e916";
}
.icon_br-tag1:before {
  content: "\e917";
}
.icon_br-link1:before {
  content: "\e918";
}
.icon_br-link2:before {
  content: "\e919";
}
.icon_br-cabinet:before {
  content: "\e91a";
}
.icon_br-cabinet1:before {
  content: "\e91b";
}
.icon_br-calendar1:before {
  content: "\e91c";
}
.icon_br-calendar2:before {
  content: "\e91d";
}
.icon_br-calendar3:before {
  content: "\e91e";
}
.icon_br-file:before {
  content: "\e91f";
}
.icon_br-file1:before {
  content: "\e920";
}
.icon_br-file2:before {
  content: "\e921";
}
.icon_br-files:before {
  content: "\e922";
}
.icon_br-phone1:before {
  content: "\e923";
}
.icon_br-tablet1:before {
  content: "\e924";
}
.icon_br-window:before {
  content: "\e925";
}
.icon_br-monitor:before {
  content: "\e926";
}
.icon_br-ipod:before {
  content: "\e927";
}
.icon_br-tv1:before {
  content: "\e928";
}
.icon_br-camera1:before {
  content: "\e929";
}
.icon_br-camera2:before {
  content: "\e92a";
}
.icon_br-camera3:before {
  content: "\e92b";
}
.icon_br-film1:before {
  content: "\e92c";
}
.icon_br-film2:before {
  content: "\e92d";
}
.icon_br-film3:before {
  content: "\e92e";
}
.icon_br-microphone:before {
  content: "\e92f";
}
.icon_br-microphone1:before {
  content: "\e930";
}
.icon_br-microphone2:before {
  content: "\e931";
}
.icon_br-drink:before {
  content: "\e932";
}
.icon_br-drink1:before {
  content: "\e933";
}
.icon_br-drink2:before {
  content: "\e934";
}
.icon_br-drink3:before {
  content: "\e935";
}
.icon_br-coffee:before {
  content: "\e936";
}
.icon_br-mug1:before {
  content: "\e937";
}
.icon_br-icecream:before {
  content: "\e938";
}
.icon_br-cake:before {
  content: "\e939";
}
.icon_br-inbox:before {
  content: "\e93a";
}
.icon_br-download1:before {
  content: "\e93b";
}
.icon_br-upload1:before {
  content: "\e93c";
}
.icon_br-inbox1:before {
  content: "\e93d";
}
.icon_br-checkmark1:before {
  content: "\e93e";
}
.icon_br-checkmark3:before {
  content: "\e93f";
}
.icon_br-cancel:before {
  content: "\e940";
}
.icon_br-cancel1:before {
  content: "\e941";
}
.icon_br-plus1:before {
  content: "\e942";
}
.icon_br-plus2:before {
  content: "\e943";
}
.icon_br-minus1:before {
  content: "\e944";
}
.icon_br-minus2:before {
  content: "\e945";
}
.icon_br-notice:before {
  content: "\e946";
}
.icon_br-notice1:before {
  content: "\e947";
}
.icon_br-cog1:before {
  content: "\e948";
}
.icon_br-cogs1:before {
  content: "\e949";
}
.icon_br-cog2:before {
  content: "\e94a";
}
.icon_br-warning1:before {
  content: "\e94b";
}
.icon_br-health:before {
  content: "\e94c";
}
.icon_br-suitcase:before {
  content: "\e94d";
}
.icon_br-suitcase1:before {
  content: "\e94e";
}
.icon_br-suitcase2:before {
  content: "\e94f";
}
.icon_br-picture:before {
  content: "\e950";
}
.icon_br-pictures:before {
  content: "\e951";
}
.icon_br-pictures1:before {
  content: "\e952";
}
.icon_br-android1:before {
  content: "\e953";
}
.icon_br-marvin:before {
  content: "\e954";
}
.icon_br-pacman1:before {
  content: "\e955";
}
.icon_br-cassette:before {
  content: "\e956";
}
.icon_br-watch:before {
  content: "\e957";
}
.icon_br-chronometer:before {
  content: "\e958";
}
.icon_br-watch1:before {
  content: "\e959";
}
.icon_br-alarmclock:before {
  content: "\e95a";
}
.icon_br-time:before {
  content: "\e95b";
}
.icon_br-time1:before {
  content: "\e95c";
}
.icon_br-headphones1:before {
  content: "\e95d";
}
.icon_br-wallet:before {
  content: "\e95e";
}
.icon_br-checkmark4:before {
  content: "\e95f";
}
.icon_br-cancel2:before {
  content: "\e960";
}
.icon_br-eye1:before {
  content: "\e961";
}
.icon_br-position:before {
  content: "\e962";
}
.icon_br-sitemap:before {
  content: "\e963";
}
.icon_br-sitemap1:before {
  content: "\e964";
}
.icon_br-cloud1:before {
  content: "\e965";
}
.icon_br-upload4:before {
  content: "\e966";
}
.icon_br-chart:before {
  content: "\e967";
}
.icon_br-chart1:before {
  content: "\e968";
}
.icon_br-chart2:before {
  content: "\e969";
}
.icon_br-chart3:before {
  content: "\e96a";
}
.icon_br-chart4:before {
  content: "\e96b";
}
.icon_br-chart5:before {
  content: "\e96c";
}
.icon_br-location1:before {
  content: "\e96d";
}
.icon_br-download4:before {
  content: "\e96e";
}
.icon_br-basket:before {
  content: "\e96f";
}
.icon_br-folder1:before {
  content: "\e970";
}
.icon_br-gamepad:before {
  content: "\e971";
}
.icon_br-alarm1:before {
  content: "\e972";
}
.icon_br-alarm-cancel:before {
  content: "\e973";
}
.icon_br-phone2:before {
  content: "\e974";
}
.icon_br-phone3:before {
  content: "\e975";
}
.icon_br-image1:before {
  content: "\e976";
}
.icon_br-open:before {
  content: "\e977";
}
.icon_br-sale:before {
  content: "\e978";
}
.icon_br-direction:before {
  content: "\e979";
}
.icon_br-map1:before {
  content: "\e97a";
}
.icon_br-trashcan:before {
  content: "\e97b";
}
.icon_br-vote:before {
  content: "\e97c";
}
.icon_br-graduate:before {
  content: "\e97d";
}
.icon_br-lab1:before {
  content: "\e97e";
}
.icon_br-tie:before {
  content: "\e97f";
}
.icon_br-football:before {
  content: "\e980";
}
.icon_br-eightball:before {
  content: "\e981";
}
.icon_br-bowling:before {
  content: "\e982";
}
.icon_br-bowlingpin:before {
  content: "\e983";
}
.icon_br-baseball:before {
  content: "\e984";
}
.icon_br-soccer:before {
  content: "\e985";
}
.icon_br-3dglasses:before {
  content: "\e986";
}
.icon_br-microwave:before {
  content: "\e987";
}
.icon_br-refrigerator:before {
  content: "\e988";
}
.icon_br-oven:before {
  content: "\e989";
}
.icon_br-washingmachine:before {
  content: "\e98a";
}
.icon_br-mouse:before {
  content: "\e98b";
}
.icon_br-smiley:before {
  content: "\e98c";
}
.icon_br-sad1:before {
  content: "\e98d";
}
.icon_br-mute:before {
  content: "\e98e";
}
.icon_br-hand:before {
  content: "\e98f";
}
.icon_br-radio:before {
  content: "\e990";
}
.icon_br-satellite:before {
  content: "\e991";
}
.icon_br-medal:before {
  content: "\e992";
}
.icon_br-medal1:before {
  content: "\e993";
}
.icon_br-switch1:before {
  content: "\e994";
}
.icon_br-key1:before {
  content: "\e995";
}
.icon_br-cord:before {
  content: "\e996";
}
.icon_br-locked:before {
  content: "\e997";
}
.icon_br-unlocked1:before {
  content: "\e998";
}
.icon_br-locked1:before {
  content: "\e999";
}
.icon_br-unlocked2:before {
  content: "\e99a";
}
.icon_br-magnifier:before {
  content: "\e99b";
}
.icon_br-zoomin:before {
  content: "\e99c";
}
.icon_br-zoomout:before {
  content: "\e99d";
}
.icon_br-stack1:before {
  content: "\e99e";
}
.icon_br-stack2:before {
  content: "\e99f";
}
.icon_br-stack3:before {
  content: "\e9a0";
}
.icon_br-davidstar:before {
  content: "\e9a1";
}
.icon_br-cross1:before {
  content: "\e9a2";
}
.icon_br-moonandstar:before {
  content: "\e9a3";
}
.icon_br-transformers:before {
  content: "\e9a4";
}
.icon_br-batman:before {
  content: "\e9a5";
}
.icon_br-spaceinvaders:before {
  content: "\e9a6";
}
.icon_br-skeletor:before {
  content: "\e9a7";
}
.icon_br-lamp:before {
  content: "\e9a8";
}
.icon_br-lamp1:before {
  content: "\e9a9";
}
.icon_br-umbrella:before {
  content: "\e9aa";
}
.icon_br-streetlight:before {
  content: "\e9ab";
}
.icon_br-bomb:before {
  content: "\e9ac";
}
.icon_br-archive:before {
  content: "\e9ad";
}
.icon_br-battery:before {
  content: "\e9ae";
}
.icon_br-battery1:before {
  content: "\e9af";
}
.icon_br-battery2:before {
  content: "\e9b0";
}
.icon_br-battery3:before {
  content: "\e9b1";
}
.icon_br-battery4:before {
  content: "\e9b2";
}
.icon_br-megaphone:before {
  content: "\e9b3";
}
.icon_br-megaphone1:before {
  content: "\e9b4";
}
.icon_br-patch:before {
  content: "\e9b5";
}
.icon_br-pil:before {
  content: "\e9b6";
}
.icon_br-injection:before {
  content: "\e9b7";
}
.icon_br-thermometer:before {
  content: "\e9b8";
}
.icon_br-lamp2:before {
  content: "\e9b9";
}
.icon_br-lamp3:before {
  content: "\e9ba";
}
.icon_br-lamp4:before {
  content: "\e9bb";
}
.icon_br-cube:before {
  content: "\e9bc";
}
.icon_br-box:before {
  content: "\e9bd";
}
.icon_br-box1:before {
  content: "\e9be";
}
.icon_br-diamond:before {
  content: "\e9bf";
}
.icon_br-bag:before {
  content: "\e9c0";
}
.icon_br-moneybag:before {
  content: "\e9c1";
}
.icon_br-grid:before {
  content: "\e9c2";
}
.icon_br-grid1:before {
  content: "\e9c3";
}
.icon_br-list1:before {
  content: "\e9c4";
}
.icon_br-list3:before {
  content: "\e9c5";
}
.icon_br-ruler:before {
  content: "\e9c6";
}
.icon_br-ruler1:before {
  content: "\e9c7";
}
.icon_br-layout:before {
  content: "\e9c8";
}
.icon_br-layout1:before {
  content: "\e9c9";
}
.icon_br-layout2:before {
  content: "\e9ca";
}
.icon_br-layout3:before {
  content: "\e9cb";
}
.icon_br-layout4:before {
  content: "\e9cc";
}
.icon_br-layout5:before {
  content: "\e9cd";
}
.icon_br-layout6:before {
  content: "\e9ce";
}
.icon_br-layout7:before {
  content: "\e9cf";
}
.icon_br-layout8:before {
  content: "\e9d0";
}
.icon_br-layout9:before {
  content: "\e9d1";
}
.icon_br-layout10:before {
  content: "\e9d2";
}
.icon_br-layout11:before {
  content: "\e9d3";
}
.icon_br-layout12:before {
  content: "\e9d4";
}
.icon_br-layout13:before {
  content: "\e9d5";
}
.icon_br-tools:before {
  content: "\e9d6";
}
.icon_br-screwdriver:before {
  content: "\e9d7";
}
.icon_br-paint:before {
  content: "\e9d8";
}
.icon_br-hammer1:before {
  content: "\e9d9";
}
.icon_br-brush:before {
  content: "\e9da";
}
.icon_br-pen1:before {
  content: "\e9db";
}
.icon_br-chat:before {
  content: "\e9dc";
}
.icon_br-comments:before {
  content: "\e9dd";
}
.icon_br-chat1:before {
  content: "\e9de";
}
.icon_br-chat2:before {
  content: "\e9df";
}
.icon_br-volume:before {
  content: "\e9e0";
}
.icon_br-volume1:before {
  content: "\e9e1";
}
.icon_br-volume2:before {
  content: "\e9e2";
}
.icon_br-equalizer1:before {
  content: "\e9e3";
}
.icon_br-resize:before {
  content: "\e9e4";
}
.icon_br-resize1:before {
  content: "\e9e5";
}
.icon_br-stretch:before {
  content: "\e9e6";
}
.icon_br-narrow:before {
  content: "\e9e7";
}
.icon_br-resize2:before {
  content: "\e9e8";
}
.icon_br-download5:before {
  content: "\e9e9";
}
.icon_br-calculator1:before {
  content: "\e9ea";
}
.icon_br-library1:before {
  content: "\e9eb";
}
.icon_br-auction:before {
  content: "\e9ec";
}
.icon_br-justice:before {
  content: "\e9ed";
}
.icon_br-stats:before {
  content: "\e9ee";
}
.icon_br-stats1:before {
  content: "\e9ef";
}
.icon_br-attachment1:before {
  content: "\e9f0";
}
.icon_br-hourglass:before {
  content: "\e9f1";
}
.icon_br-abacus:before {
  content: "\e9f2";
}
.icon_br-pencil1:before {
  content: "\e9f3";
}
.icon_br-pen2:before {
  content: "\e9f4";
}
.icon_br-pin:before {
  content: "\e9f5";
}
.icon_br-pin1:before {
  content: "\e9f6";
}
.icon_br-discout:before {
  content: "\e9f7";
}
.icon_br-edit:before {
  content: "\e9f8";
}
.icon_br-scissors1:before {
  content: "\e9f9";
}
.icon_br-profile1:before {
  content: "\e9fa";
}
.icon_br-profile2:before {
  content: "\e9fb";
}
.icon_br-profile3:before {
  content: "\e9fc";
}
.icon_br-rotate:before {
  content: "\e9fd";
}
.icon_br-rotate1:before {
  content: "\e9fe";
}
.icon_br-reply1:before {
  content: "\e9ff";
}
.icon_br-forward1:before {
  content: "\ea00";
}
.icon_br-retweet:before {
  content: "\ea01";
}
.icon_br-shuffle1:before {
  content: "\ea02";
}
.icon_br-loop1:before {
  content: "\ea03";
}
.icon_br-crop1:before {
  content: "\ea04";
}
.icon_br-square:before {
  content: "\ea05";
}
.icon_br-square1:before {
  content: "\ea06";
}
.icon_br-circle:before {
  content: "\ea07";
}
.icon_br-dollar:before {
  content: "\ea08";
}
.icon_br-dollar1:before {
  content: "\ea09";
}
.icon_br-coins:before {
  content: "\ea0a";
}
.icon_br-pig:before {
  content: "\ea0b";
}
.icon_br-bookmark1:before {
  content: "\ea0c";
}
.icon_br-bookmark2:before {
  content: "\ea0d";
}
.icon_br-addressbook:before {
  content: "\ea0e";
}
.icon_br-addressbook1:before {
  content: "\ea0f";
}
.icon_br-safe:before {
  content: "\ea10";
}
.icon_br-envelope:before {
  content: "\ea11";
}
.icon_br-envelope1:before {
  content: "\ea12";
}
.icon_br-radioactive:before {
  content: "\ea13";
}
.icon_br-music1:before {
  content: "\ea14";
}
.icon_br-presentation:before {
  content: "\ea15";
}
.icon_br-male:before {
  content: "\ea16";
}
.icon_br-female:before {
  content: "\ea17";
}
.icon_br-aids:before {
  content: "\ea18";
}
.icon_br-heart1:before {
  content: "\ea19";
}
.icon_br-info1:before {
  content: "\ea1a";
}
.icon_br-info2:before {
  content: "\ea1b";
}
.icon_br-piano:before {
  content: "\ea1c";
}
.icon_br-rain:before {
  content: "\ea1d";
}
.icon_br-snow:before {
  content: "\ea1e";
}
.icon_br-lightning:before {
  content: "\ea1f";
}
.icon_br-sun1:before {
  content: "\ea20";
}
.icon_br-moon:before {
  content: "\ea21";
}
.icon_br-cloudy:before {
  content: "\ea22";
}
.icon_br-cloudy1:before {
  content: "\ea23";
}
.icon_br-car:before {
  content: "\ea24";
}
.icon_br-bike:before {
  content: "\ea25";
}
.icon_br-truck1:before {
  content: "\ea26";
}
.icon_br-bus:before {
  content: "\ea27";
}
.icon_br-bike1:before {
  content: "\ea28";
}
.icon_br-plane:before {
  content: "\ea29";
}
.icon_br-paperplane:before {
  content: "\ea2a";
}
.icon_br-rocket1:before {
  content: "\ea2b";
}
.icon_br-book1:before {
  content: "\ea2c";
}
.icon_br-book2:before {
  content: "\ea2d";
}
.icon_br-barcode1:before {
  content: "\ea2e";
}
.icon_br-barcode2:before {
  content: "\ea2f";
}
.icon_br-expand:before {
  content: "\ea30";
}
.icon_br-collapse:before {
  content: "\ea31";
}
.icon_br-popout:before {
  content: "\ea32";
}
.icon_br-popin:before {
  content: "\ea33";
}
.icon_br-target1:before {
  content: "\ea34";
}
.icon_br-badge:before {
  content: "\ea35";
}
.icon_br-badge1:before {
  content: "\ea36";
}
.icon_br-ticket1:before {
  content: "\ea37";
}
.icon_br-ticket2:before {
  content: "\ea38";
}
.icon_br-ticket3:before {
  content: "\ea39";
}
.icon_br-microphone3:before {
  content: "\ea3a";
}
.icon_br-cone:before {
  content: "\ea3b";
}
.icon_br-blocked1:before {
  content: "\ea3c";
}
.icon_br-stop1:before {
  content: "\ea3d";
}
.icon_br-keyboard1:before {
  content: "\ea3e";
}
.icon_br-keyboard2:before {
  content: "\ea3f";
}
.icon_br-radio1:before {
  content: "\ea40";
}
.icon_br-printer1:before {
  content: "\ea41";
}
.icon_br-checked:before {
  content: "\ea42";
}
.icon_br-error:before {
  content: "\ea43";
}
.icon_br-add:before {
  content: "\ea44";
}
.icon_br-minus3:before {
  content: "\ea45";
}
.icon_br-alert:before {
  content: "\ea46";
}
.icon_br-pictures2:before {
  content: "\ea47";
}
.icon_br-atom:before {
  content: "\ea48";
}
.icon_br-eyedropper1:before {
  content: "\ea49";
}
.icon_br-globe:before {
  content: "\ea4a";
}
.icon_br-globe1:before {
  content: "\ea4b";
}
.icon_br-shipping:before {
  content: "\ea4c";
}
.icon_br-yingyang:before {
  content: "\ea4d";
}
.icon_br-compass1:before {
  content: "\ea4e";
}
.icon_br-zip:before {
  content: "\ea4f";
}
.icon_br-zip1:before {
  content: "\ea50";
}
.icon_br-anchor:before {
  content: "\ea51";
}
.icon_br-lockedheart:before {
  content: "\ea52";
}
.icon_br-magnet1:before {
  content: "\ea53";
}
.icon_br-navigation:before {
  content: "\ea54";
}
.icon_br-tags:before {
  content: "\ea55";
}
.icon_br-heart2:before {
  content: "\ea56";
}
.icon_br-heart3:before {
  content: "\ea57";
}
.icon_br-usb:before {
  content: "\ea58";
}
.icon_br-clipboard1:before {
  content: "\ea59";
}
.icon_br-clipboard2:before {
  content: "\ea5a";
}
.icon_br-clipboard3:before {
  content: "\ea5b";
}
.icon_br-switch2:before {
  content: "\ea5c";
}
.icon_br-ruler2:before {
  content: "\ea5d";
}
.icon_br-home:before {
  content: "\ea5e";
}
.icon_br-home2:before {
  content: "\ea5f";
}
.icon_br-home3:before {
  content: "\ea60";
}
.icon_br-office:before {
  content: "\ea61";
}
.icon_br-newspaper:before {
  content: "\ea62";
}
.icon_br-pencil:before {
  content: "\ea63";
}
.icon_br-pencil2:before {
  content: "\ea64";
}
.icon_br-quill:before {
  content: "\ea65";
}
.icon_br-pen:before {
  content: "\ea66";
}
.icon_br-blog:before {
  content: "\ea67";
}
.icon_br-eyedropper:before {
  content: "\ea68";
}
.icon_br-droplet:before {
  content: "\ea69";
}
.icon_br-paint-format:before {
  content: "\ea6a";
}
.icon_br-image:before {
  content: "\ea6b";
}
.icon_br-images:before {
  content: "\ea6c";
}
.icon_br-camera:before {
  content: "\ea6d";
}
.icon_br-headphones:before {
  content: "\ea6e";
}
.icon_br-music:before {
  content: "\ea6f";
}
.icon_br-play:before {
  content: "\ea70";
}
.icon_br-film:before {
  content: "\ea71";
}
.icon_br-video-camera:before {
  content: "\ea72";
}
.icon_br-dice:before {
  content: "\ea73";
}
.icon_br-pacman:before {
  content: "\ea74";
}
.icon_br-spades:before {
  content: "\ea75";
}
.icon_br-clubs:before {
  content: "\ea76";
}
.icon_br-diamonds:before {
  content: "\ea77";
}
.icon_br-bullhorn:before {
  content: "\ea78";
}
.icon_br-connection:before {
  content: "\ea79";
}
.icon_br-podcast:before {
  content: "\ea7a";
}
.icon_br-feed:before {
  content: "\ea7b";
}
.icon_br-mic:before {
  content: "\ea7c";
}
.icon_br-book:before {
  content: "\ea7d";
}
.icon_br-books:before {
  content: "\ea7e";
}
.icon_br-library:before {
  content: "\ea7f";
}
.icon_br-file-text:before {
  content: "\ea80";
}
.icon_br-profile:before {
  content: "\ea81";
}
.icon_br-file-empty:before {
  content: "\ea82";
}
.icon_br-files-empty:before {
  content: "\ea83";
}
.icon_br-file-text2:before {
  content: "\ea84";
}
.icon_br-file-picture:before {
  content: "\ea85";
}
.icon_br-file-music:before {
  content: "\ea86";
}
.icon_br-file-play:before {
  content: "\ea87";
}
.icon_br-file-video:before {
  content: "\ea88";
}
.icon_br-file-zip:before {
  content: "\ea89";
}
.icon_br-copy:before {
  content: "\ea8a";
}
.icon_br-paste:before {
  content: "\ea8b";
}
.icon_br-stack:before {
  content: "\ea8c";
}
.icon_br-folder:before {
  content: "\ea8d";
}
.icon_br-folder-open:before {
  content: "\ea8e";
}
.icon_br-folder-plus:before {
  content: "\ea8f";
}
.icon_br-folder-minus:before {
  content: "\ea90";
}
.icon_br-folder-download:before {
  content: "\ea91";
}
.icon_br-folder-upload:before {
  content: "\ea92";
}
.icon_br-price-tag:before {
  content: "\ea93";
}
.icon_br-price-tags:before {
  content: "\ea94";
}
.icon_br-barcode:before {
  content: "\ea95";
}
.icon_br-qrcode:before {
  content: "\ea96";
}
.icon_br-ticket:before {
  content: "\ea97";
}
.icon_br-cart:before {
  content: "\ea98";
}
.icon_br-coin-dollar:before {
  content: "\ea99";
}
.icon_br-coin-euro:before {
  content: "\ea9a";
}
.icon_br-coin-pound:before {
  content: "\ea9b";
}
.icon_br-coin-yen:before {
  content: "\ea9c";
}
.icon_br-credit-card:before {
  content: "\ea9d";
}
.icon_br-calculator:before {
  content: "\ea9e";
}
.icon_br-lifebuoy:before {
  content: "\ea9f";
}
.icon_br-phone:before {
  content: "\eaa0";
}
.icon_br-phone-hang-up:before {
  content: "\eaa1";
}
.icon_br-address-book:before {
  content: "\eaa2";
}
.icon_br-envelop:before {
  content: "\eaa3";
}
.icon_br-pushpin:before {
  content: "\eaa4";
}
.icon_br-location:before {
  content: "\eaa5";
}
.icon_br-location2:before {
  content: "\eaa6";
}
.icon_br-compass:before {
  content: "\eaa7";
}
.icon_br-compass2:before {
  content: "\eaa8";
}
.icon_br-map:before {
  content: "\eaa9";
}
.icon_br-map2:before {
  content: "\eaaa";
}
.icon_br-history:before {
  content: "\eaab";
}
.icon_br-clock:before {
  content: "\eaac";
}
.icon_br-clock2:before {
  content: "\eaad";
}
.icon_br-alarm:before {
  content: "\eaae";
}
.icon_br-bell:before {
  content: "\eaaf";
}
.icon_br-stopwatch:before {
  content: "\eab0";
}
.icon_br-calendar:before {
  content: "\eab1";
}
.icon_br-printer:before {
  content: "\eab2";
}
.icon_br-keyboard:before {
  content: "\eab3";
}
.icon_br-display:before {
  content: "\eab4";
}
.icon_br-laptop:before {
  content: "\eab5";
}
.icon_br-mobile:before {
  content: "\eab6";
}
.icon_br-mobile2:before {
  content: "\eab7";
}
.icon_br-tablet:before {
  content: "\eab8";
}
.icon_br-tv:before {
  content: "\eab9";
}
.icon_br-drawer:before {
  content: "\eaba";
}
.icon_br-drawer2:before {
  content: "\eabb";
}
.icon_br-box-add:before {
  content: "\eabc";
}
.icon_br-box-remove:before {
  content: "\eabd";
}
.icon_br-download:before {
  content: "\eabe";
}
.icon_br-upload:before {
  content: "\eabf";
}
.icon_br-floppy-disk:before {
  content: "\eac0";
}
.icon_br-drive:before {
  content: "\eac1";
}
.icon_br-database:before {
  content: "\eac2";
}
.icon_br-undo:before {
  content: "\eac3";
}
.icon_br-redo:before {
  content: "\eac4";
}
.icon_br-undo2:before {
  content: "\eac5";
}
.icon_br-redo2:before {
  content: "\eac6";
}
.icon_br-forward:before {
  content: "\eac7";
}
.icon_br-reply:before {
  content: "\eac8";
}
.icon_br-bubble:before {
  content: "\eac9";
}
.icon_br-bubbles:before {
  content: "\eaca";
}
.icon_br-bubbles2:before {
  content: "\eacb";
}
.icon_br-bubble2:before {
  content: "\eacc";
}
.icon_br-bubbles3:before {
  content: "\eacd";
}
.icon_br-bubbles4:before {
  content: "\eace";
}
.icon_br-user:before {
  content: "\eacf";
}
.icon_br-users:before {
  content: "\ead0";
}
.icon_br-user-plus:before {
  content: "\ead1";
}
.icon_br-user-minus:before {
  content: "\ead2";
}
.icon_br-user-check:before {
  content: "\ead3";
}
.icon_br-user-tie:before {
  content: "\ead4";
}
.icon_br-quotes-left:before {
  content: "\ead5";
}
.icon_br-quotes-right:before {
  content: "\ead6";
}
.icon_br-hour-glass:before {
  content: "\ead7";
}
.icon_br-spinner:before {
  content: "\ead8";
}
.icon_br-spinner2:before {
  content: "\ead9";
}
.icon_br-spinner3:before {
  content: "\eada";
}
.icon_br-spinner4:before {
  content: "\eadb";
}
.icon_br-spinner5:before {
  content: "\eadc";
}
.icon_br-spinner6:before {
  content: "\eadd";
}
.icon_br-spinner7:before {
  content: "\eade";
}
.icon_br-spinner8:before {
  content: "\eadf";
}
.icon_br-spinner9:before {
  content: "\eae0";
}
.icon_br-spinner10:before {
  content: "\eae1";
}
.icon_br-spinner11:before {
  content: "\eae2";
}
.icon_br-binoculars:before {
  content: "\eae3";
}
.icon_br-search:before {
  content: "\eae4";
}
.icon_br-zoom-in:before {
  content: "\eae5";
}
.icon_br-zoom-out:before {
  content: "\eae6";
}
.icon_br-enlarge:before {
  content: "\eae7";
}
.icon_br-shrink:before {
  content: "\eae8";
}
.icon_br-enlarge2:before {
  content: "\eae9";
}
.icon_br-shrink2:before {
  content: "\eaea";
}
.icon_br-key:before {
  content: "\eaeb";
}
.icon_br-key2:before {
  content: "\eaec";
}
.icon_br-lock:before {
  content: "\eaed";
}
.icon_br-unlocked:before {
  content: "\eaee";
}
.icon_br-wrench:before {
  content: "\eaef";
}
.icon_br-equalizer:before {
  content: "\eaf0";
}
.icon_br-equalizer2:before {
  content: "\eaf1";
}
.icon_br-cog:before {
  content: "\eaf2";
}
.icon_br-cogs:before {
  content: "\eaf3";
}
.icon_br-hammer:before {
  content: "\eaf4";
}
.icon_br-magic-wand:before {
  content: "\eaf5";
}
.icon_br-aid-kit:before {
  content: "\eaf6";
}
.icon_br-bug:before {
  content: "\eaf7";
}
.icon_br-pie-chart:before {
  content: "\eaf8";
}
.icon_br-stats-dots:before {
  content: "\eaf9";
}
.icon_br-stats-bars:before {
  content: "\eafa";
}
.icon_br-stats-bars2:before {
  content: "\eafb";
}
.icon_br-trophy:before {
  content: "\eafc";
}
.icon_br-gift:before {
  content: "\eafd";
}
.icon_br-glass:before {
  content: "\eafe";
}
.icon_br-glass2:before {
  content: "\eaff";
}
.icon_br-mug:before {
  content: "\eb00";
}
.icon_br-spoon-knife:before {
  content: "\eb01";
}
.icon_br-leaf:before {
  content: "\eb02";
}
.icon_br-rocket:before {
  content: "\eb03";
}
.icon_br-meter:before {
  content: "\eb04";
}
.icon_br-meter2:before {
  content: "\eb05";
}
.icon_br-hammer2:before {
  content: "\eb06";
}
.icon_br-fire:before {
  content: "\eb07";
}
.icon_br-lab:before {
  content: "\eb08";
}
.icon_br-magnet:before {
  content: "\eb09";
}
.icon_br-bin:before {
  content: "\eb0a";
}
.icon_br-bin2:before {
  content: "\eb0b";
}
.icon_br-briefcase:before {
  content: "\eb0c";
}
.icon_br-airplane:before {
  content: "\eb0d";
}
.icon_br-truck:before {
  content: "\eb0e";
}
.icon_br-road:before {
  content: "\eb0f";
}
.icon_br-accessibility:before {
  content: "\eb10";
}
.icon_br-target:before {
  content: "\eb11";
}
.icon_br-shield:before {
  content: "\eb12";
}
.icon_br-power:before {
  content: "\eb13";
}
.icon_br-switch:before {
  content: "\eb14";
}
.icon_br-power-cord:before {
  content: "\eb15";
}
.icon_br-clipboard:before {
  content: "\eb16";
}
.icon_br-list-numbered:before {
  content: "\eb17";
}
.icon_br-list:before {
  content: "\eb18";
}
.icon_br-list2:before {
  content: "\eb19";
}
.icon_br-tree:before {
  content: "\eb1a";
}
.icon_br-menu:before {
  content: "\eb1b";
}
.icon_br-menu2:before {
  content: "\eb1c";
}
.icon_br-menu3:before {
  content: "\eb1d";
}
.icon_br-menu4:before {
  content: "\eb1e";
}
.icon_br-cloud:before {
  content: "\eb1f";
}
.icon_br-cloud-download:before {
  content: "\eb20";
}
.icon_br-cloud-upload:before {
  content: "\eb21";
}
.icon_br-cloud-check:before {
  content: "\eb22";
}
.icon_br-download2:before {
  content: "\eb23";
}
.icon_br-upload2:before {
  content: "\eb24";
}
.icon_br-download3:before {
  content: "\eb25";
}
.icon_br-upload3:before {
  content: "\eb26";
}
.icon_br-sphere:before {
  content: "\eb27";
}
.icon_br-earth:before {
  content: "\eb28";
}
.icon_br-link:before {
  content: "\eb29";
}
.icon_br-flag:before {
  content: "\eb2a";
}
.icon_br-attachment:before {
  content: "\eb2b";
}
.icon_br-eye:before {
  content: "\eb2c";
}
.icon_br-eye-plus:before {
  content: "\eb2d";
}
.icon_br-eye-minus:before {
  content: "\eb2e";
}
.icon_br-eye-blocked:before {
  content: "\eb2f";
}
.icon_br-bookmark:before {
  content: "\eb30";
}
.icon_br-bookmarks:before {
  content: "\eb31";
}
.icon_br-sun:before {
  content: "\eb32";
}
.icon_br-contrast:before {
  content: "\eb33";
}
.icon_br-brightness-contrast:before {
  content: "\eb34";
}
.icon_br-star-empty:before {
  content: "\eb35";
}
.icon_br-star-half:before {
  content: "\eb36";
}
.icon_br-star-full:before {
  content: "\eb37";
}
.icon_br-heart:before {
  content: "\eb38";
}
.icon_br-heart-broken:before {
  content: "\eb39";
}
.icon_br-man:before {
  content: "\eb3a";
}
.icon_br-woman:before {
  content: "\eb3b";
}
.icon_br-man-woman:before {
  content: "\eb3c";
}
.icon_br-happy:before {
  content: "\eb3d";
}
.icon_br-happy2:before {
  content: "\eb3e";
}
.icon_br-smile:before {
  content: "\eb3f";
}
.icon_br-smile2:before {
  content: "\eb40";
}
.icon_br-tongue:before {
  content: "\eb41";
}
.icon_br-tongue2:before {
  content: "\eb42";
}
.icon_br-sad:before {
  content: "\eb43";
}
.icon_br-sad2:before {
  content: "\eb44";
}
.icon_br-wink:before {
  content: "\eb45";
}
.icon_br-wink2:before {
  content: "\eb46";
}
.icon_br-grin:before {
  content: "\eb47";
}
.icon_br-grin2:before {
  content: "\eb48";
}
.icon_br-cool:before {
  content: "\eb49";
}
.icon_br-cool2:before {
  content: "\eb4a";
}
.icon_br-angry:before {
  content: "\eb4b";
}
.icon_br-angry2:before {
  content: "\eb4c";
}
.icon_br-evil:before {
  content: "\eb4d";
}
.icon_br-evil2:before {
  content: "\eb4e";
}
.icon_br-shocked:before {
  content: "\eb4f";
}
.icon_br-shocked2:before {
  content: "\eb50";
}
.icon_br-baffled:before {
  content: "\eb51";
}
.icon_br-baffled2:before {
  content: "\eb52";
}
.icon_br-confused:before {
  content: "\eb53";
}
.icon_br-confused2:before {
  content: "\eb54";
}
.icon_br-neutral:before {
  content: "\eb55";
}
.icon_br-neutral2:before {
  content: "\eb56";
}
.icon_br-hipster:before {
  content: "\eb57";
}
.icon_br-hipster2:before {
  content: "\eb58";
}
.icon_br-wondering:before {
  content: "\eb59";
}
.icon_br-wondering2:before {
  content: "\eb5a";
}
.icon_br-sleepy:before {
  content: "\eb5b";
}
.icon_br-sleepy2:before {
  content: "\eb5c";
}
.icon_br-frustrated:before {
  content: "\eb5d";
}
.icon_br-frustrated2:before {
  content: "\eb5e";
}
.icon_br-crying:before {
  content: "\eb5f";
}
.icon_br-crying2:before {
  content: "\eb60";
}
.icon_br-point-up:before {
  content: "\eb61";
}
.icon_br-point-right:before {
  content: "\eb62";
}
.icon_br-point-down:before {
  content: "\eb63";
}
.icon_br-point-left:before {
  content: "\eb64";
}
.icon_br-warning:before {
  content: "\eb65";
}
.icon_br-notification:before {
  content: "\eb66";
}
.icon_br-question:before {
  content: "\eb67";
}
.icon_br-plus:before {
  content: "\eb68";
}
.icon_br-minus:before {
  content: "\eb69";
}
.icon_br-info:before {
  content: "\eb6a";
}
.icon_br-cancel-circle:before {
  content: "\eb6b";
}
.icon_br-blocked:before {
  content: "\eb6c";
}
.icon_br-cross:before {
  content: "\eb6d";
}
.icon_br-checkmark:before {
  content: "\eb6e";
}
.icon_br-checkmark2:before {
  content: "\eb6f";
}
.icon_br-spell-check:before {
  content: "\eb70";
}
.icon_br-enter:before {
  content: "\eb71";
}
.icon_br-exit:before {
  content: "\eb72";
}
.icon_br-play2:before {
  content: "\eb73";
}
.icon_br-pause:before {
  content: "\eb74";
}
.icon_br-stop:before {
  content: "\eb75";
}
.icon_br-previous:before {
  content: "\eb76";
}
.icon_br-next:before {
  content: "\eb77";
}
.icon_br-backward:before {
  content: "\eb78";
}
.icon_br-forward2:before {
  content: "\eb79";
}
.icon_br-play3:before {
  content: "\eb7a";
}
.icon_br-pause2:before {
  content: "\eb7b";
}
.icon_br-stop2:before {
  content: "\eb7c";
}
.icon_br-backward2:before {
  content: "\eb7d";
}
.icon_br-forward3:before {
  content: "\eb7e";
}
.icon_br-first:before {
  content: "\eb7f";
}
.icon_br-last:before {
  content: "\eb80";
}
.icon_br-previous2:before {
  content: "\eb81";
}
.icon_br-next2:before {
  content: "\eb82";
}
.icon_br-eject:before {
  content: "\eb83";
}
.icon_br-volume-high:before {
  content: "\eb84";
}
.icon_br-volume-medium:before {
  content: "\eb85";
}
.icon_br-volume-low:before {
  content: "\eb86";
}
.icon_br-volume-mute:before {
  content: "\eb87";
}
.icon_br-volume-mute2:before {
  content: "\eb88";
}
.icon_br-volume-increase:before {
  content: "\eb89";
}
.icon_br-volume-decrease:before {
  content: "\eb8a";
}
.icon_br-loop:before {
  content: "\eb8b";
}
.icon_br-loop2:before {
  content: "\eb8c";
}
.icon_br-infinite:before {
  content: "\eb8d";
}
.icon_br-shuffle:before {
  content: "\eb8e";
}
.icon_br-arrow-up-left:before {
  content: "\eb8f";
}
.icon_br-arrow-up:before {
  content: "\eb90";
}
.icon_br-arrow-up-right:before {
  content: "\eb91";
}
.icon_br-arrow-right:before {
  content: "\eb92";
}
.icon_br-arrow-down-right:before {
  content: "\eb93";
}
.icon_br-arrow-down:before {
  content: "\eb94";
}
.icon_br-arrow-down-left:before {
  content: "\eb95";
}
.icon_br-arrow-left:before {
  content: "\eb96";
}
.icon_br-arrow-up-left2:before {
  content: "\eb97";
}
.icon_br-arrow-up2:before {
  content: "\eb98";
}
.icon_br-arrow-up-right2:before {
  content: "\eb99";
}
.icon_br-arrow-right2:before {
  content: "\eb9a";
}
.icon_br-arrow-down-right2:before {
  content: "\eb9b";
}
.icon_br-arrow-down2:before {
  content: "\eb9c";
}
.icon_br-arrow-down-left2:before {
  content: "\eb9d";
}
.icon_br-arrow-left2:before {
  content: "\eb9e";
}
.icon_br-circle-up:before {
  content: "\eb9f";
}
.icon_br-circle-right:before {
  content: "\eba0";
}
.icon_br-circle-down:before {
  content: "\eba1";
}
.icon_br-circle-left:before {
  content: "\eba2";
}
.icon_br-tab:before {
  content: "\eba3";
}
.icon_br-move-up:before {
  content: "\eba4";
}
.icon_br-move-down:before {
  content: "\eba5";
}
.icon_br-sort-alpha-asc:before {
  content: "\eba6";
}
.icon_br-sort-alpha-desc:before {
  content: "\eba7";
}
.icon_br-sort-numeric-asc:before {
  content: "\eba8";
}
.icon_br-sort-numberic-desc:before {
  content: "\eba9";
}
.icon_br-sort-amount-asc:before {
  content: "\ebaa";
}
.icon_br-sort-amount-desc:before {
  content: "\ebab";
}
.icon_br-command:before {
  content: "\ebac";
}
.icon_br-shift:before {
  content: "\ebad";
}
.icon_br-ctrl:before {
  content: "\ebae";
}
.icon_br-opt:before {
  content: "\ebaf";
}
.icon_br-checkbox-checked:before {
  content: "\ebb0";
}
.icon_br-checkbox-unchecked:before {
  content: "\ebb1";
}
.icon_br-radio-checked:before {
  content: "\ebb2";
}
.icon_br-radio-checked2:before {
  content: "\ebb3";
}
.icon_br-radio-unchecked:before {
  content: "\ebb4";
}
.icon_br-crop:before {
  content: "\ebb5";
}
.icon_br-make-group:before {
  content: "\ebb6";
}
.icon_br-ungroup:before {
  content: "\ebb7";
}
.icon_br-scissors:before {
  content: "\ebb8";
}
.icon_br-filter:before {
  content: "\ebb9";
}
.icon_br-font:before {
  content: "\ebba";
}
.icon_br-ligature:before {
  content: "\ebbb";
}
.icon_br-ligature2:before {
  content: "\ebbc";
}
.icon_br-text-height:before {
  content: "\ebbd";
}
.icon_br-text-width:before {
  content: "\ebbe";
}
.icon_br-font-size:before {
  content: "\ebbf";
}
.icon_br-bold:before {
  content: "\ebc0";
}
.icon_br-underline:before {
  content: "\ebc1";
}
.icon_br-italic:before {
  content: "\ebc2";
}
.icon_br-strikethrough:before {
  content: "\ebc3";
}
.icon_br-omega:before {
  content: "\ebc4";
}
.icon_br-sigma:before {
  content: "\ebc5";
}
.icon_br-page-break:before {
  content: "\ebc6";
}
.icon_br-superscript:before {
  content: "\ebc7";
}
.icon_br-subscript:before {
  content: "\ebc8";
}
.icon_br-superscript2:before {
  content: "\ebc9";
}
.icon_br-subscript2:before {
  content: "\ebca";
}
.icon_br-text-color:before {
  content: "\ebcb";
}
.icon_br-pagebreak:before {
  content: "\ebcc";
}
.icon_br-clear-formatting:before {
  content: "\ebcd";
}
.icon_br-table:before {
  content: "\ebce";
}
.icon_br-table2:before {
  content: "\ebcf";
}
.icon_br-insert-template:before {
  content: "\ebd0";
}
.icon_br-pilcrow:before {
  content: "\ebd1";
}
.icon_br-ltr:before {
  content: "\ebd2";
}
.icon_br-rtl:before {
  content: "\ebd3";
}
.icon_br-section:before {
  content: "\ebd4";
}
.icon_br-paragraph-left:before {
  content: "\ebd5";
}
.icon_br-paragraph-center:before {
  content: "\ebd6";
}
.icon_br-paragraph-right:before {
  content: "\ebd7";
}
.icon_br-paragraph-justify:before {
  content: "\ebd8";
}
.icon_br-indent-increase:before {
  content: "\ebd9";
}
.icon_br-indent-decrease:before {
  content: "\ebda";
}
.icon_br-share:before {
  content: "\ebdb";
}
.icon_br-new-tab:before {
  content: "\ebdc";
}
.icon_br-embed:before {
  content: "\ebdd";
}
.icon_br-embed2:before {
  content: "\ebde";
}
.icon_br-terminal:before {
  content: "\ebdf";
}
.icon_br-share2:before {
  content: "\ebe0";
}
.icon_br-mail:before {
  content: "\ebe1";
}
.icon_br-mail2:before {
  content: "\ebe2";
}
.icon_br-mail3:before {
  content: "\ebe3";
}
.icon_br-mail4:before {
  content: "\ebe4";
}
.icon_br-amazon:before {
  content: "\ebe5";
}
.icon_br-google:before {
  content: "\ebe6";
}
.icon_br-google2:before {
  content: "\ebe7";
}
.icon_br-google3:before {
  content: "\ebe8";
}
.icon_br-google-plus:before {
  content: "\ebe9";
}
.icon_br-google-plus2:before {
  content: "\ebea";
}
.icon_br-google-plus3:before {
  content: "\ebeb";
}
.icon_br-hangouts:before {
  content: "\ebec";
}
.icon_br-google-drive:before {
  content: "\ebed";
}
.icon_br-facebook:before {
  content: "\ebee";
}
.icon_br-facebook2:before {
  content: "\ebef";
}
.icon_br-instagram:before {
  content: "\ebf0";
}
.icon_br-whatsapp:before {
  content: "\ebf1";
}
.icon_br-spotify:before {
  content: "\ebf2";
}
.icon_br-telegram:before {
  content: "\ebf3";
}
.icon_br-twitter:before {
  content: "\ebf4";
}
.icon_br-vine:before {
  content: "\ebf5";
}
.icon_br-vk:before {
  content: "\ebf6";
}
.icon_br-renren:before {
  content: "\ebf7";
}
.icon_br-sina-weibo:before {
  content: "\ebf8";
}
.icon_br-rss:before {
  content: "\ebf9";
}
.icon_br-rss2:before {
  content: "\ebfa";
}
.icon_br-youtube:before {
  content: "\ebfb";
}
.icon_br-youtube2:before {
  content: "\ebfc";
}
.icon_br-twitch:before {
  content: "\ebfd";
}
.icon_br-vimeo:before {
  content: "\ebfe";
}
.icon_br-vimeo2:before {
  content: "\ebff";
}
.icon_br-lanyrd:before {
  content: "\ec00";
}
.icon_br-flickr:before {
  content: "\ec01";
}
.icon_br-flickr2:before {
  content: "\ec02";
}
.icon_br-flickr3:before {
  content: "\ec03";
}
.icon_br-flickr4:before {
  content: "\ec04";
}
.icon_br-dribbble:before {
  content: "\ec05";
}
.icon_br-behance:before {
  content: "\ec06";
}
.icon_br-behance2:before {
  content: "\ec07";
}
.icon_br-deviantart:before {
  content: "\ec08";
}
.icon_br-500px:before {
  content: "\ec09";
}
.icon_br-steam:before {
  content: "\ec0a";
}
.icon_br-steam2:before {
  content: "\ec0b";
}
.icon_br-dropbox:before {
  content: "\ec0c";
}
.icon_br-onedrive:before {
  content: "\ec0d";
}
.icon_br-github:before {
  content: "\ec0e";
}
.icon_br-npm:before {
  content: "\ec0f";
}
.icon_br-basecamp:before {
  content: "\ec10";
}
.icon_br-trello:before {
  content: "\ec11";
}
.icon_br-wordpress:before {
  content: "\ec12";
}
.icon_br-joomla:before {
  content: "\ec13";
}
.icon_br-ello:before {
  content: "\ec14";
}
.icon_br-blogger:before {
  content: "\ec15";
}
.icon_br-blogger2:before {
  content: "\ec16";
}
.icon_br-tumblr:before {
  content: "\ec17";
}
.icon_br-tumblr2:before {
  content: "\ec18";
}
.icon_br-yahoo:before {
  content: "\ec19";
}
.icon_br-yahoo2:before {
  content: "\ec1a";
}
.icon_br-tux:before {
  content: "\ec1b";
}
.icon_br-appleinc:before {
  content: "\ec1c";
}
.icon_br-finder:before {
  content: "\ec1d";
}
.icon_br-android:before {
  content: "\ec1e";
}
.icon_br-windows:before {
  content: "\ec1f";
}
.icon_br-windows8:before {
  content: "\ec20";
}
.icon_br-soundcloud:before {
  content: "\ec21";
}
.icon_br-soundcloud2:before {
  content: "\ec22";
}
.icon_br-skype:before {
  content: "\ec23";
}
.icon_br-reddit:before {
  content: "\ec24";
}
.icon_br-hackernews:before {
  content: "\ec25";
}
.icon_br-wikipedia:before {
  content: "\ec26";
}
.icon_br-linkedin:before {
  content: "\ec27";
}
.icon_br-linkedin2:before {
  content: "\ec28";
}
.icon_br-lastfm:before {
  content: "\ec29";
}
.icon_br-lastfm2:before {
  content: "\ec2a";
}
.icon_br-delicious:before {
  content: "\ec2b";
}
.icon_br-stumbleupon:before {
  content: "\ec2c";
}
.icon_br-stumbleupon2:before {
  content: "\ec2d";
}
.icon_br-stackoverflow:before {
  content: "\ec2e";
}
.icon_br-pinterest:before {
  content: "\ec2f";
}
.icon_br-pinterest2:before {
  content: "\ec30";
}
.icon_br-xing:before {
  content: "\ec31";
}
.icon_br-xing2:before {
  content: "\ec32";
}
.icon_br-flattr:before {
  content: "\ec33";
}
.icon_br-foursquare:before {
  content: "\ec34";
}
.icon_br-yelp:before {
  content: "\ec35";
}
.icon_br-paypal:before {
  content: "\ec36";
}
.icon_br-chrome:before {
  content: "\ec37";
}
.icon_br-firefox:before {
  content: "\ec38";
}
.icon_br-IE:before {
  content: "\ec39";
}
.icon_br-edge:before {
  content: "\ec3a";
}
.icon_br-safari:before {
  content: "\ec3b";
}
.icon_br-opera:before {
  content: "\ec3c";
}
.icon_br-file-pdf:before {
  content: "\ec3d";
}
.icon_br-file-openoffice:before {
  content: "\ec3e";
}
.icon_br-file-word:before {
  content: "\ec3f";
}
.icon_br-file-excel:before {
  content: "\ec40";
}
.icon_br-libreoffice:before {
  content: "\ec41";
}
.icon_br-html-five:before {
  content: "\ec42";
}
.icon_br-html-five2:before {
  content: "\ec43";
}
.icon_br-css3:before {
  content: "\ec44";
}
.icon_br-git:before {
  content: "\ec45";
}
.icon_br-codepen:before {
  content: "\ec46";
}
.icon_br-svg:before {
  content: "\ec47";
}
.icon_br-IcoMoon:before {
  content: "\ec48";
}
.icon_br-icon-couple:before {
  content: "\ec49";
}
.icon_br-icon-pockey:before {
  content: "\ec4a";
}
.icon_br-icon-dish:before {
  content: "\ec4b";
}
.icon_br-icon-seq:before {
  content: "\ec4c";
}
.icon_br-icon-bottle:before {
  content: "\ec4d";
}
.icon_br-icon-beer:before {
  content: "\ec4e";
}
.icon_br-icon-move-y:before {
  content: "\ec50";
}
.icon_br-icon-move-xy:before {
  content: "\ec51";
}
.icon_br-icon-move-x:before {
  content: "\ec52";
}
.icon_br-icon-mirror-y:before {
  content: "\ec53";
}
.icon_br-icon-line:before {
  content: "\ec54";
}
.icon_br-icon-down:before {
  content: "\ec55";
}
.icon_br-icon-up:before {
  content: "\ec56";
}
.icon_br-icon-maxdown:before {
  content: "\ec57";
}
.icon_br-icon-maxup:before {
  content: "\ec58";
}
.icon_br-fortune:before {
  content: "\ec4f";
}
.icon_br-OL:before {
  content: "\ec59";
}
.icon_br-logout:before {
  content: "\ec5a";
}
.icon_br-ribbon:before {
  content: "\ec5b";
}
.icon_br-qrcode1:before {
  content: "\ec5c";
}
.icon_br-qr_logo_line2:before {
  content: "\ec5d";
}
.icon_br-tiktok:before {
  content: "\ec5e";
}
.icon_br-x:before {
  content: "\ec5f";
}
.icon_br-clap:before {
  content: "\ec60";
}
.icon_br-enter1:before {
  content: "\ec61";
}
.icon_br-exit1:before {
  content: "\ec62";
}
