@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5fcn3t');
  src:  url('fonts/icomoon.eot?5fcn3t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5fcn3t') format('truetype'),
    url('fonts/icomoon.woff?5fcn3t') format('woff'),
    url('fonts/icomoon.svg?5fcn3t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coconara_qr:before {
  content: "\e900";
}
.icon-coconara:before {
  content: "\e901";
}
.icon-note:before {
  content: "\e902";
}
.icon-note_qr:before {
  content: "\e903";
}
.icon-ichinana_qr:before {
  content: "\e904";
}
.icon-ichinana:before {
  content: "\e905";
}
.icon-nico_a:before {
  content: "\e906";
}
.icon-nico_b_qr:before {
  content: "\e907";
}
.icon-nico_a_qr:before {
  content: "\e908";
}
.icon-pixiv:before {
  content: "\e909";
}
.icon-pixiv_qr:before {
  content: "\e90a";
}
.icon-pixiv_qr_l:before {
  content: "\e90b";
}
.icon-pixiv_qr_s:before {
  content: "\e90c";
}
.icon-twicas_l:before {
  content: "\e90d";
}
.icon-twicas_l_qr:before {
  content: "\e90e";
}
.icon-twicas_v:before {
  content: "\e90f";
}
.icon-twicas_v_qr:before {
  content: "\e910";
}
.icon-youtube_qr:before {
  content: "\e911";
}
.icon-bluesky_qr:before {
  content: "\e912";
}
.icon-fantia_qr:before {
  content: "\e913";
}
.icon-github_qr:before {
  content: "\e914";
}
.icon-nico_b:before {
  content: "\e915";
}
.icon-pinterest_qr:before {
  content: "\e916";
}
.icon-thread_qr:before {
  content: "\e917";
}
.icon-tiktok_qr:before {
  content: "\e918";
}
.icon-url_qr:before {
  content: "\e919";
}
.icon-wp_qr:before {
  content: "\e91a";
}
.icon-x_qr:before {
  content: "\e91b";
}
.icon-qrcode:before {
  content: "\ea96";
}
.icon-facebook:before {
  content: "\ebee";
}
.icon-facebook_b:before {
  content: "\ebef";
}
.icon-youtube:before {
  content: "\ebfb";
}
.icon-youtube_long:before {
  content: "\ebfc";
}
.icon-github:before {
  content: "\ec0e";
}
.icon-wordpress1:before {
  content: "\ec12";
}
.icon-appleinc:before {
  content: "\ec1c";
}
.icon-android:before {
  content: "\ec1e";
}
.icon-reddit:before {
  content: "\ec24";
}
.icon-pinterest:before {
  content: "\ec2f";
}
.icon-pinterest2:before {
  content: "\ec30";
}
.icon-paypal:before {
  content: "\ec36";
}
.icon-chrome:before {
  content: "\ec37";
}
.icon-firefox:before {
  content: "\ec38";
}
.icon-IE:before {
  content: "\ec39";
}
.icon-edge:before {
  content: "\ec3a";
}
.icon-safari:before {
  content: "\ec3b";
}
.icon-opera:before {
  content: "\ec3c";
}
.icon-line:before {
  content: "\ec5d";
}
.icon-tiktok:before {
  content: "\ec5e";
}
.icon-x:before {
  content: "\ec5f";
}
.icon-clap:before {
  content: "\ec60";
}
.icon-line_qr:before {
  content: "\ec63";
}
.icon-cog:before {
  content: "\ec66";
}
.icon-trashcan:before {
  content: "\ec69";
}
.icon-attachment:before {
  content: "\ec6a";
}
.icon-qr_logo_back:before {
  content: "\ec6b";
}
.icon-url:before {
  content: "\ec6c";
}
.icon-twitter:before {
  content: "\ec6d";
}
.icon-twitter_qr:before {
  content: "\ec6e";
}
.icon-onlyme:before {
  content: "\ec6f";
}
.icon-insta:before {
  content: "\ec70";
}
.icon-insta_qr:before {
  content: "\ec71";
}
.icon-cosp:before {
  content: "\ec72";
}
.icon-cosp_qr:before {
  content: "\ec73";
}
.icon-onlyme_qr:before {
  content: "\ec74";
}
.icon-logout:before {
  content: "\ec75";
}
.icon-img_fanny:before {
  content: "\ec76";
}
.icon-img_sexy:before {
  content: "\ec77";
}
.icon-img_ikemen:before {
  content: "\ec78";
}
.icon-img_kawaii:before {
  content: "\ec79";
}
.icon-drink:before {
  content: "\ec7b";
}
.icon-camera:before {
  content: "\ec91";
}
.icon-onlyme_logo:before {
  content: "\eca9";
}
.icon-onlyme_logo_2:before {
  content: "\ecab";
}
.icon-fantia:before {
  content: "\ecbc";
}
.icon-thread:before {
  content: "\ecbd";
}
.icon-lady:before {
  content: "\ecc3";
}
.icon-fortune:before {
  content: "\ecc5";
}
.icon-bluesky:before {
  content: "\ecc6";
}
.icon-img_ai:before {
  content: "\ecc9";
}
.icon-home:before {
  content: "\ed12";
}
.icon-image:before {
  content: "\ed17";
}
.icon-play:before {
  content: "\ed18";
}
.icon-music:before {
  content: "\e91c";
}
.icon-film:before {
  content: "\e91d";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-wordpress:before {
  content: "\eab4";
}
